<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    ng-cloak {
      display: none;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-viewport" ng-cloak>
    <div kendo-splitter k-panes="[{size:'350px', collapsible:true}, {}]">
      <div class="cb-flex cb-column">
        <div class="cb-breadcrumb">
          <ol class="breadcrumb" style="padding:0;">
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-link" data-toggle="dropdown">
                  Cash Management
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Internet Banking</a></li>
                  <li><a href="#">Banca móvil</a></li>
                  <li><a href="#">Chatbot</a></li>
                  <li class="active"><a href="#">Cash Management</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-link" data-toggle="dropdown">
                  ES-EC
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="active"><a href="#">ES-EC</a></li>
                  <li><a href="#">ES-BO</a></li>
                  <li><a href="#">EN-US</a></li>
                </ul>
              </div>
            </li>
          </ol>
        </div>
        <fieldset class="cb-grow" style="padding-left:5px; overflow:auto;">
          <div>
            <kendo-tree-view id="menus" k-options="menus" />
          </div>
        </fieldset>
      </div>
      <div class="cb-main-content cb-flex cb-column">
        <div class="cb-grow cb-scrollable">
          <div class="cb-view-container-root container-fluid">
            <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="state=='edit'">
              <div>
                <div class="form-vertical">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Nombre</div>
                        <div class="cb-control">
                          <input type="text" class="form-control" />
                        </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group cb-required">
                          <div class="control-label">Transacción</div>
                          <div class="cb-control">
                            <div class="input-group">
                              <input type="text" class="form-control" disabled="">
                              <span class="input-group-btn">
                              <button class="btn btn-default" disabled=""><span class="fa fa-bars"></span></button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </fieldset>
            <div class="row">
              <div class="col-sm-6">
                <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="state=='edit'">
                  <legend>Comportamiento visual</legend>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Nodo final
                          </label>
                      </div>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Paquete
                          </label>
                      </div>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Mostrar como nuevo
                          </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-sm-6">
                <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="state=='edit'">
                  <legend>Comportamiento transaccional</legend>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Fuera de línea
                          </label>
                      </div>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Autenticación
                          </label>
                      </div>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Doble autenticación
                          </label>
                      </div>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" /> Mostrar costo al cliente
                          </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <fieldset class="cb-group cb-group-simple hidden" ng-if="state=='edit'">
              <legend>Parámetros</legend>
              <div>
                <div class="form-vertical">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Fuera de línea</div>
                        <div class="cb-control">
                          <div class="btn-group cb-flex">
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===true}" ng-click="request.offline=true">Sí</button>
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===false}" ng-click="request.offline=false">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Autenticación</div>
                        <div class="cb-control">
                          <div class="btn-group cb-flex">
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===true}" ng-click="request.offline=true">Sí</button>
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===false}" ng-click="request.offline=false">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Doble autenticación</div>
                        <div class="cb-control">
                          <div class="btn-group cb-flex">
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===true}" ng-click="request.offline=true">Sí</button>
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===false}" ng-click="request.offline=false">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Mostrar costo cliente</div>
                        <div class="cb-control">
                          <div class="btn-group cb-flex">
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===true}" ng-click="request.offline=true">Sí</button>
                            <button class="btn btn-default cb-grow" ng-class="{active:request.offline===false}" ng-click="request.offline=false">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple" ng-if="state=='edit'">
              <legend>Atributos</legend>
              <div>
                <kendo-grid options="attributes"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple" ng-if="state=='pay'">
              <legend>Causas de cobro</legend>
              <div>
                <kendo-grid options="payReasons"></kendo-grid>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="cb-navbar-placeholder cb-navbar-bottom" ng-show="state">
          <nav class="navbar navbar-default navbar-fixed-bottom">
            <button type="button" class="btn btn-primary navbar-btn" ng-click="resetForm()">Aceptar</button>
            <button type="button" class="btn btn-default navbar-btn">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <ul kendo-context-menu k-filter="'#menus > li > div'" ng-cloak>
    <li ng-click="state='edit'">Agregar</li>
  </ul>

  <ul kendo-context-menu k-filter="'#menus > li > ul div'" ng-cloak>
    <li ng-click="state='edit'">Agregar</li>
    <li ng-click="state='edit'">Editar</li>
    <li ng-click="removeNode()">Eliminar</li>
    <li class="k-separator"></li>
    <li ng-click="state='pay'">Causas de cobro</li>
  </ul>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
