<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    ng-cloak {
      display: none;
    }
    .k-grid td.k-detail-cell {
      padding: 0;
    }

    .k-grid .table {
      margin: 15px;
      margin-left: 0;
      border: 1px solid #ddd;
      background-color: #FFF;
      width: -webkit-fill-available;
    }
    .k-grid .table > tbody > tr:first-child > th {
      border-top: 0;
    }
    .k-grid .table th,
    .k-grid .table td {
      background: transparent;
    }

    .k-grid .k-alt .table {
      background-color: rgba(245,245,245);
    }
    .k-grid .k-grid .k-grid-header th {
      background-color: #999;
      border-color: #999;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
      border: 0;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-cloak ng-init="header.collapsable=true; header.collapsed=true; editable=true;">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding:30px;">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Canal</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option selected>Internet Banking</option>
                          <option>Banca Móvil</option>
                          <option>Chatbot</option>
                          <option>Cash Management</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Usuario</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option selected>ncastaneda</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Tipo de pago</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option>Pago de préstamos</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Estado</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option>Activo</option>
                          <option>Inactivo</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Fecha inicio</div>
                      <div class="cb-control">
                        <input type="date" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <kendo-grid options="schedulePayments"></kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <button class="btn btn-default navbar-btn" ng-click="goto('user-view.html')">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="detail" class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Detalle pago</h4>
        </div>
        <div class="modal-body">
          <table class="table" style="background:#FFF; border:1px solid #CCC;">
            <tbody>
              <tr><th>Canal</th><td>Internet Banking</td>
              <tr><th>Producto</th><td>Cuenta de Ahorros</td>
              <tr><th>IP</th><td>234.345.23.45</td></tr>
              <tr><th>Moneda</th><td>USD</td>
              <tr><th>Cuenta</th><td>12309888798</td>
              <tr><th>Comisión</th><td>$0.35</td></tr>
              <tr><th>Institución Origen</th><td>Banco Cobis</td></tr>
              <tr><th>Institución Destino</th><td>Banco Externo</td></tr>
            </tbody>
          </table>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Imprimir</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul kendo-context-menu="contextMenu" ng-cloak k-options="contextMenuOptions">
    <li ng-click="confirmApprove()">Cancelar pago</li>
    <li ng-click="confirmReject()">Imprimir</li>
  </ul>
  <script type="text/x-kendo-template" id="payment-detail">
    <!--
    <table class="table">
      <tbody>
        <tr><th>Canal</th><td>Internet Banking</td><th>Usuario</th><td>ncastaneda</td></tr>
        <tr><th>Fecha inicio</th><td>12/12/2017</td><th>Total pagos</th><td>12</td></tr>
        <tr><th>Pagos realizados</th><td>3</td><th>Periodicidad</th><td>Mensual</td></tr>
        <tr><th>Notificar</th><td>Sí</td><th>Días notifiación</th><td>3</td></tr>
        <tr><th>Origen de fondos</th><td>Arriendo</td><th>Destino de fondos</th><td>Pago préstamo</td></tr>
        <tr><th>Fecha próximo cobro</th><td>25/09/2018</td></tr>
      </tbody>
    </table>
    -->
    <kendo-grid options="transactions5" style="margin-right: 15px; margin-bottom: 15px; margin-top:15px;"></kendo-grid>
  </script>
  <script type="text/x-kendo-template" id="transaction-detail">
    <table class="table">
      <tbody>
        <tr><th>Notas</th><td>Se proceso después de 5 reintentos</td></tr>
      </tbody>
    </table>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
