<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    ng-cloak {
      display: none;
    }
    .k-grid td.k-detail-cell {
      padding: 0;
    }
    .table > tbody > tr:first-child > th {
      border-top: 0;
    }

    .k-grid .table {
      margin: 15px;
      margin-left: 0;
      border: 1px solid #ddd;
      background-color: #FFF;
      width: -webkit-fill-available;
    }
    .k-grid .table > tbody > tr:first-child > th {
      border-top: 0;
    }
    .k-grid .table th,
    .k-grid .table td {
      background: transparent;
    }

    .k-grid .k-alt .table {
      background-color: rgba(245,245,245);
    }
    .k-grid .k-grid .k-grid-header th {
      background-color: #999;
      border-color: #999;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-cloak ng-init="header.collapsable=true; header.collapsed=true; editable=true;">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-breadcrumb">
        <ul class="breadcrumb">
          <li><a href="user-view.html" class="btn btn-default"><span class="fa fa-angle-left"></span> #0245000345 - Tapia Andrade Viviana María</a></li>
        </ul>
      </div>
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding:30px;">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Canal</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option selected>Internet Banking</option>
                          <option>Banca Móvil</option>
                          <option>Chatbot</option>
                          <option>Cash Management</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Usuario</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option selected>ncastaneda</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Transacción</div>
                      <div class="cb-control">
                        <input type="text" kendo-combo-box options="transactions" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Tipo de ejecución</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todas</option>
                          <option>En línea</option>
                          <option>Fuera de línea</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Estado de ejecución</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todas</option>
                          <option>Ejecutado</option>
                          <option>Error Normal</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Fecha proceso</div>
                      <div class="cb-control cb-flex cb-gutters-tiny cb-middle">
                        <div class="cb-grow">
                          <input type="date" kendo-datepicker />
                        </div>
                        <div>/</div>
                        <div class="cb-grow">
                          <input type="date" kendo-datepicker />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <kendo-grid options="transactions4"></kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div id="reject" class="modal fade" ng-cloak>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirmación de rechazo</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="control-label">Indique el motivo del rechazo</div>
                      <div class="cb-control">
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-kendo-template" id="transaction-detail">
    <table class="table">
      <tbody>
        <tr><th>Canal</th><td>Internet Banking</td></tr>
        <tr><th>Producto</th><td>Cuenta de Ahorros</td></tr>
        <tr><th>IP</th><td>234.345.23.45</td></tr>
        <tr><th>Moneda</th><td>USD</td></tr>
        <tr><th>Cuenta</th><td>12309888798</td></tr>
        <tr><th>Comisión</th><td>$0.35</td></tr>
        <tr><th>Institución Origen</th><td>Banco Cobis</td></tr>
        <tr><th>Institución Destino</th><td>Banco Externo</td></tr>
      </tbody>
    </table>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
