<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    .pac-container {
      z-index: 2000;
    }
    #map {
      border: 1px solid #CCC;
    }
    #searchbox {
      border-radius: 0;
      border-left: 0;
      border-top: 0;
      border-right: 0;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-view-container-root cb-view-container cb-group-layout container-fluid">
      <div class="container-fluid" style="max-width:600px;">
        <div class="cb-flex cb-gutters">
          <div>
            <button ng-click="showModal('location-form')" class="btn btn-default btn-lg" title="Nuevo usuario"><span class="fa fa-plus"></span></button>
          </div>
          <div class="cb-grow">
            <div class="cb-flex cb-gutters">
              <div class="cb-grow form-group" style="margin-bottom:0;">
                <input type="text" class="form-control input-lg" placeholder="Ingrese {{ selectedField.label }}" />
              </div>
              <div ng-if="!isAdvanced">
                <button class="btn btn-primary btn-lg" ng-click="find()" title="Buscar"><span class="fa fa-search"></span></button>
              </div>
            </div>
            <div id="filters" class="cb-flex cb-gutters" ng-class="{'cb-gap-bottom':!isAdvanced}">
              <div ng-show="filters.field.length>1" class="form-control-static">Buscar por:</div>
              <div ng-show="filters.field.length>1">
                <div class="dropdown">
                  <button class="btn btn-link" data-toggle="dropdown">
                    {{ selectedField.label }} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-class="{'active':selectedField==item}" ng-repeat="item in filters.field"><a href="#" ng-click="setField(item)">{{ item.label }}</a></li>
                  </ul>
                </div>
              </div>
              <div class="cb-grow text-right">
                <button class="btn btn-link" ng-click="isAdvanced = !isAdvanced">{{ isAdvanced? 'Búsqueda básica' : 'Búsqueda avanzada' }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="isAdvanced" style="margin-top: 15px; margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; padding-top: 15px; border-top: 1px solid #ddd;">
        <div class="container">
          <div class="row cb-flex cb-wrap cb-gap-bottom">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Servicio</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Cajero automático</option>
                    <option>Cajero multifunción</option>
                    <option>Ventanillas</option>
                    <option>Autoservicio</option>
                    <option>Oficinas</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Estado</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">País</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Ecuador</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Provincia</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Pichincha</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Ciudad</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Quito</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div ng-show="!showResults && isAdvanced">
          <div class="cb-grid-no-header k-grid k-widget">
            <div class="k-header k-grid-toolbar ng-scope">
              <button class="btn btn-primary ng-scope" ng-click="showResults=true"><span class="fa fa-search"></span> Buscar</button>
            </div>
          </div>
        </div>
        <kendo-grid class="cb-grid-no-header" ng-show="showResults" options="locations"></kendo-grid>
      </div>
    </div>
  </div>

  <div id="location-form" class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ubicación</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div class="row cb-flex cb-wrap cb-gap-bottom">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="control-label">Nombre</div>
                  <div class="cb-control">
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="control-label">Dirección</div>
                  <div class="cb-control">
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="control-label">Estado</div>
                  <div class="cb-control">
                    <select class="form-control">
                      <option></option>
                      <option>Activo</option>
                      <option>Inactivo</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="control-label">País</div>
                  <div class="cb-control">
                    <select class="form-control">
                      <option></option>
                      <option>Ecuador</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="control-label">Provincia</div>
                  <div class="cb-control">
                    <select class="form-control">
                      <option></option>
                      <option>Pichincha</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="control-label">Ciudad</div>
                  <div class="cb-control">
                    <select class="form-control">
                      <option></option>
                      <option>Quito</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple">
            <legend>Imagen</legend>
            <div class="row cb-flex cb-wrap">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="cb-control">
                    <div class="input-group">
                      <input type="text" class="form-control" readonly />
                      <span class="input-group-btn">
                        <button class="btn btn-default"><span class="fa fa-paperclip"></span></button>
                        <button class="btn btn-default"><span class="fa fa-times-circle-o"></span></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="cb-control">
                    <img src="http://www.riocentroshopping.com/assets/img/upload/big/308541cc1641488ae6e0b14c4135b1a8.jpg" class="img-responsive" />
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple">
            <legend>Localización</legend>
            <div class="row cb-flex cb-wrap">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="search" id="searchbox" class="form-control" />
                  <div id="map" style="height:300px;"></div>
                </div>
              </div>
              <div class="col-sm-6" ng-show="request.manualCoords">
                <div class="form-group">
                  <div class="control-label">Latitud</div>
                  <div class="cb-control">
                    <input type="text" class="form-control" id="lat" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6" ng-show="request.manualCoords">
                <div class="form-group">
                  <div class="control-label">Longitud</div>
                  <div class="cb-control">
                    <input type="text" class="form-control" id="lng" />
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="account-type" ng-model="request.manualCoords" /> Ingresar coordenadas manualmente
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-kendo-template" id="services">
    <div class="cb-group cb-group-collapsible cb-group-collapsible-boxes">
      <ul kendo-panel-bar k-options="{expandMode:'single'}" style="margin-bottom:6px;">
        <li class="k-state-active">
          <span>Servicios</span>
          <div style="padding-top:0;">
            <div class="row cb-flex">
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="account-type" value="employed" ng-check="owner.employmentType" /> Cajero automático
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="account-type" value="employed" ng-check="owner.employmentType" /> Cajero multifunción
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="account-type" value="employed" ng-check="owner.employmentType" /> Ventanillas
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="account-type" value="employed" ng-check="owner.employmentType" /> Autoservicio
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="account-type" value="employed" ng-check="owner.employmentType" /> Oficinas
                  </label>
                </div>
              </div>
            </div>
            <div class="cb-navbar cb-navbar-bottom">
              <nav class="navbar navbar-default">
                <button class="btn btn-primary navbar-btn">Guardar</button>
              </nav>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/x-kendo-template" id="location">
    <div class="cb-flex cb-gutters cb-middle">
      <div style="border-radius:3px; background:url(#: data.image #) no-repeat; background-size:cover; width:120px; height:80px;"></div>
      <div class="cb-grow">
        <div><span title="Nombre">#: data.name #</span></div>
        <div class="small text-muted"><span title="Dirección">#: data.address #, #: data.city #, #: data.state #, #: data.country #</span></div>
      </div>
      <div class="text-right">
        <div title="Estado">#: data.status #</div>
      </div>
    </div>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controllerLocations" src="../../lib/require/require.js"></script>
  <script>
    var map;
    function initMap() {
      var coords = {lat: -0.18260586363608503, lng: -78.4791290985138};
      map = new google.maps.Map(document.getElementById('map'), {
        center: coords,
        disableDefaultUI: true,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,
        zoom: 17
      });
      map.addListener('click', function(e) {
        map.panTo(e.latLng);
        marker.setPosition(e.latLng);
        $('#lat').val(e.latLng.lat);
        $('#lng').val(e.latLng.lng);
      });
      var marker = new google.maps.Marker({
        map: map,
        draggable: true,
        position: new google.maps.LatLng(coords)
      });
      google.maps.event.addListener(marker, "dragend", function(e) {
        map.panTo(e.latLng);
        $('#lat').val(e.latLng.lat);
        $('#lng').val(e.latLng.lng);
      });
      var input = document.getElementById('searchbox');
      var searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // Bias the SearchBox results towards current map's viewport.
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      var markers = [];
      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }
          var icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };

          // Create a marker for each place.
          markers.push(new google.maps.Marker({
            map: map,
            icon: icon,
            title: place.name,
            position: place.geometry.location
          }));

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAisy9imVO4IzHM25ruQOYkzbmQmLxT23k&callback=initMap&libraries=places"
    async defer></script>
</body>

</html>
