<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    .k-grid .cb-actions {
      text-align: right;
    }
    .cb-icon-channel {
      height: 72px;
      width: 100%;
      display: block;
    }
    .pg-options {
      grid-template-columns: repeat(5, 1fr);
    }
    .pg-options .btn-default {
      border-color: transparent;
      background-color: transparent;
      box-shadow: 0 0;
      outline: none;
      position: relative;
    }
    .pg-options .btn .pg-icon {
      display: none;
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 24px;
    }
    .pg-options .btn.active {
      border: 1px solid #3d74a4;
      outline: none;
    }
    .pg-options .btn .fa-check-circle {
      display: none;
    }
    .pg-options .btn.active .fa-check-circle {
      display: block;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="editable=true; create=true; header=header1">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-form-header cb-no-margin" ng-show="customer" ng-include="'../shared/header.html'"></div>
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding:30px;">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12" ng-show="!customer">
                    <div class="form-group">
                      <div class="control-label">Cliente</div>
                      <div class="cb-control">
                        <div class="input-group">
                          <input type="text" class="form-control" readonly />
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="customer={}"><span class="fa fa-bars"></span></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="cb-control">
                        <div class="cb-grid-layout pg-options">
                          <button class="btn btn-default" data-toggle="button">
                            <div class="panel-body text-center">
                              <div>
                                <svg class="cb-icon-channel"><use xlink:href="../../images/factoricons-slim.svg#channel-web"></use></svg>
                              </div>
                              <div>Internet Banking</div>
                            </div>
                            <span class="pg-icon fa fa-check-circle text-success"></span>
                          </button>
                          <button class="btn btn-default" data-toggle="button">
                            <div class="panel-body text-center">
                              <div>
                                <svg class="cb-icon-channel"><use xlink:href="../../images/factoricons-slim.svg#channel-mobile"></use></svg>
                              </div>
                              <div>Banca móvil</div>
                            </div>
                            <span class="pg-icon fa fa-check-circle text-success"></span>
                          </button>
                          <button class="btn btn-default" data-toggle="button">
                            <div class="panel-body text-center">
                              <div>
                                <svg class="cb-icon-channel"><use xlink:href="../../images/factoricons-slim.svg#channel-chatbot"></use></svg>
                              </div>
                              <div>Chatbot</div>
                            </div>
                            <span class="pg-icon fa fa-check-circle text-success"></span>
                          </button>
                          <button class="btn btn-default" data-toggle="button">
                            <div class="panel-body text-center">
                              <div>
                                <svg class="cb-icon-channel"><use xlink:href="../../images/factoricons-slim.svg#money"></use></svg>
                              </div>
                              <div>Cash Management</div>
                            </div>
                            <span class="pg-icon fa fa-check-circle text-success"></span>
                          </button>
                          <button class="btn btn-default" data-toggle="button">
                            <div class="panel-body text-center">
                              <div>
                                <svg class="cb-icon-channel"><use xlink:href="../../images/factoricons-slim.svg#money"></use></svg>
                              </div>
                              <div>ATM</div>
                            </div>
                            <span class="pg-icon fa fa-check-circle text-success"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Vigencia</div>
                      <div class="cb-control">
                        <select class="form-control" ng-model="request.expiration">
                          <option value="undefined">Indefinido</option>
                          <option value="days">Específico</option>
                          <option value="general">General</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="request.expiration=='general'">
                    <div class="form-group">
                      <div class="control-label">Categoría</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="undefined">Días de vigencia del login (0 días)</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="request.expiration=='days'">
                    <div class="form-group">
                      <div class="control-label">Tiempo</div>
                      <div class="cb-control">
                        <div class="input-group">
                          <input type="text" class="form-control" />
                          <span class="input-group-addon">Días</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Lenguaje por defecto</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Español Ecuador</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Segundo factor de autenticación</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="undefined">OTP</option>
                          <option value="days">Tarjeta de coordenadas</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="request.allProducts">
                    <div class="form-group">
                      <div class="control-label">Cobro comisiones</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>02300004567 - CUENTA DE AHORROS</option>
                          <option>02300002356 - CUENTA CORRIENTE</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple" ng-if="!request.allProducts">
            <legend>Productos</legend>
            <div>
              <kendo-grid k-scope-field="productsGrid" k-options="products2"></kendo-grid>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple">
            <legend>Medios de envío</legend>
            <div>
              <kendo-grid options="deliveryTypes2"></kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <button class="btn btn-primary navbar-btn" ng-click="addUser()">Guardar</button>
          <a href="user-search.html" class="btn btn-default navbar-btn">Cancelar</a>
        </nav>
      </div>
    </div>
  </div>

  <div ng-include="'includes/popups.html'"></div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
