<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding: 30px;">
          <div class="cb-group cb-group-collapsible">
            <ul kendo-panel-bar>
              <li class="k-state-active">
                Detalle
                <div class="cb-group cb-group-simple cb-group-flex">
                  <fieldset class="cb-group cb-group-simple cb-group-flex">
                    <div>
                      <div class="form-vertical">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Canal</div>
                              <div class="cb-control">
                                <select class="form-control">
                                  <option>Todos</option>
                                  <option>Internet Banking</option>
                                  <option>Banca móvil</option>
                                  <option>Cash management</option>
                                  <option>ATM</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Perfil</div>
                              <div class="cb-control">
                                <select class="form-control">
                                  <option>Todos</option>
                                  <option>Perfil Básico</option>
                                  <option>Perfil Jurídico</option>
                                  <option>Perfil Jurídico Consulta</option>
                                  <option>Perfil Jurídico Operador</option>
                                  <option>Perfil Jurídico Autorizante</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Estado</div>
                              <div class="cb-control">
                                <select class="form-control">
                                  <option>Todos</option>
                                  <option>Activo</option>
                                  <option>Inactivo</option>
                                  <option>Bloqueado</option>
                                  <option>Cancelado</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Sucursal</div>
                              <div class="cb-control">
                                <select class="form-control">
                                  <option>Todos</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Afiliador</div>
                              <div class="cb-control">
                                <select class="form-control">
                                  <option>Todos</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Fecha inicio</div>
                              <div class="cb-control">
                                <input type="text" kendo-datepicker />
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="control-label">Fecha fin</div>
                              <div class="cb-control">
                                <input type="text" kendo-datepicker />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div>
                    <kendo-grid options="usoCanal"></kendo-grid>
                  </div>
                </div>
              </li>
              <li class="k-state-active">
                Sumario
                <div>
                  <div class="row">
                    <!--
                    <div class="col-sm-5">
                      <fieldset class="cb-group cb-group-simple" style="background-color: #FFF; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2); margin-bottom: 30px;">
                        <div kendo-chart k-options="usersByChannel" style="height: 300px; padding: 15px;"></div>
                        <kendo-grid options="usersByChannelDetail"></kendo-grid>
                      </fieldset>
                    </div>
                  -->
                    <div class="col-sm-12">
                      <div class="cb-group cb-group-simple" style="background-color: #FFF; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2); margin-bottom: 30px;">
                        <div ng-if="usersByStatus" kendo-chart k-options="usersByStatus" style="height: 300px; padding: 15px;"></div>
                        <div kendo-grid="usersByStatusGrid" options="usersByStatusDetail"></div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <fieldset class="cb-group cb-group-simple" style="background-color: #FFF; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2); margin-bottom: 30px;">
                        <div kendo-chart k-options="transactionsByType" style="height: 300px; padding: 15px;"></div>
                        <kendo-grid options="transactionsByTypeDetail"></kendo-grid>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-kendo-template" id="operation-detail">
    <fieldset class="cb-group cb-group-simple cb-group-flex">
      <div>
        <div class="form-vertical" style="margin:0;">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Sucursal</div>
                <div class="cb-control">Amazonas</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Afiliador</div>
                <div class="cb-control">Jose Perez</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Tipo</div>
                <div class="cb-control">Natural</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Categoría</div>
                <div class="cb-control">Categoría de ejemplo</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Tipo autenticación</div>
                <div class="cb-control">Login Tipo A - Nivel I</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Tipo autorización</div>
                <div class="cb-control">OTP</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
