<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-viewport">
    <div kendo-splitter k-panes="[{size:'350px', collapsible:true}, {}]">
      <div>
        <kendo-tree-view id="oficinas" k-data-source="oficinas" />
      </div>
      <div class="cb-main-content">
        <div class="cb-view-container-root container-fluid">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group cb-required">
                      <div class="control-label">Código</div>
                      <div class="cb-control cb-flex cb-gutters-tiny">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group cb-required">
                      <div class="control-label">Descripción</div>
                      <div class="cb-control">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group cb-required">
                      <div class="control-label">Estado de vigencia</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Vigente</option>
                          <option>Conectada</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group cb-required">
                      <div class="control-label">Nivel de la organización</div>
                      <div class="cb-control cb-flex cb-gutters-tiny">
                        <input type="text" value="EMPRESA" class="form-control" readonly />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group cb-required">
                      <div class="control-label">Creado</div>
                      <div class="cb-control cb-flex cb-gutters-tiny">
                        <input type="text" class="form-control" readonly value="12/12/2017" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple">
            <legend>Oficinas Admin</legend>
            <div>
              <kendo-grid options="oficinasAdmin"></kendo-grid>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="cb-control">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="en-cuota" checked> Consolidación
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="en-cuota"> Afectación contable
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="cb-navbar-placeholder cb-navbar-bottom">
          <nav class="navbar navbar-default navbar-fixed-bottom">
            <button class="btn btn-primary navbar-btn" ng-click="submitCaja()">Aceptar</button>
            <button class="btn btn-default navbar-btn" ng-click="view='cajas'">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <ul kendo-context-menu k-filter="'#oficinas div'">
    <li>Agregar oficina</li>
    <li data-toggle="modal" data-target="#oficina">Cambiar oficina superior</li>
  </ul>

  <div id="nivel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Nivel</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Nombre</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Eliminar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="oficina" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Oficina superior</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Seleccione oficina superior</div>
              <div class="cb-control">
                <kendo-tree-view k-data-source="oficinas" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
