<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding:30px;">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Número</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Nombre</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Descripción</div>
                    <div class="cb-control">
                      <textarea class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Nivel de cuenta</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" readonly value="4 - CUENTA" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Cuenta superior</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" readonly value="1101" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Naturaleza</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list>
                        <option></option>
                        <option>Deudora</option>
                        <option>Acredora</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Vigencia</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list>
                        <option></option>
                        <option>Vigente</option>
                        <option>Cancelada</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="movement">
                  <div class="form-group">
                    <div class="control-label">Moneda</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list>
                        <option></option>
                        <option>Vigente</option>
                        <option>Cancelada</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="movement">
                  <div class="form-group">
                    <div class="control-label">Sinónimo</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" checked ng-model="movement"> Cuenta de movimiento
                        </label>
                      </div>
                      <div ng-show="movement">
                        <div class="checkbox">
                          <label>
                          <input type="checkbox"> Cuenta de eliminación
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox"> Cuenta puente
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox"> Automática
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="create=false;editable=false">Guardar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="create=false;editable=false">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div ng-include="'includes/popups.html'"></div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
