<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    ng-cloak {
      display: none;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-viewport" ng-cloak>
    <div kendo-splitter k-panes="[{size:'350px', collapsible:true}, {}]">
      <div class="cb-flex cb-column">
        <fieldset class="cb-grow" style="padding-left:5px; overflow:auto;">
          <div>
            <kendo-tree-view id="menus" k-options="menus" />
          </div>
        </fieldset>
      </div>
      <div class="cb-main-content cb-flex cb-column">
        <div class="cb-grow cb-scrollable">
          <div class="cb-view-container-root container-fluid">
            <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="state=='edit'">
              <div>
                <div class="form-vertical">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Nombre</div>
                        <div class="cb-control">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group cb-required">
                        <div class="control-label">Transacción</div>
                        <div class="cb-control">
                          <input type="text" kendo-combo-box options="transactions3" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="cb-navbar-placeholder cb-navbar-bottom" ng-show="state">
          <nav class="navbar navbar-default navbar-fixed-bottom">
            <button type="button" class="btn btn-primary navbar-btn" ng-click="resetForm()">Aceptar</button>
            <button type="button" class="btn btn-default navbar-btn">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <ul kendo-context-menu k-filter="'#menus > li > div'" ng-cloak>
    <li ng-click="state='edit'">Agregar</li>
  </ul>

  <ul kendo-context-menu k-filter="'#menus > li > ul div'" ng-cloak>
    <li ng-click="state='edit'">Agregar</li>
    <li ng-click="state='edit'">Editar</li>
    <li ng-click="removeNode()">Eliminar</li>
  </ul>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
