<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="editable=false;">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip="tabs" class="cb-flex cb-column cb-grow">
          <ul>
            <li id="tab-general" class="k-state-active">
              <a href="#">General</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Roles y horarios</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Accesos a servidores</a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div ng-include="'includes/user.html'"></div>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="roles"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container-fluid">
              <kendo-grid options="servers"></kendo-grid>
            </div>
          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <button class="btn btn-primary navbar-btn" ng-click="edit()">Guardar</button>
          <button class="btn btn-default navbar-btn" ng-click="editable=false">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="role" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Agregar rol</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group cb-required">
                      <div class="control-label">Rol</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="date">Administrador</option>
                          <option value="days">Mesa de servicio</option>
                          <option value="row">Cajero</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group cb-required">
                      <div class="control-label">Horario</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="date">8:00am - 12:00pm / Lu, Ma, Mi, Ju, Vi</option>
                          <option value="days">12:00pm - 4:00pm / Sa, Do</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12" ng-if="request.expiration">
                    <div class="form-group cb-required">
                      <div class="control-label">Vigencia</div>
                      <div class="cb-control cb-flex cb-gutters">
                        <div>
                          <input type="date" kendo-datepicker placeholder="Desde" />
                        </div>
                        <div>
                          <input type="date" kendo-datepicker placeholder="Hasta" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="cb-control">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="request.expiration" /> Caducidad de rol
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="server" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Agregar acceso</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group cb-required">
                      <div class="control-label">Filial</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="date">Regional Sierra</option>
                          <option value="days">Regional Centro</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group cb-required">
                      <div class="control-label">Oficina</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="date">Matriz</option>
                          <option value="days">12 de Octubre</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group cb-required">
                      <div class="control-label">Nodo</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="date">CB1234</option>
                          <option value="days">CB3456</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="reason" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Motivo cambio contraseña</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div>
              <select class="form-control">
                <option></option>
                <option>Olvido</option>
              </select>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
