<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    ng-cloak {
      display: none;
    }
    .k-grid-edit-row .k-grid-edit,
    tr:not(.k-grid-edit-row) .k-grid-save,
    tr:not(.k-grid-edit-row) .k-grid-cancel {
      display: none;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-cloak>
    <div class="container" style="padding:30px;">
      <kendo-grid options="definitions2"></kendo-grid>
    </div>
  </div>

  <div id="definition" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Producto bancario</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex" ng-disabled="!definitionEditable">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="control-label">Nombre</div>
                      <div class="cb-control cb-flex cb-gutters-tiny">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Moneda</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>USD</option>
                          <option>EUR</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                      <legend>Mercado/s</legend>
                      <div>
                        <kendo-grid options="mercados" style="margin:0;"></kendo-grid>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-sm-6">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                      <legend>Producto/s cobis</legend>
                      <div>
                        <kendo-grid options="productosCobis" style="margin:0;"></kendo-grid>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="offices2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Costos por oficina</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="selectionType=='Individual'">
            <div class="form-group">
              <div class="cb-control cb-flex cb-gutters-tiny">
                <div class="cb-grow">
                  <input type="text" class="form-control" placeholder="Filtro de oficinas" />
                </div>
                <div>
                  <button class="btn btn-default"><span class="fa fa-search"></span></button>
                </div>
              </div>
            </div>
            <div>
              <kendo-grid options="oficinas4"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aplicar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="rubros2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Rubros</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <fieldset class="cb-group cb-group-simple cb-group-flex">
                <div>
                  <div class="form-group">
                    <div class="control-label">Categoría</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option></option>
                        <option>Clientes</option>
                        <option>Normal</option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="cb-group cb-group-simple">
                <legend>Rubros</legend>
                <div>
                  <kendo-grid options="rubros"></kendo-grid>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-8">
              <fieldset class="cb-group cb-group-simple cb-group-flex">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="control-label">Tipo de rango</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Sobre saldo disponible</option>
                          <option>Sobre saldo contable</option>
                          <option>Sobre promedio contable</option>
                          <option>Sobre promedio disponible</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="control-label">Grupo</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="cb-group cb-group-simple">
                <legend>Rangos</legend>
                <div>
                  <kendo-grid id="ranges-grid" options="ranges2"></kendo-grid>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aplicar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
