<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    ng-cloak {
      display: none;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-cloak>
    <div class="container" style="padding:30px;">
      <kendo-grid options="definitions"></kendo-grid>
    </div>
  </div>

  <div id="definition" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Producto bancario</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex" ng-disabled="!definitioEditable">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="control-label">Nombre</div>
                      <div class="cb-control cb-flex cb-gutters-tiny">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Moneda</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>USD</option>
                          <option>EUR</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                      <legend>Mercado/s</legend>
                      <div>
                        <kendo-grid options="mercados"></kendo-grid>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-sm-6">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                      <legend>Producto/s cobis</legend>
                      <div>
                        <kendo-grid options="productosCobis"></kendo-grid>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="prices" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Grupo de costos</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="control-label">Nombre</div>
                      <div class="cb-control cb-flex cb-gutters-tiny">
                        <div class="cb-grow">
                          <select class="form-control">
                            <option></option>
                            <option>General</option>
                            <option>Costos sierra</option>
                          </select>
                        </div>
                        <div>
                          <button class="btn btn-default" data-target="#name" data-toggle="modal"><span class="fa fa-plus"></span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="control-label">Rubro</div>
                      <div class="cb-control">
                        <select kendo-combo-box>
                          <option></option>
                          <option>Sobregiro contratado / Interés sobre el disponible</option>
                          <option>Sobregiro contratado / Impuesto sobre el interés ganado</option>
                          <option>Sobregiro contratado / Tasa certificación cheque</option>
                          <option>Pago de intereses / Interés sobre el disponible</option>
                          <option>Pago de intereses / Impuesto sobre el interés ganado</option>
                          <option>Pago de intereses / Tasa certificación cheque</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="control-label">Categoría</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Clientes</option>
                          <option>Normal</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="control-label">Tipo de rango</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Sobre saldo disponible</option>
                          <option>Sobre saldo contable</option>
                          <option>Sobre promedio contable</option>
                          <option>Sobre promedio disponible</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                      <legend>Valores</legend>
                      <div>
                        <kendo-grid options="ranges"></kendo-grid>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="control-label">Fecha de vigencia</div>
                      <div class="cb-control">
                        <input type="date" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="name" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Grupo</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="control-label">Nombre</div>
            <div class="cb-control">
              <input type="text" autofocus class="form-control" />
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="offices" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Oficina</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div class="form-group">
              <div class="cb-control cb-flex cb-gutters-tiny">
                <div class="cb-grow">
                  <input type="text" class="form-control" placeholder="Filtro de oficinas" />
                </div>
                <div>
                  <button class="btn btn-default"><span class="fa fa-search"></span></button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <kendo-grid options="oficinas2"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="offices2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Costos por oficina</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div class="form-group">
              <div class="cb-control cb-flex cb-gutters-tiny">
                <div class="cb-grow">
                  <input type="text" class="form-control" placeholder="Filtro de oficinas" />
                </div>
                <div>
                  <button class="btn btn-default"><span class="fa fa-search"></span></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Tipo de Selección</div>
              <div class="cb-control">
                <select class="form-control" ng-model="selectionType">
                  <option>Individual</option>
                  <option>Múltiple</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-if="selectionType=='Múltiple'">
              <div class="control-label">Grupo de costos</div>
              <div class="cb-control">
                <select class="form-control">
                  <option>General</option>
                  <option>Costos sierra</option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="selectionType=='Individual'">
            <div>
              <kendo-grid options="oficinas"></kendo-grid>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="selectionType=='Múltiple'">
            <div>
              <kendo-grid options="oficinas3"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aplicar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
