<fieldset class="cb-group cb-group-simple cb-group-flex" ng-disabled="!editable">
  <div>
    <div class="form-vertical">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Producto</div>
            <div class="cb-control">
              <select class="form-control">
              <option></option>
              <option>Certificado al vencimiento</option>
              <option>Depósito a plazo fijo</option>
            </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Oficina</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Oficial</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Categoría</div>
            <div class="cb-control">
              <select class="form-control">
              <option></option>
              <option>Nominativos</option>
            </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Periodicidad</div>
            <div class="cb-control">
              <select class="form-control">
              <option>Ninguna</option>
            </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4" ng-show="renovation">
          <div class="form-group">
            <div class="control-label">Tasa por días vencidos</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4" ng-show="renovation">
          <div class="form-group">
            <div class="control-label">Autorizado por</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <hr />
        </div>
        <div class="col-sm-4" ng-show="!renovation">
          <div class="form-group">
            <div class="control-label">Monto</div>
            <div class="cb-control cb-flex cb-gutters">
              <div class="cb-grow">
                <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
              </div>
              <div>
                <select class="form-control">
                  <option>USD</option>
                  <option>EUR</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4" ng-show="renovation">
          <div class="form-group">
            <div class="control-label">Aumento/Disminuación Capital</div>
            <div class="cb-control">
              <div class="cb-flex cb-gutters">
                <div class="cb-grow">
                  <input type="number" ng-model="amount" k-ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                </div>
                <div>
                  <select class="form-control" disabled>
                    <option>USD</option>
                    <option>EUR</option>
                  </select>
                </div>
              </div>
              <div class="text-muted small" style="margin-top:5px;">
                <div class="cb-flex">
                  <div class="cb-grow">
                    Monto actual:<br />
                    Monto renovación:
                  </div>
                  <div class="text-right">
                   {{ !interest? 20000 : 22000 | currency }} USD<br/>
                   {{ !interest? 20000+amount : 22000+amount | currency}} USD
                 </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Plazo</div>
            <div class="cb-control cb-flex cb-gutters">
              <div class="cb-grow">
                <input type="number" kendo-numeric-text-box k-spinners="false" k-format="c0" />
              </div>
              <div>
                <select class="form-control">
                  <option>Días</option>
                  <option>Meses</option>
                  <option>Años</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Tasa</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" ng-model="rate" class="form-control" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Fecha de ingreso</div>
            <div class="cb-control">
              <input type="date" kendo-datepicker />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Fecha de vencimiento</div>
            <div class="cb-control">
              <input type="date" kendo-datepicker />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">&nbsp;</div>
            <div class="cb-control">
              <button class="btn btn-default btn-block" ng-click="simulate()">Simular</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="cb-control">
              <div class="checkbox" ng-show="renovation">
                <label>
                  <input type="checkbox" ng-model="interest" /> Incluir intereses por pagar
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" /> Retiene impuestos
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
