<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    .table th, .table td {
      font-size: 12px;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="editable=true; create=true;">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding:30px;">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Fecha</div>
                      <div class="cb-control">
                        <input type="text" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Moneda</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>USD - Dólares americanos</option>
                          <option>BOP - Bolivianos</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Forma de pago/cobro</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Cuenta contable</option>
                          <option>Transferencia</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <kendo-grid options="cuadre"></kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-kendo-template" id="cuadre-detail">
    <fieldset class="cb-group cb-group-simple cb-group-flex">
      <div>
        <div class="form-vertical" style="margin:0;">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Institución financiera</div>
                <div class="cb-control">Banco Cobis</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Tipo de cuenta</div>
                <div class="cb-control">Cuenta Corriente</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Número de cuenta</div>
                <div class="cb-control">000345676555</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Número de cheque</div>
                <div class="cb-control">567</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Plazo</div>
                <div class="cb-control">5</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Lugar</div>
                <div class="cb-control">Matriz</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Banco</div>
                <div class="cb-control">Banco Cobis</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Propietario</div>
                <div class="cb-control">Juan Martinez</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Swift</div>
                <div class="cb-control">0003454435</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </script>

  <script type="text/x-kendo-template" id="item">
    <div class="cb-flex cb-gutters cb-middle">
      <div style="border-radius:3px; background:url(#: data.image #) no-repeat; background-size:cover; width:120px; height:80px;"></div>
      <div class="cb-grow">
        <div><span title="Nombre">#: data.name #</span></div>
        <div class="small text-muted"><span title="Canal">#: data.service #</span></div>
      </div>
      <div class="text-right">
        <div title="Estado">#: data.status #</div>
        <div class="small text-muted"><span title="Fecha">#: data.date #</span></div>
      </div>
    </div>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
