<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    .table th, .table td {
      font-size: 12px;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="editable=true; create=true;">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-scrollable cb-grow">
        <div class="container" style="padding:30px;">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Número operación</div>
                      <div class="cb-control">
                        <input type="text" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Estado</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todos</option>
                          <option>Activo</option>
                          <option>Inactivo</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <kendo-grid options="operationsDetail"></kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div id="flow" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Detalle de operación</h4>
        </div>
        <div class="modal-body">
          <div class="cb-group cb-group-collapsible">
            <ul kendo-panel-bar k-expand-mode="'single'"">
              <li class="k-state-active">
                Impuestos cobrados
                <div class="cb-group cb-group-simple" style="margin-top: -1px; padding: 0;">
                  <div>
                    <kendo-grid options="taxes"></kendo-grid>
                  </div>
                </div>
              </li>
              <li>
                Impuestos proyectados
                <div class="cb-group cb-group-simple" style="margin-top: -1px; padding: 0;">
                  <div>
                    <kendo-grid options="taxes"></kendo-grid>
                  </div>
                </div>
              </li>
              <li>
                Pago / cobro
                <div class="cb-group cb-group-simple" style="margin-top: -1px; padding: 0;">
                  <div>
                    <kendo-grid options="taxes"></kendo-grid>
                  </div>
                </div>
              </li>
              <li>
                Pago / cobro
                <div class="cb-group cb-group-simple" style="margin-top: -1px; padding: 0;">
                  <div>
                    <kendo-grid options="taxes"></kendo-grid>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-kendo-template" id="operation-detail">
    <fieldset class="cb-group cb-group-simple cb-group-flex">
      <div>
        <div class="form-vertical" style="margin:0;">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Tipo de cuenta</div>
                <div class="cb-control">Cuenta Corriente</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Número de cuenta</div>
                <div class="cb-control">000345676555</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Comentario Negociación</div>
                <div class="cb-control">Comentario</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Comentario Forma de pago</div>
                <div class="cb-control">Comentario</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Terminal</div>
                <div class="cb-control">567</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Hora</div>
                <div class="cb-control">5:23</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Estado</div>
                <div class="cb-control">Activa</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Contabilizado</div>
                <div class="cb-control">Sí</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Total rubros</div>
                <div class="cb-control">$34,500</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Moneda de compra</div>
                <div class="cb-control">USD</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Moneda de venta</div>
                <div class="cb-control">BOL</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Cotización de compra</div>
                <div class="cb-control">234</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Cotización de venta</div>
                <div class="cb-control">256</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Tasa de interés</div>
                <div class="cb-control">9%</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Opción</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Liquidez</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Provisión día</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Provisión acumulado</div>
                <div class="cb-control">9%</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Retención</div>
                <div class="cb-control">USD1,200</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Autorización</div>
                <div class="cb-control">3455666</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Entrega respaldo</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Valor en moneda extranjera</div>
                <div class="cb-control">BOL23,000</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Tasa VF</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Tasa CF</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Cotización dólar</div>
                <div class="cb-control">-</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Forma pago/cobro</div>
                <div class="cb-control">Banco Central</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Número de contrato</div>
                <div class="cb-control">425234524</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Trader</div>
                <div class="cb-control">Manuel Gonzalez</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Fecha de liquidación</div>
                <div class="cb-control">12/12/2019</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Fecha negociación</div>
                <div class="cb-control">12/12/2019</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="control-label">Fecha activación</div>
                <div class="cb-control">12/12/2019</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </script>

  <script type="text/x-kendo-template" id="item">
    <div class="cb-flex cb-gutters cb-middle">
      <div style="border-radius:3px; background:url(#: data.image #) no-repeat; background-size:cover; width:120px; height:80px;"></div>
      <div class="cb-grow">
        <div><span title="Nombre">#: data.name #</span></div>
        <div class="small text-muted"><span title="Canal">#: data.service #</span></div>
      </div>
      <div class="text-right">
        <div title="Estado">#: data.status #</div>
        <div class="small text-muted"><span title="Fecha">#: data.date #</span></div>
      </div>
    </div>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
