<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="container cb-content">
        <fieldset>
            <legend>Datos básicos <span class="cb-validation-fail">5</span></legend>
			<div>
				<div class="row col-container">
					<div class="col-sm-6 col-md-4">
						<div class="form-group">
							<div class="control-label">Nombre</div>
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="form-group">
							<div class="control-label">Segundo nombre</div>
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6 col-md-4 hidden-xs hidden-sm">
						<div class="form-group"></div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="form-group">
							<div class="control-label">Apellido paterno</div>
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="form-group">
							<div class="control-label">Apellido materno</div>
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="form-group">
							<div class="control-label">Apellido de casada</div>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
			</div>
        </fieldset>
    </div>

    <script>
      var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="components" src="../../lib/require/require.js"></script>
  </body>

  </html>
