<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="container cb-content">
    <fieldset>
      <legend>Input text</legend>
      <div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Input text</div>
              <input type="text" class="form-control" placeholder="Ingrese un texto" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Input text disabled</div>
              <input type="text" class="form-control" disabled placeholder="Deshabilitado" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Input text readonly</div>
              <input type="text" class="form-control" readonly placeholder="Solo lectura" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group has-success">
              <div class="control-label">Input con exito</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group has-warning">
              <div class="control-label">Input con advertencia</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group has-error">
              <div class="control-label">Input con error</div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Input link</div>
              <a href="#" class="form-control text-right" readonly>$2,000.00</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Textarea (Multiples líneas)</div>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" placeholder="Ingrese un texto" />
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingrese un texto" />
                <span class="input-group-addon">USD</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" placeholder="Ingrese un texto" />
                <span class="input-group-addon">USD</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Seleccione una opción" readonly />
                <div class="input-group-btn">
                  <button class="btn btn-default"><span class="fa fa-ellipsis-h"></span>
                                    </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingrese un texto" />
                <div class="input-group-btn">
                  <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                                    </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Selection</legend>
      <div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Dropdown List</div>
              <input kendo-drop-down-list k-data-source="countryNames" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Combobox</div>
              <select kendo-combo-box>
                                <option>Albania</option>
                                <option>Andorra</option>
                                <option>Armenia</option>
                                <option>Austria</option>
                                <option>Azerbaijan</option>
                                <option>Belarus</option>
                                <option>Belgium</option>
                                <option>Bosnia & Herzegovina</option>
                                <option>Bulgaria</option>
                                <option>Croatia</option>
                                <option>Cyprus</option>
                                <option>Czech Republic</option>
                                <option>Denmark</option>
                                <option>Estonia</option>
                                <option>Finland</option>
                                <option>France</option>
                                <option>Georgia</option>
                                <option>Germany</option>
                                <option>Greece</option>
                                <option>Hungary</option>
                                <option>Iceland</option>
                                <option>Ireland</option>
                                <option>Italy</option>
                                <option>Kosovo</option>
                                <option>Latvia</option>
                                <option>Liechtenstein</option>
                                <option>Lithuania</option>
                                <option>Luxembourg</option>
                                <option>Macedonia</option>
                                <option>Malta</option>
                                <option>Moldova</option>
                                <option>Monaco</option>
                                <option>Montenegro</option>
                                <option>Netherlands</option>
                                <option>Norway</option>
                                <option>Poland</option>
                                <option>Portugal</option>
                                <option>Romania</option>
                                <option>Russia</option>
                                <option>San Marino</option>
                                <option>Serbia</option>
                                <option>Slovakia</option>
                                <option>Slovenia</option>
                                <option>Spain</option>
                                <option>Sweden</option>
                                <option>Switzerland</option>
                                <option>Turkey</option>
                                <option>Ukraine</option>
                                <option>United Kingdom</option>
                                <option>Vatican City</option>
                            </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Multiselect</div>
              <select kendo-multi-select k-data-source="countryNames"></select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Others</legend>
      <div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Date picker</div>
              <input type="date" kendo-date-picker />
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Time picker</div>
              <input type="time" kendo-time-picker />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Datetime picker</div>
              <input type="datetime" kendo-date-time-picker />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Masked textbox</div>
              <input type="text" kendo-masked-text-box k-mask="'(999) 000-0000'" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Numeric textbox</div>
              <input kendo-numeric-text-box k-min="0" k-max="100" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Numeric textbox</div>
              <input kendo-numeric-text-box k-min="0" k-max="100" readonly="true" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-label">Date picker</div>
              <input type="date" kendo-date-picker disabled />
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="components" src="../../lib/require/require.js"></script>
</body>

</html>
