<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip="tabs" class="cb-flex cb-column cb-grow">
          <ul>
            <li class="k-state-active" ng-show="!editable">
              <a href="#">Resumen</a>
            </li>
            <li id="tab-clientes">
              <a href="#">Titulares</a>
            </li>
            <li>
              <a href="#">Operación</a>
            </li>
            <li ng-show="product=='schedule'">
              <a href="#">Cuotas</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Movimientos</a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div kendo-chart k-options="average6m" style="height: 350px;"></div>
                </div>
                <div class="col-sm-6">
                  <h4 style="color: #8e8e8e; font-size: 16px; font-weight: normal; text-align: center;">Sumario</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Retenciones</li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Remesas</div>
                      <div>800.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Remesas hoy</div>
                      <div>300.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Retenciones 24h</div>
                      <div>300.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Retenciones 12h</div>
                      <div>800.00 USD</div>
                    </li>
                    <li class="list-group-item">Bloqueos</li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Por valor</div>
                      <div>4,000.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Por encaje</div>
                      <div>800.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Ultima transacción</div>
                      <div>2018-03-12</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="owners"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <legend>Condiciones de retiro</legend>
              <div>
                <kendo-grid options="conditions"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div ng-include="'includes/operacion.html'"></div>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="moneyActivity"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Fecha desde</div>
                      <div class="cb-control">
                        <input type="date" kendo-date-picker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Fecha hasta</div>
                      <div class="cb-control">
                        <input type="date" kendo-date-picker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Tipo de transacción</div>
                      <div class="cb-control">
                        <select class="form-control" ng-model="shipping">
                          <option>Todas</option>
                          <option>Débitos</option>
                          <option>Créditos</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">&nbsp;</div>
                      <div class="cb-control">
                        <button class="btn btn-primary btn-block">Buscar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="moneyActivity"></kendo-grid>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="edit()">Guardar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="editable=false">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="conditions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Condición de retiro</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Titulares</div>
              <div class="cb-control">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" /> 1765677789 - José Morales
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" /> 175456665 - Martín Morales
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Fecha (Desde/Hasta)</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div class="cb-grow">
                    <input kendo-datepicker type="text" />
                  </div>
                  <div class="cb-grow">
                    <input kendo-datepicker type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Monto (Desde/Hasta)</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div class="cb-grow">
                    <input type="text" class="form-control" />
                  </div>
                  <div class="cb-grow">
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Observaciones</div>
              <div class="cb-control">
                <textarea type="text" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="signatures" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Firmas</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div>
                <img src="../../images/signature1.svg" style="max-height:100px; margin:auto;" class="img-responsive" />
              </div>
              <div class="cb-flex cb-middle cb-center cb-gutters" style="margin-bottom:20px;">
                <div style="background:url(../../images/picture1.jpg); background-size: cover; width:64px; height:64px; border-radius:200px;"></div>
                <div>José Morales</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div>
                <img src="../../images/signature2.png" style="max-height:100px; margin:auto;" class="img-responsive" />
              </div>
              <div class="cb-flex cb-middle cb-center cb-gutters" style="margin-bottom:20px;">
                <div style="background:url(../../images/picture2.jpg); background-size: cover; width:64px; height:64px; border-radius:200px;"></div>
                <div>Martín Morales</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div>
                <img src="../../images/signature1.svg" style="max-height:100px; margin:auto;" class="img-responsive" />
              </div>
              <div class="cb-flex cb-middle cb-center cb-gutters" style="margin-bottom:20px;">
                <div style="background:url(../../images/picture1.jpg); background-size: cover; width:64px; height:64px; border-radius:200px;"></div>
                <div>José Morales</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div>
                <img src="../../images/signature2.png" style="max-height:100px; margin:auto;" class="img-responsive" />
              </div>
              <div class="cb-flex cb-middle cb-center cb-gutters" style="margin-bottom:20px;">
                <div style="background:url(../../images/picture2.jpg); background-size: cover; width:64px; height:64px; border-radius:200px;"></div>
                <div>Martín Morales</div>
              </div>
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="value-block" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Bloqueo de valores</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="valueBlock"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="value-unblock" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Desbloqueo de valores</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <p>Estás seguro que deseas levantar el bloqueo seleccionado?</p>
            <div class="form-group">
              <div class="control-label">Causa</div>
              <div class="cb-control">
                <select class="form-control">
                  <option>POR PEDIDO DEL CLIENTE</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Solicitado por</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="movements-block" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Bloqueo de movimientos</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="movementsBlock"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="saving-plan" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Plan de ahorros</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Motivo del ahorro</div>
                      <div class="cb-control">
                        <div class="input-group">
                          <input type="text" name="customer" class="form-control" readonly />
                          <span class="input-group-btn">
                            <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Fecha de inicio</div>
                      <div class="cb-control">
                        <input type="text" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Tipo de vencimiento</div>
                      <div class="cb-control">
                        <select class="form-control" ng-model="endingType">
                          <option></option>
                          <option value="cuota"># de cuotas</option>
                          <option value="fecha">Fecha vencimiento</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="endingType=='cuota'">
                    <div class="form-group">
                      <div class="control-label"># de cuotas</div>
                      <div class="cb-control">
                        <div class="input-group">
                          <input type="text" name="customer" class="form-control text-right" />
                          <span class="input-group-addon">Cuotas</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="endingType=='fecha'">
                    <div class="form-group">
                      <div class="control-label">Fecha de vencimiento</div>
                      <div class="cb-control">
                        <input type="text" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Débito automático</div>
                      <div class="cb-control">
                        <select class="form-control" ng-model="autoDebit">
                          <option></option>
                          <option value="1">Si</option>
                          <option value="0">No</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="autoDebit=='1'">
                    <div class="form-group">
                      <div class="control-label">Cuenta</div>
                      <div class="cb-control">
                        <select class="form-control">
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="autoDebit=='1'">
                    <div class="form-group">
                      <div class="control-label">Valor a debitar</div>
                      <div class="cb-control">
                        <div class="input-group">
                          <input type="text" class="form-control text-right" />
                          <span class="input-group-addon">USD</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-group cb-group-collapsible">
            <ul kendo-panel-bar="savingPlanAccordion" k-options="{expandMode:'single'}">
              <li class="k-state-active" ng-show="simulated">
                Sumario
                <div>
                  <fieldset class="cb-group cb-group-simple cb-group-flex">
                    <div>
                      <kendo-grid options="savingPlanSummary"></kendo-grid>
                    </div>
                  </fieldset>
                </div>
              </li>
              <li id="spDetail" ng-show="saved">
                Detalle
                <div>
                  <fieldset class="cb-group cb-group-simple cb-group-flex">
                    <div>
                      <kendo-grid options="savingPlanDetail"></kendo-grid>
                    </div>
                  </fieldset>
                </div>
              </li>
            </ul>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" ng-click="saveSavingPlan()">Guardar</button>
              <button class="btn btn-default navbar-btn" ng-click="simulated=true">Simular</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
