<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../styles/theme-cuscatlan.css" rel="stylesheet" />
</head>

<body class="ng-scope">
	<div style="background-color: #2f586e; border-bottom: solid 4px #c3932f; margin-bottom:30px;">
		<div class="container cb-flex cb-middle" style="padding-top:15px; padding-bottom:15px;">
			<div class="cb-grow">
				<img src="../styles/themes/cuscatlan/images/logo-color.png" />
			</div>	
			<div style="color:#FFF; font-size:22px;">Auto Enrolamiento</div>
		</div>
	</div>
    <div class="cb-view">
        <div class="cb-view-container cb-group-layout container">
		
			<ul class="cb-steps">
                <li class="active">Términos y condiciones</li>
                <li>Identificación</li>
                <li>Registro</li>
            </ul>
		
			<h2 class="text-center">Banco Cuscatlén de El Salvador S.A.</br>Términos y servicios de los servicios de Banca Electrónica para El Salvador</h2>
            <p>El presente Aviso Legal (en adelante, el "Aviso Legal") establece los Términos y Condiciones respecto al uso de las páginas de Internet, (las "Páginas) que MOVISTAR pone a disposición de usted.</p>
			<p>Las publicaciones digitales de MOVISTAR tienen por objeto facilitar a sus Clientes y al público en general, el acceso a los servicios y productos MOVISTAR, así como a la información relativa a dichos servicios, productos, equipos, tarifas, promociones, y cualquier otra información relacionada (En adelante los "Servicios y Productos").</p>
			<p>La utilización de las páginas le atribuye a Ud. la condición de usuario de las Páginas (en adelante, el "Usuario") e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal en la versión publicada por MOVISTAR en el momento mismo en que el usuario acceda a las páginas. En consecuencia, el usuario debe leer el presente Aviso Legal en cada una de las ocasiones en que utilice las páginas, ya que puede sufrir modificaciones.</p>
			<p>La utilización de las páginas se encuentra sometida, además de este Aviso Legal, a todos los avisos, reglamentos de uso e instrucciones, que sean puestos en conocimiento del Usuario por MOVISTAR a través de las páginas.</p>
			<p>El uso de ciertos Servicios y Productos ofrecidos a los Usuarios a través de las páginas puede estar sometido a condiciones particulares específicas (en adelante, las "Condiciones Particulares") que, según sea el caso, pueden sustituir, completar y/o modificar el presente Aviso Legal. Por lo tanto, previa a la utilización de dichos Servicios y Productos, el Usuario deberá leer las correspondientes Condiciones Particulares de que se trate. Otros Servicios y Productos contenidos en las páginas pueden encontrarse sujetos a la firma por escrito de un contrato de servicios (en adelante el "Contrato de Servicios") por parte del Usuario, así como a la aprobación correspondiente por parte de MOVISTAR.</p>

			<p>MOVISTAR se reserva el derecho a modificar el Aviso Legal en cualquier tiempo y sin previa notificación. Dichas modificaciones serán efectivas a partir del momento en que queden disponibles al público en las páginas. El usuario se considera enterado y obligado por los cambios al Aviso Legal desde el momento en que ingrese a las páginas. El uso o acceso a las páginas por parte del usuario constituirá la aceptación y acuerdo a los cambios del Aviso Legal.</p>
			<p>De igual manera, MOVISTAR se reserva la facultad de efectuar, en cualquier momento, modificaciones en la información contenida en sus publicaciones digitales.</p>
			<p>MOVISTAR procurará que la información contenida en sus páginas sea correcta y esté actualizada al momento de ser incluida en las mismas. Sin embargo, es posible que existan errores o imprecisiones involuntarias.</p>
			<p>MOVISTAR no se responsabilizará por errores u omisiones contenidas en sus páginas, ni se compromete a la actualización inmediata de la información contenida en sus publicaciones digitales.</p>

			<p>MOVISTAR podrá en cualquier momento negar, suspender o dar por terminado el acceso o el uso del usuario a las páginas, a cualquier Servicio y Producto, o cualquier parte de los mismos, a sola discreción de MOVISTAR, sin necesidad de previo aviso, sin limitación alguna, y por cualquier razón.</p>
			<p>Por lo anterior, MOVISTAR no garantiza la utilidad, disponibilidad y continuidad del funcionamiento de las páginas así como de los Servicios y Productos para la realización de alguna actividad en específico, o su infalibilidad.</p>

			<p>Para conveniencia del Usuario, las páginas pueden proporcionar enlaces ("Links") a otros sitios o páginas de Internet de terceros, cuyo contenido o información no es revisado por MOVISTAR. Salvo cuando se establezca expresamente lo contrario, cualquier página o sitio enlazado con nuestras páginas es independiente de MOVISTAR, por lo que MOVISTAR no tiene control sobre tales productos, servicios, materiales o cualquier otra información contenida en o disponible a través de las Páginas o sitios de dichos terceros, ni se entenderá que MOVISTAR recomienda dichos productos o servicios de terceros que tengan un Link a nuestras Páginas. El acceso a cualquier página o sitio enlazado a nuestras páginas es bajo riesgo del usuario.</p>
			<p>Algunos Servicios y Productos puestos a disposición del Usuario a través de las páginas podrán requerir de claves o contraseñas ("Passwords"), a fin de verificar la identidad del usuario. El usuario está de acuerdo en que cualquier operación correctamente identificada con dichos Passwords será consideradas como válidamente realizadas por el usuario. Por lo anterior, el usuario será el único responsable de mantener la confidencialidad de dichos Passwords, sin importar si éstos fueron proporcionados por MOVISTAR o seleccionados por el usuario directamente.</p>
			<p>MOVISTAR es titular de todos los derechos sobre el software de las publicaciones digitales, así como de los derechos de propiedad industrial e intelectual referidos a los contenidos que en ellas se incluyan, a excepción de los derechos sobre productos y servicios que no son propiedad de MOVISTAR, cuyas marcas están registradas a favor de sus respectivos titulares, y como tal son reconocidas por MOVISTAR. Ningún material de las publicaciones digitales podrá ser reproducido, copiado modificado, distribuido, transmitido, vendido, utilizado o publicado por el usuario sin el previo consentimiento por escrito de MOVISTAR.</p>
			<p>Todas las marcas de terceros registradas por sus respectivos propietarios que aparecieran en las páginas serán solo a efectos de publicidad y de recopilación de información. Sus propietarios pueden solicitar la modificación o eliminación de la información que les concierna. Por otro lado, la aparición de estas terceras marcas no implica necesariamente la recomendación de las mismas.</p>

			<p>MOVISTAR respetará escrupulosamente la confidencialidad de los datos de carácter personal aportados por los visitantes a las publicaciones digitales, mediante la observancia de su Aviso de Privacidad y de la normatividad aplicable vigente, de tal manera que MOVISTAR no entregará información personal del usuario a terceros, a menos que sea requerido para entregar un producto o prestar un servicio solicitado por el usuario. Ver Aviso de Privacidad.</p>
			<p>No obstante lo señalado anteriormente, y dada la naturaleza de Internet, MOVISTAR no garantiza que todo uso de las Páginas o Servicios y Productos proporcionados a través de las mismas se encuentre libre de riesgo, por lo que MOVISTAR no tendrá responsabilidad alguna, incluyendo los daños, perjuicios o cualquier otra que pudiera ser ocasionada por el mal uso de terceros de la información generada, recibida, transmitida, o archivada en las páginas.</p>
			<p>Cualquier información enviada por los usuarios y que sea recibida en las páginas, tal como comentarios, sugerencias o ideas, se considerará cedida a MOVISTAR a título gratuito, y el usuario que la envíe acepta implícitamente que no tiene carácter de confidencial. Le sugerimos que NO ENVÍE información que no pueda ser tratada de esta forma. MOVISTAR tendrá el derecho de utilizar cualquier información enviada para los fines que juzgue convenientes.</p>
			<p>Queda terminantemente prohibido el mal uso y el uso no autorizado de las páginas, incluyendo sin limitar, el acceso no autorizado a los sistemas de MOVISTAR, el mal uso de claves o contraseñas ("Passwords"), o de cualquier información contenida en las Páginas. MOVISTAR se reserva el derecho de suspender o negar el acceso a sus páginas a las personas que hagan un mal uso de la información o de los Servicios y Productos contenidos en las mismas; sin perjuicio del derecho de MOVISTAR del ejercicio de las acciones civiles, administrativas o penales a que hubiere lugar, de conformidad con las leyes de la materia.</p>
			<p>El Usuario acepta sacar en paz y a salvo a MOVISTAR, así como indemnizarle por cualquier responsabilidad, costo o gasto que se le impute por el uso por parte del usuario de las páginas o los Servicios y Productos para cualquier fin prohibido o ilegal, o la violación de las reglas de estas Páginas, cualquier Contrato de Servicios, cualquier derecho de terceros, incluyendo de manera enunciativa, mas no limitativa, los derechos de autor, de propiedad industrial, o de cualquier ley, reglamento o código federal, estatal o municipal aplicable. Dichas obligaciones continuarán aún después de la terminación de este Aviso Legal, Condiciones Particulares o Contrato de Servicios.</p>
        </div>
		<div class="cb-navbar cb-navbar-bottom">
			<nav class="navbar navbar-default navbar-fixed-bottom">
				<button class="btn btn-primary navbar-btn">Aceptar</button>
			</nav>
		</div>
    </div>
</body>

</html>