<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../styles/theme.css" rel="stylesheet" />
  <style>
    .popover-title {
      color: #333;
    }
  </style>
  <!-- <link href="../styles/themes/default/wireframe.css" rel="stylesheet" /> -->
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-form-header cb-no-margin">
      <div class="cb-flex cb-middle">
        <div class="cb-grow">
          <div title="# de prestamo">#56465465465</div>
          <div class="cb-text-xl">Aguas Munoz Betty Jeanneth - PAS 1803235637</div>
          <div class="cb-flex cb-gutters">
            <div>
              <div>$20,000.00 USD</div>
              <div class="small control-label">Crédito Automotriz</div>
            </div>
            <div>
              <div>$700 USD</div>
              <div class="small control-label">Valor exigible</div>
            </div>
            <div>
              <div>SUCRE</div>
              <div class="small control-label">Oficina</div>
            </div>
            <div>
              <div>Vigente</div>
              <div class="small control-label">Estado</div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <div class="btn-group">
            <a href="prestamos-busqueda.html" class="btn btn-default" title="Buscar"><span class="fa fa-search"></span> <span class="hidden-xs">Buscar</span></a>
            <button id="more-info" class="btn btn-default" title="Información"><span class="fa fa-info-circle"></span> <span class="hidden-xs">Información</span></button>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-angle-down"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Cancelacion</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cb-view-container-root cb-view-container cb-group-layout container-fluid">
      <div id="info" class="hidden">
        <div style="margin-left: -15px; margin-right: -15px; margin-top: -10px; color:#333;">
          <table class="table">
            <tbody>
              <tr>
                <th class="cb-no-wrap">Fecha de inicio</th>
                <td>12/12/2016</td>
              </tr>
              <tr>
                <th class="cb-no-wrap">Fecha vencimiento</th>
                <td>12/12/2016</td>
              </tr>
              <tr>
                <th class="cb-no-wrap">Oficina</th>
                <td>Sucre</td>
              </tr>
              <tr>
                <th class="cb-no-wrap">Cédula #</th>
                <td>180256324578</td>
              </tr>
              <tr>
                <th class="cb-no-wrap">Tasa efectiva anual</th>
                <td>9%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="cb-view-container cb-group-layout container">
      <div class="cb-group cb-group-simple cb-no-margin">
        <div>
          <div class="form-vertical">
            <div class="row">
              <div class="col-sm-3">
                <fieldset>
                  <legend>Ingreso de valor</legend>
                  <div class="form-group">
                    <div class="control-label">Forma de pago</div>
                    <div class="cb-control">
                      <select class="form-control" ng-model="paymentMethod">
                                                <option></option>
                                                <option value="debit">Nota de débito</option>
                                                <option value="check">Cheque</option>
                                            </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="control-label">Monto</div>
                    <div class="cb-control">
                      <div class="cb-flex cb-gutters">
                        <div class="cb-grow">
                          <input type="text" kendo-numeric-text-box k-min="1" k-ng-model="amount" />
                        </div>
                          <div>
                            <select class="form-control">
                                                        <option>USD</option>
                                                        <option>EUR</option>
                                                    </select>
                          </div>
                        </div>
                        <div class="text-muted small" style="margin-top:5px;">Conversión: $234.00 USD, Cotización: 1.34</div>
                      </div>
                    </div>
                    <div class="form-group" ng-show="paymentMethod=='check'">
                      <div class="control-label"># Cheque</div>
                      <div class="cb-control">
                        <input type="text" class="form-control" />
                    </div>
                      </div>
                      <div class="form-group" ng-show="paymentMethod=='check'">
                        <div class="control-label">Banco</div>
                        <div class="cb-control">
                          <input type="text" class="form-control" />
                    </div>
                        </div>
                        <div class="form-group" ng-show="paymentMethod=='check'">
                          <div class="control-label">Retención</div>
                          <div class="cb-control">
                            <input type="text" kendo-numeric-text-box />
                    </div>
                          </div>
                          <div class="form-group" ng-show="paymentMethod=='debit'">
                            <div class="control-label">Referencia</div>
                            <div class="cb-control">
                              <input type="text" class="form-control" />
                    </div>
                            </div>
                            <div class="form-group">
                              <div class="control-label">Notas</div>
                              <div class="cb-control">
                                <input type="text" class="form-control" />
                    </div>
                              </div>
                              <div class="form-group">
                                <div class="cb-control">
                                  <div class="checkbox">
                                    <label>
                                                    <input type="checkbox" /> Aplicar en línea
                                                </label>
                                  </div>
                                </div>
                              </div>
                </fieldset>
              </div>
              <div class="col-sm-9">
                <fieldset>
                  <legend>Valor a pagar</legend>
                  <kendo-grid options="paymentOptions"></kendo-grid>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cb-navbar cb-navbar-bottom">
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <span class="hidden-sm hidden-xs">
					<button class="btn btn-default navbar-btn">Sobrante</button>
					<button class="btn btn-default navbar-btn" ng-click="changeCondonacion()">Condonación</button>
					<button class="btn btn-default navbar-btn" ng-click="changeNegociacion()">Negociación</button>
					<button class="btn btn-default navbar-btn" ng-click="changePriorities()">Prioridades</button>
				</span>
        <div class="btn-group dropup" class="visible-xs visible-sm">
          <button type="button" ng-click="changePriorities()" class="btn btn-default">Prioridades</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				  </button>
          <ul class="dropdown-menu">
            <li><a href="#">Sobrante</a></li>
            <li><a href="#" ng-click="changeCondonacion()">Condonación</a></li>
            <li><a href="#" ng-click="changeNegociacion()">Negociación</a></li>
          </ul>
        </div>
        <button class="btn btn-primary navbar-btn">Guardar</button>
      </nav>
    </div>
    <div class="cb-view-loading cb-hidden">
      <div class="cb-view-loading-icon"></div>
    </div>
  </div>

  <div id="negociacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Negociación</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <div class="control-label">Tipo de pago</div>
                <div class="cb-control">
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-pago" checked> Cuota
                                        </label>
                  </div>
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-pago"> Rubro
                                        </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="control-label">Tipo de interés</div>
                <div class="cb-control">
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-interes" checked> Acumulado
                                        </label>
                  </div>
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-interes"> Proyectado
                                        </label>
                  </div>
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-interes"> Valor presente
                                        </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <div class="cb-control">
                  <div class="checkbox">
                    <label>
                                            <input type="checkbox" name="cuota-completa"> Cuota completa
                                        </label>
                  </div>
                  <div class="checkbox">
                    <label>
                                            <input type="checkbox" name="cuota-adicional" ng-model="cuotaAdicional" checked> Permite pagos adicionales
                                        </label>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-if="cuotaAdicional">
                <div class="control-label">Pagos adicionales</div>
                <div class="cb-control">
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-adicional" checked> Normal
                                        </label>
                  </div>
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-adicional"> Reducción de cuota
                                        </label>
                  </div>
                  <div class="radio">
                    <label>
                                            <input type="radio" name="tipo-adicional"> Reducción de tiempo
                                        </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div id="prioridades" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Prioridades</h4>
        </div>
        <div class="modal-body">
          <kendo-grid options="priorities"></kendo-grid>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div id="condonacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Condonación</h4>
        </div>
        <div class="modal-body">
          <kendo-grid options="condonacionOptions"></kendo-grid>
          <!--<fieldset>
                        <div class="form-group">
                            <div class="control-label">Concepto</div>
                            <div class="cb-control">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="fa fa-bars"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">Porcentaje a condonar</div>
                            <div class="cb-control">
                                <div class="cb-flex cb-gutters">
                                    <div style="width:90px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" />
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="cb-control">
                                Porcentaje máximo: 20%, Monto total: $234.00 USD
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">Observación</div>
                            <div class="cb-control">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </fieldset>-->
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn">Aceptar</button>
              <button class="btn btn-default navbar-btn">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <script type="text/x-kendo-template" id="template">
    <button data-target="\\#otros-cargos" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Agregar</button>
  </script>
  <script>
    var librariesUrl = '../lib/';
  </script>
  <script src="../lib/require.config.js"></script>
  <script data-main="prestamos" src="../lib/require/require.js"></script>
</body>

</html>
