<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-view-container-root cb-view-container cb-group-layout container-fluid">
      <div class="container-fluid" style="max-width:600px;">
        <div class="cb-flex cb-gutters">
          <div class="cb-grow form-group" style="margin-bottom:0;">
            <input type="text" class="form-control input-lg" placeholder="Ingrese {{ customerSelectedField.label }}" />
          </div>
          <div ng-if="!isAdvanced">
            <button class="btn btn-primary btn-lg" ng-click="setCustomersResults(true)"
              title="Buscar"><span class="fa fa-search"></span></button>
          </div>
        </div>
        <div id="filters" class="cb-flex cb-gutters">
          <div class="form-control-static">Buscar por:</div>
          <div>
            <div class="dropdown">
              <button class="btn btn-link" data-toggle="dropdown">
                {{ customerSelectedField.label }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-class="{'active':customerSelectedField==item}" ng-repeat="item in customerFilters.field"><a
                    href="#" ng-click="setCustomerField(item)">{{ item.label }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <fieldset class="cb-group cb-group-simple cb-group-flex" ng-if="customerSelectedField.hasResults">
          <div>
            <kendo-grid class="cb-grid-no-header" options="customers" style="margin: 0;"></kendo-grid>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="cb-navbar cb-navbar-bottom">
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="detalle-cuenta.html" class="btn btn-primary navbar-btn">Nuevo cliente</a>
      </nav>
    </div>
  </div>

  <div ng-include="'includes/popups.html'"></div>

  <script type="text/x-kendo-template" id="customer">
    <div class="cb-flex">
      <div class="cb-grow">
        <div><span title="Número">\\##: data.documentNumber #</span> - <span title="Nombre">#: data.name #</span></div>
        <div class="small text-muted"><span title="Número cliente CORE">000000#: data.id #</span> - <span title="Tipo">#: data.type #</span> - <span title="Oficina">#: data.office #</span></div>
      </div>
      <div class="text-right">
        <div title="Estado">#: data.status #</div>
      </div>
    </div>
  </script>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>