<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme-terrabank.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>

  <style>

  .image-pdf {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url('images/icon-pdf.png');
      background-size: cover;
    }

    .cb-indicator {
      background: #FFF;
      border: 1px solid #CCC;
      border-radius: 4px;
      min-height: 80px;
    }

    .cb-indicator .cb-column-2 {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .cb-indicator-value {
      font-size: 20px;
      padding: 15px;
      text-align: center;
    }

    .cb-indicator-text {
      padding: 5px 10px;
      text-align: center;
    }

    .cb-indicator-aside {
      background: #e8e7e7;
    }

    .cb-indicator-aside .cb-active {
      background: #FFF;
    }

    .cb-indicator-aside .cb-score {
      width: 16px;
      height: 16px;
    }

    .cb-indicator-aside>div {
      padding: 0 5px;
    }

    .cb-indicator-aside>div:first-child {
      border-top-right-radius: 4px;
    }

    .cb-indicator-aside>div:last-child {
      border-bottom-right-radius: 4px;
    }

    .cb-indicator>.cb-rule-alert {
      background-color: #CCC;
      border: 0;
      border-radius: 0;
      position: relative;
      margin-left: -1px;
      margin-right: -1px;
      height: 3px;
      padding: 0;
    }

    .cb-indicator>.cb-rule-alert.cb-rule-alert-good {
      background-color: #009f3c;
    }

    .cb-indicator>.cb-rule-alert.cb-rule-alert-fair {
      background-color: #ef9c00;
    }

    .cb-indicator>.cb-rule-alert.cb-rule-alert-bad {
      background-color: #dc3912;
    }

    .cb-indicator .cb-footer-label {
      font-size: 12px;
      text-align: center;
      padding: 3px 15px;
    }

    .cb-indicator a,
    .cb-indicator div {
      box-sizing: border-box;
    }

    .cb-lexis-nexis .cb-indicator-text {
      text-align: left;
    }

    .doc-review .cb-group.cb-group-collapsible > .k-panelbar .list-group.k-content {
      padding: 0;
      margin-top: -1px;
    }

    .doc-review .list-group .list-group-item {
      border-radius: 0;
    }

    @media (min-width: 768px) {
      .cb-lexis-nexis {
        max-width: 225px;
      }
    }

    .cb-icon.cb-nodata {
      width: 12px;
      height: 12px;
      background-image: url(images/icon-nodata.png);
      display: inline-block;
    }
</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
  <script>
  function descargarZIP() {
  const zip = new JSZip();

  zip.file("Account-Signature Card.pdf", "Contenido del archivo 1");
  zip.file("Account-FTA.pdf", "Contenido del archivo 2");
  zip.file("W8 Personal.pdf", "Contenido del archivo 3");
  zip.file("W8 Suplement.pdf", "Contenido del archivo 4");
  zip.file("Account-Service Request.pdf", "Contenido del archivo 5");
  zip.file("Checklist-Personal Account_FILLABLE_Rev 2020-07.pdf", "Contenido del archivo 6");


  zip.file("nebraska-drivers-license.pdf", "images/nebraska-drivers-license.pdf", { binary: true });

  zip.generateAsync({ type: "blob" }).then(function (contenido) {
    const archivo = document.createElement("a");
    archivo.href = URL.createObjectURL(contenido);
    archivo.download = "archivos.zip";
    archivo.click();
  });
}
function descargarZIP2() {
  const zip = new JSZip();

  zip.file("Business-Signature.pdf", "Contenido del archivo 1");
  zip.file("Certificade of Beneficial Owner.pdf", "Contenido del archivo 2");
  zip.file("Corp Solutions for LLC.pdf", "Contenido del archivo 3");
  zip.file("CorporateResolution.pdf", "Contenido del archivo 4");
  zip.file("FTA.pdf", "Contenido del archivo 5");
  zip.file("Account-Service Request.pdf", "Contenido del archivo 6");
  zip.file("US Mailing Support.pdf", "Contenido del archivo 7");
  zip.file("W8 Business.pdf", "Contenido del archivo 8");
  zip.file("Checklist-Business Account_FILLABLE_Rev2020-07.pdf", "Contenido del archivo 9");

  zip.file("nebraska-drivers-license.pdf", "images/nebraska-drivers-license.pdf", { binary: true });

  zip.generateAsync({ type: "blob" }).then(function (contenido) {
    const archivo = document.createElement("a");
    archivo.href = URL.createObjectURL(contenido);
    archivo.download = "archivos.zip";
    archivo.click();
  });
}


// If you are using JavaScript/ECMAScript modules:
import Dropzone from "dropzone";

// If you are using CommonJS modules:
const { Dropzone } = require("dropzone");

// If you are using an older version than Dropzone 6.0.0,
// then you need to disabled the autoDiscover behaviour here:
Dropzone.autoDiscover = false;

let myDropzone = new Dropzone("#my-form");
myDropzone.on("addedfile", file => {
  console.log(`File added: ${file.name}`);
});     

Dropzone.discover();


  </script>
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-toolbar cb-toolbar-top">
        <div class="cb-toolbar-content">
          <div id="task-title" class="cb-grow cb-text-ellipsis">
            <span id="task-badge" class="label label-default cb-text-sm" title="Codigo">ACCO.1.08.003688</span>
            ACCOUNT REQUEST (Version 8) / REVIEW & APPROVE ACCOUNT
          </div>
          <div class="hidden-xs">
            <button class="btn btn-default"><span>Observations</span></button>
            <button class="btn btn-default"><span>Requirements</span></button>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Accept request</a></li>
                <li><a href="#">Return tu customer</a></li>
                <li><a href="#">Send to Supervisor/Account Officer</a></li>
                <li><a href="#">Send to BSA</a></li>
                <li><a href="#">Send Management</a></li>
              </ul>
            </div>
          </div>
          <div class="hidden-sm hidden-md hidden-lg">
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">More information</li>
                <li><a href="#">Observations</a></li>
                <li><a href="#">Requirements</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Actions</li>
                <li><a href="#">Accept request</a></li>
                <li><a href="#">Return tu customer</a></li>
                <li><a href="#">Send to Supervisor/Account Officer</a></li>
                <li><a href="#">Send to BSA</a></li>
                <li><a href="#">Send Management</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow" style="overflow: auto;">
        <div kendo-tab-strip="tabs" class="cb-flex cb-column cb-grow">
          <ul class="cb-flex">
            <li class="k-state-active">
              <a href="#" class="text-center">
               Final Documents
              </a>
            </li>
          </ul>
          
          <div class="doc-review cb-grow cb-scrollable">
            <div class="container">
              <div class="alert alert-info" ng-if="step==10">Please check each file and fill in the requested fields in each document.</div>
              <div class="cb-group cb-group-collapsible">

                <form action="/file-upload"
                    class="dropzone"
                    id="my-awesome-dropzone">
                </form>
                <input type="file" name="file" />

                <ul kendo-panel-bar>
                  <li class="k-state-active" ng-show="owner.relationship=='Business'">
                    Compani Co.
                    <div class="list-group">
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Bussines-Signature Card.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Certificade of beneficial Owner.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Corp Solution for LLC.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>CorporateResolution.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>FTA.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>>
                          </div>
                          <div class="cb-grow">
                            <strong>Account-Service-Request.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>US Mailing Support.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>W9 Bssines.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="k-state-active">
                    Martina Flores
                    <div class="list-group">
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>US–TM--ABC Corporation, LLC.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <!--
                            <div style="margin-right: -10px;">
                              <div style="position: relative;">
                                  <button title="Options" class=" dropdown-toggle" style="border-radius: 2px; overflow: hidden; text-overflow: clip; line-height: 1.42857143;" data-toggle="dropdown"><span class="fa fa-ellipsis-v" style="float:right;"></span></button>
                                  <ul class="dropdown-menu dropdown-menu-right"style="float:right;">
                                      <li><a href="#account" data-toggle="modal">Edit</a></li>
                                      <li><a href="#">Delete</a></li>
                                  </ul>
                              </div>
                            </div>
                            -->
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-LexisNexis-Marina Flores.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-LexisNexis-Marina Flores.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-OFAC-Marina Flores.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-OFAC-Marina Flores.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      
                      
                    </div>
                  </li>
                
                  <li class="k-state-active">
                    Frank Morris
                    <div class="list-group">
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>US–TM--ABC Corporation, LLC</strong>
                            
                          </div>
                        </div>
                      </a>
                      
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-LexisNexis-Frank Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-LexisNexis-Frank Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-OFAC-Frank-Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-OFAC-Frank-Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="k-state-active" ng-show="owner.relationship=='Personal'" >
                    John Johnson
                    <div class="list-group">
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-Lexis Nexus-Frank-Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-Lexis Nexus-Frank-Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-OFAC-Frank-Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                      
                      <a ng-href="#viewer" data-toggle="modal" ng-click="docModal={title:'Two Years of Business Tax Returns', value:1}" class="list-group-item">
                        <div class="cb-flex cb-gutters cb-middle">
                          <div>
                            <span class="fa fa-circle" title="Verified" ng-style="{'opacity' : !document.status ? 0.4 : 1}" ng-class="{'text-danger': document.status === 'R', 'fa-minus-circle':  document.status === 'R', 'fa-circle': document.status == null, 'text-success': document.status === 'A', 'fa-check-circle':  document.status === 'A'}"
                              style="opacity: 0.4;"></span>
                          </div>
                          <div>
                            <span class="image-pdf"></span>
                          </div>
                          <div class="cb-grow">
                            <strong>Individual-OFAC-Frank-Morris.pdf</strong>
                            
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom">
        <nav class="navbar navbar-default navbar-fixed-bottom">  
         <!-- <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="edit()">Save</button>-->
          <button ng-show="owner.relationship=='Personal'" class="btn btn-primary navbar-btn" onclick="descargarZIP()">Download Folder</button>
          <button ng-show="owner.relationship=='Business'" class="btn btn-primary navbar-btn" onclick="descargarZIP2()">Download Folder</button>
        </nav>
      </div>
    </div>
  </div>

  <div ng-include="'includes/popups.html'"></div>
  <div ng-include="'includes/templates.html'"></div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <!--<script src="views\originacion\zipdownload.js"></script>-->
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
