<script type="text/x-kendo-template" id="bankruptcy-detail-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom:30px;">
        # if (data && data.Bankruptcy.StatusHistory) { #
        <h4>Status history</h4> # format.getArray(data.Bankruptcy.StatusHistory, 'Status').forEach(function(Status){ #
        <div>#: Status.Type # <span class="text-muted small">- #: format.date(Status.Date) #</span></div>
        # }) # # } # # if (data && data.Bankruptcy.Comments) { #
        <h4>Comments</h4> # format.getArray(data.Bankruptcy.Comments, 'Comment').forEach(function(Comment){ #
        <div>#: Comment.Description # <span class="text-muted small">- #: format.date(Comment.FilingDate) #</span></div>
        # }) # # } # # if (data && data.Bankruptcy.Debtors) { #
        <h4>Debtors</h4> # format.getArray(data.Bankruptcy.Debtors, 'Debtor').forEach(function(Debtor){ # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.EmpID : null, 'Emp ID')
        # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.POWID : null, 'POW ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.SeleID : null, 'Sele
        ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.OrgID : null, 'Org ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Debtor.IdValue, 'ID Value') # #= format.field( format.boolean(Debtor.IsCurrent),
        'Current') # #= format.field( format.boolean(Debtor.NonDMVSource), 'Non DMV source') # #= format.field( Debtor.VehicleInfo, 'Vehicle info') #
        <dl class="cb-group cb-group-html-section">
          #if (Debtor.Names && Debtor.Names.Name) { #
          <dt style="font-weight:bold;">Names:</dt> # format.getArray(Debtor.Names, 'Name').forEach(function(Name){ #
          <dd>#: format.name(Name) #</dd>
          # }) # # } # #if (Debtor.Addresses && Debtor.Addresses.Address) { #
          <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Debtor.Addresses, 'Address').forEach(function(Address){ #
          <dd>#: format.address(Address) #</dd>
          # }) # # } # #if (Debtor.Phones && Debtor.Phones.Phone) { #
          <dt style="font-weight:bold;">Phones:</dt> # format.getArray(Debtor.Phones, 'Phone').forEach(function(Phone){ #
          <dd>#: Phone.Phone10? Phone.Phone10+' (Phone)' : '' # #: Phone.Fax? Phone.Fax+' (Fax)' : '' # #: Phone.TimeZone? Phone.TimeZone+' (Timezone)' : '' #</dd>
          # }) # # } # #if (Debtor.Emails && Debtor.Emails.Email) { #
          <dt style="font-weight:bold;">Emails:</dt> # format.getArray(Debtor.Emails, 'Email').forEach(function(Email){ #
          <dd>#: Email #</dd>
          # }) # # } #
        </dl>
        #= format.field( Debtor.UniqueId, 'Unique ID') # #= format.field( Debtor.BusinessId, 'Business ID') # #= format.field( Debtor.SSN, 'SSN') # #= format.field( Debtor.AppendedSSN, 'Appended SSN') # # }) # # } # # if (data && data.Bankruptcy.Attorneys) {
        #
        <h4>Attorneys</h4> # format.getArray(data.Bankruptcy.Attorneys, 'Attorney').forEach(function(Attorney){ # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.EmpID :
        null, 'Emp ID') # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.POWID : null, 'POW ID') # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.SeleID
        : null, 'Sele ID') # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.OrgID : null, 'Org ID') # #= format.field( Attorney.BusinessIds? Attorney.BusinessIds.UltID : null, 'UltID ID') # #= format.field( data.Bankruptcy.IdValue, 'ID
        value') #
        <dl class="cb-group cb-group-html-section">
          #if (Attorney.Names && Attorney.Names.Name) { #
          <dt style="font-weight:bold;">Names:</dt> # format.getArray(Attorney.Names, 'Name').forEach(function(Name){ #
          <dd>#: format.name(Name) #</dd>
          # }) # # } # #if (Attorney.Addresses && Attorney.Addresses.Address) { #
          <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Attorney.Addresses, 'Address').forEach(function(Address){ #
          <dd>#: format.address(Address) #</dd>
          # }) # # } # #if (Attorney.Phones && Attorney.Phones.Phone) { #
          <dt style="font-weight:bold;">Phones:</dt> # format.getArray(Attorney.Phones, 'Phone').forEach(function(Phone){ #
          <dd>#: Phone.Phone10? Phone.Phone10+' (Phone)' : '' # #: Phone.Fax? Phone.Fax+' (Fax)' : '' # #: Phone.TimeZone? Phone.TimeZone+' (Timezone)' : '' #</dd>
          # }) # # } # #if (Attorney.Emails && Attorney.Emails.Email) { #
          <dt style="font-weight:bold;">Emails:</dt> # format.getArray(Attorney.Emails, 'Email').forEach(function(Email){ #
          <dd>#: Email #</dd>
          # }) # # } #
        </dl>
        #= format.field( Attorney.UniqueId, 'Unique ID') # #= format.field( Attorney.BusinessId, 'Business ID') # #= format.field( Attorney.SSN, 'SSN') # #= format.field( Attorney.AppendedSSN, 'Appended SSN') # #= format.field( Attorney.TaxId, 'Tax ID') # #=
        format.field( Attorney.AppendedTaxId, 'Appended Tax ID') # # }) # # } # # if (data && data.Bankruptcy.Trustees) { #
        <h4>Trustees</h4> # format.getArray(data.Bankruptcy.Trustees, 'Trustee').forEach(function(Trustee){ # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.EmpID : null,
        'Emp ID') # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.POWID : null, 'POW ID') # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.SeleID
        : null, 'Sele ID') # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.OrgID : null, 'Org ID') # #= format.field( Trustee.BusinessIds? Trustee.BusinessIds.UltID : null, 'UltID ID') # #= format.field( data.Bankruptcy.IdValue, 'ID value')
        #
        <dl class="cb-group cb-group-html-section">
          #if (Trustee.Names && Trustee.Names.Name) { #
          <dt style="font-weight:bold;">Names:</dt> # format.getArray(Trustee.Names, 'Name').forEach(function(Name){ #
          <dd>#: format.name(Name) #</dd>
          # }) # # } # #if (Trustee.Addresses && Trustee.Addresses.Address) { #
          <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Trustee.Addresses, 'Address').forEach(function(Address){ #
          <dd>#: format.address(Address) #</dd>
          # }) # # } # #if (Trustee.Phones && Trustee.Phones.Phone) { #
          <dt style="font-weight:bold;">Phones:</dt> # format.getArray(Trustee.Phones, 'Phone').forEach(function(Phone){ #
          <dd>#: format.phone(Phone) #</dd>
          # }) # # } # #if (Trustee.Emails && Trustee.Emails.Email) { #
          <dt style="font-weight:bold;">Emails:</dt> # format.getArray(Trustee.Emails, 'Email').forEach(function(Email){ #
          <dd>#: Email #</dd>
          # }) # # } #
        </dl>
        #= format.field( Trustee.UniqueId, 'Unique ID') # #= format.field( Trustee.BusinessId, 'Business ID') # #= format.field( Trustee.SSN, 'SSN') # #= format.field( Trustee.AppendedSSN, 'Appended SSN') # #= format.field( Trustee.TaxId, 'Tax ID') # #= format.field(
        Trustee.AppendedTaxId, 'Appended Tax ID') # # }) # # } #
      </div>
      <div class="col-sm-6" style="margin-bottom:30px; margin-top:10px;">
        #= format.field( data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.DotID : null, 'Dot ID') # #= format.field( data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.POWID
        : null, 'POW ID') # #= format.field( data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.SeleID : null, 'Sele ID') # #= format.field(
        data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.OrgID : null, 'Org ID') # #= format.field( data.Bankruptcy.BusinessIds? data.Bankruptcy.BusinessIds.UltID : null, 'UltID ID') # #= format.field( data.Bankruptcy.IdValue, 'ID value') #
        #= format.field( data.Bankruptcy.CorpFlag, 'CorpFlag') # #= format.field( data.Bankruptcy.FilingType, 'Filing type') # #= format.field( data.Bankruptcy.FilerType, 'Filer type') # #= format.field( data.Bankruptcy.FilingJurisdiction, 'Filing jurisdiction')
        # #= format.field( data.Bankruptcy.CaseType, 'Case type') # #= format.field( data.Bankruptcy.CaseNumber, 'Case number') # #= format.field( format.date(data.Bankruptcy.FilingDate), 'Filing date') # #= format.field( format.date(data.Bankruptcy.OriginalFilingDate),
        'Original filing date') # #= format.field( format.date(data.Bankruptcy.ClosedDate), 'Closed date') # #= format.field( format.date(data.Bankruptcy.ReopenDate), 'Reopen date') # #= format.field( format.date(data.Bankruptcy.ConvertedDate), 'Converted
        date') # #= format.field( data.Bankruptcy.Chapter, 'Chapter') # #= format.field( data.Bankruptcy.OriginalChapter, 'Original chapter') # #= format.field( data.Bankruptcy.CourtName, 'Court name') # #= format.field( data.Bankruptcy.CourtLocation,
        'Court location') # #= format.field( data.Bankruptcy.JudgeName, 'Judge name') # #= format.field( data.Bankruptcy.JudgeIdentification, 'Judge ID') # #= format.field( format.date(data.Bankruptcy.ClaimsDeadline), 'Claims deadline') # #= format.field(
        data.Bankruptcy.ComplaintDeadline, 'Complaint deadline') # #= format.field( data.Bankruptcy.FilingStatus, 'Filing status') # #= format.field( data.Bankruptcy.CourtCode, 'Court code') # #= format.field( data.Bankruptcy.DischargeDate, 'Discharge
        date') # #= format.field( data.Bankruptcy.SelfRepresented, 'Self represented') # #= format.field( data.Bankruptcy.AssetsForUnsecure, 'Asserts for unsecure') # #= format.field( data.Bankruptcy.Liabilities, 'Liabilities') # #= format.field( data.Bankruptcy.Assets,
        'Assets') # # if (data.Bankruptcy.Meeting) { # #= format.field( data.Bankruptcy.Meeting.Address+' - <span class="text-muted small">'+data.Bankruptcy.Meeting.Time+' '+format.date(data.Bankruptcy.Meeting.Date)+'</span>', 'Meeting') #
        # } # #= format.field( data.Bankruptcy.ExternalKey, 'External key') # #= format.field( data.Bankruptcy.TMSId, 'TMSId') #
      </div>
    </div>
  </div>
</script>
<script type="text/x-kendo-template" id="lien-detail-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom:30px;">
        # if (data && data.MatchedParty) { #
        <h4>Matched party</h4> #= format.field( data.MatchedParty.PartyType, 'Party type') # #= format.field( data.MatchedParty.UniqueId, 'Unique ID') # #= format.field( data.MatchedParty.OriginName, 'Origin name') # #= format.field( format.name(data.MatchedParty.ParsedParty),
        'Parsed party') # #= format.field( data.MatchedParty.CompanyName, 'Company name') # #= format.field( format.address(data.MatchedParty.Address), 'Address') # # } # # if (data && data.Debtors) { #
        <h4>Debtors</h4> # format.getArray(data.Debtors, 'Debtor').forEach(function(Debtor){ # #= format.field( Debtor.OriginName, 'Origin name') # #if (Debtor.Addresses && Debtor.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Debtor.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # #if (Debtor.ParsedParties && Debtor.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Debtor.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.PersonFilterId, 'Person filter ID') # #= format.field( Party.TaxId, 'Tax
            ID') #
          </dd>
          # }) #
        </dl>
        # } # # }) # # } # # if (data && data.ThirdParties) { #
        <h4>Third parties</h4> # format.getArray(data.ThirdParties, 'ThirdParty').forEach(function(ThirdParty){ # #= format.field( ThirdParty.OriginName, 'Origin name') # #if (ThirdParty.ParsedParties && ThirdParty.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(ThirdParty.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.PersonFilterId, 'Person filter ID') # #= format.field( Party.TaxId, 'Tax
            ID') #
          </dd>
          # }) #
        </dl>
        # } # #= format.field( format.address(ThirdParty.Address), 'Address') # #if (ThirdParty.Addresses && ThirdParty.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(ThirdParty.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # #if (ThirdParty.Phones && ThirdParty.Phones.Phone) { #
        <dt style="font-weight:bold;">Phones:</dt> # format.getArray(ThirdParty.Phones, 'Phone').forEach(function(Phone){ #
        <dd>#: format.phone(Phone) #</dd>
        # }) # # } # # }) # # } # # if (data && data.Creditors) { #
        <h4>Creditors</h4> # format.getArray(data.Creditors, 'Creditor').forEach(function(Creditor){ # #= format.field( Creditor.Name, 'Name') # #= format.field( format.address(Creditor.Address), 'Address') # #if (Creditor.ParsedParties && Creditor.ParsedParties.Party)
        { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Creditor.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.PersonFilterId, 'Person filter ID') # #= format.field( Party.TaxId, 'Tax
            ID') #
          </dd>
          # }) #
        </dl>
        # } # #if (Creditor.Addresses && Creditor.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Creditor.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # #if (Creditor.Phones && Creditor.Phones.Phone) { #
        <dt style="font-weight:bold;">Phones:</dt> # format.getArray(Creditor.Phones, 'Phone').forEach(function(Phone){ #
        <dd>#: format.phone(Phone) #</dd>
        # }) # # } # # }) # # } # # if (data && data.DebtorAttorneys) { #
        <h4>Debtor Attorneys</h4> # format.getArray(data.DebtorAttorneys, 'Attorney').forEach(function(Attorney){ # #= format.field( Attorney.Name, 'Name') # #= format.field( format.address(Attorney.Address), 'Address') # #= format.field( Attorney.Phone, 'Phone') # #= format.field(
        Attorney.Timezone, 'Timezone') # #if (Attorney.ParsedParties && Attorney.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Attorney.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.PersonFilterId, 'Person filter ID') # #= format.field( Party.TaxId, 'Tax
            ID') #
          </dd>
          # }) #
        </dl>
        # } # #if (Attorney.Addresses && Attorney.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Attorney.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # #if (Attorney.Phones && Attorney.Phones.Phone) { #
        <dt style="font-weight:bold;">Phones:</dt> # format.getArray(Attorney.Phones, 'Phone').forEach(function(Phone){ #
        <dd>#: format.phone(Phone) #</dd>
        # }) # # } # # }) # # } # # if (data && data.Filings) { #
        <h4>Filings</h4> # format.getArray(data.Filings, 'Filing').forEach(function(Filing){ # #= format.field( Filing.Number, 'Number') # #= format.field( Filing.Type, 'Type') # #= format.field( format.date(Filing.Date), 'Date') # #= format.field( format.date(Filing.OriginalFilingDate),
        'Original filinng date') # #= format.field( Filing.Book, 'Book') # #= format.field( Filing.Page, 'Page') # #= format.field( Filing.Agency, 'Agency') # #= format.field( Filing.AgencyCity, 'Agency city') # #= format.field( Filing.AgencyState,
        'Agency state') # #= format.field( Filing.AgencyCountry, 'Agency country') # #= format.field( Filing.FilingStatus, 'Filing status') # #= format.field( Filing.FilingDescription, 'Filing description') # #= format.field( Filing.FilingTime, 'Filing
        time') # # }) # # } #
      </div>
      <div class="col-sm-6" style="margin-bottom:30px;">
        #= format.field( data.BusinessIds? data.BusinessIds.DotID : null, 'Dot ID') # #= format.field( data.BusinessIds? data.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( data.BusinessIds? data.BusinessIds.POWID : null, 'POW ID') # #= format.field(
        data.BusinessIds? data.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( data.BusinessIds? data.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( data.BusinessIds? data.BusinessIds.OrgID : null, 'Org ID') # #= format.field( data.BusinessIds?
        data.BusinessIds.UltID : null, 'UltID ID') # #= format.field( data.IdValue, 'ID value') # #= format.field( data.OriginFilingTime, 'Origin filing time') # #= format.field( data.TaxCode, 'Tax code') # #= format.field( data.Judge, 'Judge') # #=
        format.field( data.ExternalKey, 'ExternalKey') # #= format.field( data.TMSId, 'TMS ID') # #= format.field( data.IRSSerialNumber, 'IRS serial number') # #= format.field( data.OriginalFilingNumber, 'Original filing number') # #= format.field(
        data.OriginalFilingType, 'Original filing type') # #= format.field( format.date(data.OriginalFilingDate), 'Original filing date') # #= format.field( data.CaseNumber, 'Case number') # #= format.field( data.Eviction, 'Eviction') # #= format.field(
        data.Amount, 'Amount') # #= format.field( data.FilingJurisdictionName, 'Filing jurisdiction name') # #= format.field( data.FilingState, 'Filing state') # #= format.field( data.FilingStatus, 'Filing status') # #= format.field( data.CertificateNumber,
        'Certificate number') # #= format.field( data.MultipleDefendant, 'Multiple defendant') # #= format.field( format.date(data.JugdeSatisfiedDate), 'Jugde satisfied date') # #= format.field( format.date(data.SuitDate), 'Suit date') # #= format.field(
        format.date(data.JugdeVacantedDate), 'Jugde vacanted date') # #= format.field( format.date(data.ReleaseDate), 'Release date') # #= format.field( data.LegalLot, 'Legal lot') # #= format.field( data.LegalBlock, 'Legal block') # #= format.field(
        format.boolean(data.AlsoFound), 'Also found') #
      </div>
    </div>
  </div>
</script>
<script type="text/x-kendo-template" id="criminal-detail-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom:30px;">
        # if (data && data.AKAs) { #
        <h4>AKAs</h4>
        <div class="cb-group cb-group-html-section">
          # var names = data.AKAs.length>0? data.AKAs : [data.AKAs] # # for (var i=0; i
          <names.length; i++) { # # var name=n ames[i] # <div>#: format.name(name.Name) #</div>
        # } #
      </div>
      # } # # if (data && data.Offenses) { #
      <h4>Offenses</h4> # format.getArray(data.Offenses, 'Offense').forEach(function(Offense){ #
      <div class="cb-group cb-group-html-section">
        #= format.field( format.boolean(Offense.Court.adjudicationWithheld), 'Adjudication withheld') # #= format.field( Offense.CaseNumber, 'Case number') # #= format.field( Offense.CaseType, 'Case type') # #= format.field( Offense.CaseTypeDescription, 'Case
        type description') # #= format.field( Offense.Count, 'Offenses count') # #= format.field( Offense.County, 'County') # #= format.field( Offense.MaximumTerm, 'Maximum term') # #= format.field( Offense.MinimumTerm, 'Minimum term') # #= format.field(
        Offense.NumberCounts, 'Number counts') # #= format.field( format.date(Offense.OffenseDate), 'Offense date') # #= format.field( Offense.OffenseType, 'Offense type') # #= format.field( Offense.Sentence, 'Sentence') # #= format.field( Offense.SentenceLengthDescription,
        'Sentence length description') # #= format.field( format.date(Offense.SentenceDate), 'Sentence date') # #= format.field( format.date(Offense.IncarcerationDate), 'Incarceration date') # #= format.field( format.date(Offense.Appeal? Offense.Appeal.Date
        : null), 'Appeal') # #= format.field( Offense.Appeal? Offense.Appeal.Disposition : null, 'Appeal disposition') # #= format.field( Offense.Appeal? Offense.Appeal.FinalDisposition : null, 'Appeal final disposition') # #= format.field( Offense.Arrest?
        Offense.Arrest.Agency : null, 'Arrest Agency') # #= format.field( Offense.Arrest? Offense.Arrest.CaseNumber : null, 'Arrest case number') # #= format.field( format.date(Offense.Arrest? Offense.Arrest.Date : null), 'Arrest date') # #= format.field(
        Offense.Arrest? Offense.Arrest.Disposition : null, 'Arrest disposition') # #= format.field( format.date(Offense.Arrest? Offense.Arrest.DispositionDate : null), 'Arrest disposition date') # #= format.field( Offense.Arrest? Offense.Arrest.Level
        : null, 'Arrest level') # #= format.field( Offense.Arrest? Offense.Arrest.Offense : null, 'Arrest offence') # #= format.field( Offense.Arrest? Offense.Arrest.Statute : null, 'Arrest statute') # #= format.field( Offense.Arrest? Offense.Arrest.Type
        : null, 'Arrest type') # #= format.field( Offense.Court? Offense.Court.CaseNumber : null, 'Court case number') # #= format.field( Offense.Court? Offense.Court.Description : null, 'Court description') # #= format.field( Offense.Court? Offense.Court.Disposition
        : null, 'Court disposition') # #= format.field( format.date(Offense.Court? Offense.Court.DispositionDate : null), 'Court disposition date') # #= format.field( Offense.Court? Offense.Court.Fine : null, 'Court fine') # #= format.field( Offense.Court?
        Offense.Court.Level : null, 'Court level') # #= format.field( Offense.Court? Offense.Court.Offense : null, 'Court offense') # #= format.field( Offense.Court? Offense.Court.Plea : null, 'Court plea') # #= format.field( Offense.Court? Offense.Court.Statute
        : null, 'Court statute') # #= format.field( Offense.Court? Offense.Court.SuspendedFine : null, 'Court suspended fine') # #= format.field( Offense.CourtSentence? Offense.CourtSentence.Jail : null, 'Court sentence jail') # #= format.field( Offense.CourtSentence?
        Offense.CourtSentence.Probation : null, 'Court sentence probation') # #= format.field( Offense.CourtSentence? Offense.CourtSentence.Suspended : null, 'Court sentence suspended') #
      </div>
      # }) # # } # # if (data && data.PrisonSentences) { #
      <h4>Prison Sentences</h4> # format.getArray(data.PrisonSentences, 'PrisonSentence').forEach(function(PrisonSentence){ #
      <div class="cb-group cb-group-html-section">
        #= format.field( format.date(PrisonSentence.AdmittedDate), 'Admitted date') # #= format.field( PrisonSentence.CurrentStatus, 'Current status') # #= format.field( PrisonSentence.CustodyType, 'Custody type') # #= format.field( format.date(PrisonSentence.CustodyTypeChangeDate),
        'Custody type change date') # #= format.field( PrisonSentence.GainTimeGranted, 'Admitted date') # #= format.field( PrisonSentence.Location, 'Location') # #= format.field( format.date(PrisonSentence.ScheduledReleaseDate), 'Scheduled release date')
        # #= format.field( PrisonSentence.Sentence, 'Sentence') #
      </div>
      # }) # # } # # if (data && data.ParoleSentences) { #
      <h4>Prison Sentences</h4> # format.getArray(data.ParoleSentences, 'ParoleSentence').forEach(function(ParoleSentence){ #
      <div class="cb-group cb-group-html-section">
        #= format.field( format.date(ParoleSentence.ActualEndDate), 'Actual end date') # #= format.field( ParoleSentence.Country, 'Country') # #= format.field( ParoleSentence.CurrentStatus, 'Current status') # #= format.field( ParoleSentence.Length, 'Length')
        # #= format.field( format.date(ParoleSentence.ScheduledEndDate), 'Scheduled end date') # #= format.field( format.date(ParoleSentence.StartDate), 'Start date') # #= format.field( format.date(ParoleSentence.DateReported), 'Date reported') # #=
        format.field( ParoleSentence.PublicSaftyId, 'Public safty ID') # #= format.field( ParoleSentence.InmateId, 'Inmate ID') # #= format.field( ParoleSentence.ParoleInAbsentiaID, 'Parole in absentia ID') # #= format.field( format.name(ParoleSentence.Name),
        'Name') # #= format.field( ParoleSentence.Race, 'Race') # #= format.field( ParoleSentence.Gender, 'Gender') # #= format.field( format.date(ParoleSentence.DOB), 'DOB') # #= format.field( ParoleSentence.PrisonFacilityType, 'Prison facility type')
        # #= format.field( ParoleSentence.PrisonFacilityName, 'Prison facility name') # #= format.field( format.date(ParoleSentence.AdmittedDate), 'Admitted date') # #= format.field( ParoleSentence.PrisonStatus, 'Prison status') # #= format.field( ParoleSentence.LastReceiveOrDepartCode,
        'Last receive or depart code') # #= format.field( format.date(ParoleSentence.LastReceiveOrDepartCDate), 'Last receive or depart code date') # #= format.field( format.date(ParoleSentence.RecordCreatedTimeStamp), 'Record created timestamp') #
        #= format.field( ParoleSentence.CurrentStatusFlag, 'Current status flag') # #= format.field( format.date(ParoleSentence.CurrentStatusEffectiveDate), 'Current status effective date') # #= format.field( ParoleSentence.ParoleRegion, 'Parole region')
        # #= format.field( ParoleSentence.SupervisingOffice, 'Supervising office') # #= format.field( ParoleSentence.SupervisiongOfficerName, 'Supervision officer name') # #= format.field( ParoleSentence.SupervisiongOfficerPhone, 'Supervision officer
        phone') # #= format.field( format.address(ParoleSentence.LastKnownResidence), 'Last known residence') # #= format.field( format.date(ParoleSentence.ReleaseArrivalDate), 'Release arrival date') # #= format.field( ParoleSentence.ReleaseType, 'Release
        type') # #= format.field( ParoleSentence.ReleaseCounty, 'Release county') # #= format.field( ParoleSentence.LegalResidenceCounty, 'Legal residence county') # #= format.field( format.date(ParoleSentence.LastParoleReviewDate), 'Last parole review
        date') # #= format.field( ParoleSentence.OffenceCount, 'Offense count') # #= format.field( format.boolean(ParoleSentence.Is3GOffender), '3G Offender') # #= format.field( format.boolean(ParoleSentence.IsViolentOffender), 'Violent Offender') #
        #= format.field( format.boolean(ParoleSentence.IsSexOffender), 'Sex Offender') # #= format.field( format.boolean(ParoleSentence.IsOnViolentOffenderProgram), 'Violent offender program') # #= format.field( ParoleSentence.LongestTimeToServeDescription,
        'Longest time to serve') # #= format.field( format.date(ParoleSentence.DischargeDate), 'Discharge date') # # if (ParoleSentence && ParoleSentence.Offenses) { #
        <div style="margin-left:20px;">
          <h4>Offenses</h4> # format.getArray(ParoleSentence.Offenses, 'Offense').forEach(function(Offense){ #
          <div class="cb-group cb-group-html-section">
            #= format.field( format.date(Offense.SentenceDate), 'Sentence date') # #= format.field( Offense.Length, 'Length') # #= format.field( Offense.OffenseCounty, 'Offense county') # #= format.field( Offense.CauseNo, 'Cause No') # #= format.field( Offense.NCICCode,
            'NCICCode') # #= format.field( Offense.OffenseCount, 'Offense count') # #= format.field( format.date(Offense.OffenseDate), 'Offense date') #
          </div>
          # }) #
        </div>
        # } #
      </div>
      # }) # # } # # if (data && data.Activities) { #
      <h4>Activities</h4> # format.getArray(data.Activities, 'Activity').forEach(function(Activity){ #
      <div class="cb-group cb-group-html-section">
        #= format.field( format.date(Activity.Date), 'Date') # #= format.field( Activity.Description, 'Description') #
      </div>
      # }) # # } #
    </div>
    <div class="col-sm-6" style="margin-bottom:30px;">
      #= format.field( data.OffenderId, 'Offender ID') # #= format.field( data.CaseNumber, 'Case number') # #= format.field( data.DOCNumber, 'DOC number') # #= format.field( data.SSN, 'SSN') # #= format.field( data.UniqueId, 'Unique ID') # #= format.field(
      data.CaseTypeDescription, 'Case type') # #= format.field( data.Status, 'Status') # #= format.field( format.date(data.DOB), 'DOB') #
    </div>
  </div>
  </div>
</script>
<script type="text/x-kendo-template" id="foreclosure-detail-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom:30px;">
        # if (data && data.Plaintiffs) { #
        <h4>Plaintiffs</h4> # format.getArray(data.Plaintiffs, 'Plaintiff').forEach(function(Plaintiff){ #
        <div>#: Plaintiff #</div>
        # }) # # } # # if (data && data.Defendants) { #
        <h4>Defendants</h4> # format.getArray(data.Defendants, 'Defendant').forEach(function(Defendant){ # #= format.field( format.name(Defendant.Name), 'Name') # #= format.field( Defendant.SSN, 'SSN') # #= format.field( Defendant.CompanyName, 'Company name') # #= format.field(
        Defendant.UniqueId, 'Unique ID') # # }) # # } #
      </div>
      <div class="col-sm-6" style="margin-bottom:30px;">
        #= format.field( data.BusinessIds? data.BusinessIds.DotID : null, 'Dot ID') # #= format.field( data.BusinessIds? data.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( data.BusinessIds? data.BusinessIds.POWID : null, 'POW ID') # #= format.field(
        data.BusinessIds? data.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( data.BusinessIds? data.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( data.BusinessIds? data.BusinessIds.OrgID : null, 'Org ID') # #= format.field( data.BusinessIds?
        data.BusinessIds.UltID : null, 'UltID ID') # #= format.field( data.IdValue, 'ID value') # #= format.field( data.ForeclosureId, 'Foreclosure ID') # #= format.field( data.CaseNumber, 'Case number') # #= format.field( data.DeedType, 'Deed type')
        # #= format.field( format.address(data.SiteAddress), 'Site address') # #= format.field( format.date(data.FilingDate), 'Filing date') # #= format.field( format.date(data.RecordingDate), 'Recording date') # #= format.field( data.DocumentYear,
        'Document year') # #= format.field( data.DocumentNumber, 'Document number') # #= format.field( data.DocumentBook, 'Document book') # #= format.field( data.DocumentPages, 'Document pages') # #= format.field( data.DocumentType, 'Document type')
        # #= format.field( format.date(data.DateOfLoanDefault), 'Date of loan default') # #= format.field( data.AmountOfLoanDefault, 'AmountOfLoanDefault') # #= format.field( data.FinalJudgementAmount, 'Final judgement amount') # #= format.field( data.Lender?
        format.name(data.Lender.Name) : null, 'Lender name') # #= format.field( data.Lender? data.Lender.CompanyName : null, 'Lender company name') # #= format.field( data.Trustee, 'Trustee') # #= format.field( data.TitleCompany, 'Title Company') #
        #= format.field( data.Attorney, 'Attorney') # #= format.field( data.AttorneyPhoneNumber, 'Attorney phone number') # #= format.field( data.AttorneyTimeZone, 'Attorney timezone') # #= format.field( data.SubdivisionName, 'Subdivision name') # #=
        format.field( data.LandUsage, 'Land usage') # #= format.field( data.ParcelNumber, 'Parcel number') # #= format.field( data.YearBuilt, 'Year built') #
      </div>
    </div>
  </div>
</script>
<script type="text/x-kendo-template" id="ucc-detail-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="margin-bottom:30px;">
        # if (data && data.Debtors) { #
        <h4>Debtors</h4> # format.getArray(data.Debtors, 'Debtor').forEach(function(Debtor){ # #= format.field( Debtor.OriginName, 'Origin name') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Debtor.BusinessIds?
        Debtor.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.POWID : null, 'POW ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Debtor.BusinessIds?
        Debtor.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.OrgID : null, 'Org ID') # #= format.field( Debtor.BusinessIds? Debtor.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Debtor.IdValue,
        'ID Value') # #if (Debtor.ParsedParties && Debtor.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Debtor.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.PersonFilterId, 'Person filter ID') # #= format.field( Party.TaxId, 'Tax
            ID') #
          </dd>
          # }) #
        </dl>
        # } # #if (Debtor.Addresses && Debtor.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Debtor.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # # }) # # } # # if (data && data.Creditors) { #
        <h4>Creditors</h4> # format.getArray(data.Creditors, 'Creditor').forEach(function(Creditor){ # #= format.field( Creditor.OriginName, 'Origin name') # #if (Creditor.ParsedParties && Creditor.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Creditor.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.IncorporatedState, 'Incorporated state') # #= format.field( Party.CorporateName,
            'Corporate name') # #= format.field( Party.CorporateId, 'Corporate ID') #
          </dd>
          # }) #
        </dl>
        # } # #if (Creditor.Addresses && Creditor.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Creditor.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # # }) # # } # # if (data && data.Secureds) { #
        <h4>Secureds</h4> # format.getArray(data.Secureds, 'Secured').forEach(function(Secured){ # #= format.field( Secured.OriginName, 'Origin name') # #if (Secured.ParsedParties && Secured.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Secured.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.IncorporatedState, 'Incorporated state') # #= format.field( Party.CorporateName,
            'Corporate name') # #= format.field( Party.CorporateId, 'Corporate ID') #
          </dd>
          # }) #
        </dl>
        # } # #if (Secured.Addresses && Secured.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Secured.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # # }) # # } # # if (data && data.Asignees) { #
        <h4>Asignees</h4> # format.getArray(data.Asignees, 'Asignee').forEach(function(Asignee){ # #= format.field( Asignee.OriginName, 'Origin name') # #if (Asignee.ParsedParties && Asignee.ParsedParties.Party) { #
        <dl class="cb-group cb-group-html-section">
          <dt style="font-weight:bold;">Parsed parties:</dt> # format.getArray(Asignee.ParsedParties, 'Party').forEach(function(Party){ #
          <dd>
            #= format.field( Party.BusinessIds? Party.BusinessIds.DotID : null, 'Dot ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.POWID : null, 'POW ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( Party.BusinessIds? Party.BusinessIds.OrgID : null, 'Org ID') # #= format.field(
            Party.BusinessIds? Party.BusinessIds.UltID : null, 'UltID ID') # #= format.field( Party.IdValue, 'ID Value') # #= format.field( format.name(Party.Name), 'Name') # #= format.field( Party.CompanyName, 'Company name') # #= format.field( Party.UniqueId,
            'Unique ID') # #= format.field( Party.BusinessId, 'Business ID') # #= format.field( Party.SSN, 'SSN') # #= format.field( Party.FEIN, 'FEIN') # #= format.field( Party.IncorporatedState, 'Incorporated state') # #= format.field( Party.CorporateName,
            'Corporate name') # #= format.field( Party.CorporateId, 'Corporate ID') #
          </dd>
          # }) #
        </dl>
        # } # #if (Asignee.Addresses && Asignee.Addresses.Address) { #
        <dt style="font-weight:bold;">Addresses:</dt> # format.getArray(Secureds.Addresses, 'Address').forEach(function(Address){ #
        <dd>#: format.address(Address) #</dd>
        # }) # # } # # }) # # } # # if (data && data.Collaterals) { #
        <h4>Collaterals</h4> # format.getArray(data.Collaterals, 'Collateral').forEach(function(Collateral){ # #= format.field( Collateral.Description, 'Description') # #= format.field( Collateral.Count, 'Count') # #= format.field( Collateral.PropertyDescription, 'Property
        description') # #= format.field( Collateral.Address, 'Address') # #= format.field( Collateral.SerialNumber, 'Serial number') # #= format.field( Collateral.PrimaryMachine, 'Primary machine') # #= format.field( Collateral.SecondMachine, 'Second
        machine') # #= format.field( Collateral.ManufacturerCode, 'Manufacturer code') # #= format.field( Collateral.Manufacturer, 'Manufacturer') # #= format.field( Collateral.ModelYear, 'Model year') # #= format.field( Collateral.Model, 'Model') #
        #= format.field( Collateral.ModelDesc, 'Model description') # #= format.field( Collateral.ManufacturerYear, 'Manufacturer year') # #= format.field( Collateral.Borough, 'Borough') # #= format.field( Collateral.Block, 'Block') # #= format.field(
        Collateral.Lot, 'Lot') # #= format.field( Collateral.AirRights, 'Air rights') # #= format.field( Collateral.SubterraneanRights, 'Subterranean rights') # #= format.field( Collateral.Easement, 'Easement') # #= format.field( Collateral.NewUsed,
        'NewUsed') # # }) # # } # # if (data && data.Signers) { #
        <h4>Signers</h4> # format.getArray(data.Signers, 'Signer').forEach(function(Signer){ # #= format.field( Signer.Name, 'Name') # #= format.field( Signer.Title, 'Title') # # }) # # } # # if (data && data.Filings) { #
        <h4>Filings</h4> # format.getArray(data.Filings, 'Filing').forEach(function(Filing){ # #= format.field( Filing.FilingStatus, 'Filing status') # #= format.field( Filing.Number, 'Number') # #= format.field( Filing.Type, 'Type') # #= format.field( format.date(Filing.Date),
        'Date') # #= format.field( Filing.Time, 'Time') # #= format.field( Filing.Pages, 'Pages') # #= format.field( format.date(Filing.ExpirationDate), 'Expiration date') # #= format.field( Filing.Amount, 'Amount') # #= format.field( Filing.ContractType,
        'Contract type') # #= format.field( format.date(Filing.EffectiveDate), 'Effective date') # #= format.field( Filing.SerialNumber, 'Serial number') # #= format.field( Filing.FilingNumberIndicator, 'Filing number indicator') # #= format.field(
        format.date(Filing.VendorEntryDate), 'Vendor entry date') # #= format.field( Filing.ContinuousExpiration, 'Continuous expiration') # #= format.field( Filing.StatementsFiled, 'Statements filed') # #= format.field( Filing.MicrofilmNumber, 'Microfilm
        number') # # }) # # } # # if (data && data.FilingOffices) { #
        <h4>Filing offices</h4> # format.getArray(data.FilingOffices, 'Office').forEach(function(Office){ # #= format.field( Office.FilingAgency, 'Filing agency') # #= format.field( format.address(Office.Address), 'Address') # # }) # # } #
      </div>
      <div class="col-sm-6" style="margin-bottom:30px;">
        #= format.field( data.BusinessIds? data.BusinessIds.DotID : null, 'Dot ID') # #= format.field( data.BusinessIds? data.BusinessIds.EmpID : null, 'Emp ID') # #= format.field( data.BusinessIds? data.BusinessIds.POWID : null, 'POW ID') # #= format.field(
        data.BusinessIds? data.BusinessIds.ProxID : null, 'Prox ID') # #= format.field( data.BusinessIds? data.BusinessIds.SeleID : null, 'Sele ID') # #= format.field( data.BusinessIds? data.BusinessIds.OrgID : null, 'Org ID') # #= format.field( data.BusinessIds?
        data.BusinessIds.UltID : null, 'UltID ID') # #= format.field( data.TMSId, 'ID value') # #= format.field( data.FilingJurisdiction, 'Filing jurisdiction') # #= format.field( data.FilingJurisdictionName, 'Filing jurisdiction name') # #= format.field(
        data.OriginFilingNumber, 'Origin filing number') # #= format.field( data.OriginFilingType, 'Origin filing type') # #= format.field( format.date(data.OriginFilingDate), 'Origin filing date') # #= format.field( data.OriginFilingTime, 'Origin filing
        time') # #= format.field( data.Comment, 'Comment') # #= format.field( format.date(data.CommentDate), 'Comment date') #
      </div>
    </div>
  </div>
</script>
