<div id="user" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:750px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="cb-flex cb-gutters">
          <div style="width:200px; margin-right: 30px;">
            <div class="form-group">
              <div class="control-label">Canal</div>
              <div class="cb-control">
                <kendo-grid class="cb-grid-no-header" options="canales2"></kendo-grid>
              </div>
            </div>
          </div>
          <div class="cb-grow">
            <fieldset class="cb-group cb-group-simple cb-group-flex">
              <div>
                <div class="form-vertical">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Descripción</div>
                        <div class="cb-control">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Perfil</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option>PERFIL BASICO</option>
                            <option>PERFIL PERSONA</option>
                            <option>PERFIL PERSONA CONSULTA</option>
                            <option>PERFIL PERSONA OPERADOR</option>
                            <option>PERFIL PERSONA AUTORIZANTE</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Tipo de autenticación</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option value="undefined">OTP</option>
                            <option value="days">Tarjeta de coordenadas</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Nivel de autorización</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option value="undefined">Login Tipo A - Nivel I</option>
                            <option value="undefined">Login Tipo B -  Nivel II</option>
                            <option value="days">Titular</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Cultura</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option>Español Ecuador</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Vigencia</div>
                        <div class="cb-control">
                          <select class="form-control" ng-model="request.expiration">
                            <option></option>
                            <option value="undefined">Indefinido</option>
                            <option value="days">Específico</option>
                            <option value="general">General</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" ng-if="request.expiration=='general'">
                      <div class="form-group">
                        <div class="control-label">Categoría</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option value="undefined">Días de vigencia del login (0 días)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" ng-if="request.expiration=='days'">
                      <div class="form-group">
                        <div class="control-label">Tiempo</div>
                        <div class="cb-control">
                          <div class="input-group">
                              <input type="text" class="form-control" />
                              <span class="input-group-addon">Días</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Estado</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option>Activo</option>
                            <option>Bloqueado</option>
                            <option>Cancelado</option>
                            <option>Inactivo</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="cb-control">
                          <div class="checkbox">
                            <label>
                            <input type="checkbox" /> Se obliga a cambiar la contraseña cuando termine la vigencia del login
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="deliveryType" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Medio de envío</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Tipo</div>
                    <div class="cb-control">
                      <div style="display: grid; gap: 15px; grid-template-columns: repeat(3, 1fr);">
                        <div class="panel panel-default cb-selectable cb-flex cb-middle" ng-click="setMediaType(mediaType)" ng-repeat="mediaType in mediaTypes" ng-class="{'cb-selected':currentMediaType == mediaType}" style="margin:0; position: relative;">
                          <div class="cb-btn-checkbox">
                            <div class="cb-icon">
                              <svg><use  ng-href="../../images/factoricons-regular.svg#check" xlink:href=""></use></svg>
                            </div>
                          </div>
                          <div class="panel-body text-center cb-grow">
                            <div class="cb-icon" style="font-size:32px;">
                              <svg><use ng-href="../../images/factoricons-slim.svg#{{ mediaType.icon }}" xlink:href=""></use></svg>
                            </div>
                            <div>{{ mediaType.name }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Valor</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" /> Principal
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="notifications" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Notificaciones</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <div>
            <kendo-grid options="notifications"></kendo-grid>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="reason-change" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Reestablecer acceso</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <div class="form-group">
            <div class="control-label">Canal</div>
            <div class="cb-control">
              <select class="form-control">
                <option>Internet Banking</option>
                <option>Banca Móvil</option>
                <option>Chatbot</option>
                <option>Cash Management</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label">Usuario</div>
            <div class="cb-control">
              <select class="form-control">
                <option value="undefined">ncastaneda (Activo)</option>
                <option value="days">pmorales (Bloqueado)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label">Tipo</div>
            <div class="cb-control">
              <select class="form-control">
                <option value="undefined">Contraseña</option>
                <option value="days">Imagen de seguridad</option>
                <option value="days">Dispositivo</option>
              </select>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="transactions" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Transacciones</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Nombre</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple">
          <div>
            <kendo-grid options="transactions2"></kendo-grid>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sessions" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sesiones activas</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <div>
            <kendo-grid options="sessions"></kendo-grid>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="channel" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Configuración de canal</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Disponibilidad</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option>Habilitado</option>
                        <option>Deshabilitado</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <legend>Seguridad de contraseña</legend>
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Vigencia</div>
                    <div class="cb-control">
                      <div class="input-group">
                          <input type="text" class="form-control" />
                          <span class="input-group-addon">Meses</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Tamaño</div>
                    <div class="cb-control">
                      <div class="input-group">
                          <input type="text" class="form-control" />
                          <span class="input-group-addon">Caracteres</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Complejidad</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option></option>
                        <option>Baja</option>
                        <option>Media</option>
                        <option>Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="update" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Actualizar</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <div class="form-group">
            <div class="control-label">Categoría</div>
            <div class="cb-control">
              <select class="form-control">
                <option value="undefined">Personal</option>
                <option value="days">Corporativa</option>
              </select>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="remove-user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Eliminar usuario</h4>
      </div>
      <div class="modal-body">
        <div class="cb-flex cb-gutters">
          <div style="width:200px;">
            <div class="form-group">
              <div class="control-label">Canal</div>
              <div class="cb-control">
                <kendo-grid class="cb-grid-no-header" options="canales2"></kendo-grid>
              </div>
            </div>
          </div>
          <div class="cb-grow">
            <div class="form-group">
              <div class="control-label">Usuario</div>
              <div class="cb-control">
                <kendo-grid class="cb-grid-no-header" options="clientUsers2"></kendo-grid>
              </div>
            </div>
          </div>
        </div>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="third-party" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Beneficiario</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="control-label">Alias</div>
                <div class="cb-control">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="control-label">Tipo trasferencia</div>
                <div class="cb-control">
                  <select class="form-control" ng-model="request.transferType">
                    <option value="sameBank">En el banco</option>
                    <option value="otherBank">A otros bancos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="control-label">Producto</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Cuenta corriente</option>
                    <option>Cuenta de ahorros</option>
                    <option>Tarjeta de crédito</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="control-label">Número de Cuenta</div>
                <div class="cb-control">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="control-label">Moneda</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option>USD</option>
                    <option>EUR</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6" ng-show="request.transferType=='sameBank'">
              <div class="form-group">
                <div class="control-label">Cliente</div>
                <div class="cb-control">
                  <div class="input-group">
                    <input type="text" class="form-control" readonly />
                    <span class="input-group-btn">
                      <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6" ng-show="request.transferType=='otherBank'">
              <div class="form-group">
                <div class="control-label">Banco</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Banco Pichincha</option>
                    <option>Banco Guayaquil</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6" ng-show="request.transferType=='otherBank'">
              <div class="form-group">
                <div class="control-label">Nombre beneficiario</div>
                <div class="cb-control">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-sm-6" ng-show="request.transferType=='otherBank'">
              <div class="form-group">
                <div class="control-label">Cédula beneficiario</div>
                <div class="cb-control">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="control-label">Máximo por transacción</div>
                <div class="cb-control">
                  <input type="number" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="control-label">Estado</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option>Vigente</option>
                    <option>No vigente</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="product" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Seleccionar producto</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <kendo-grid options="productsSearch"></kendo-grid>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Agregar</button>
            <button class="btn btn-default navbar-btn" ng-click="confirmAddProducts()">Agregar todos</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="product-commision" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Producto</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple">
          <div class="form-group">
            <div class="cb-control">
              <div class="checkbox">
                <label>
                <input type="checkbox" /> Cobro de comisiones
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="auth" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Autorizaciones</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple cb-group-flex" ng-show="!authMode">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Tipo</div>
                <div class="cb-control">
                  <select kendo-drop-down-list class="form-control" ng-model="authType">
                    <option value="standard">Estandar</option>
                    <option value="hierarchy">Jerárquica</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple cb-no-margin" ng-show="!authMode">
          <div>
            <kendo-grid options="condiciones"></kendo-grid>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple cb-group-flex" ng-show="authMode == 'detail'">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group" style="margin:0;">
                    <div class="control-label">Transacción</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control" ng-disabled="allTransactions">
                        <option></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="authType=='standard'">
                  <div class="form-group" style="margin:0;">
                    <div class="control-label">Cuenta</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control" ng-disabled="allAccounts">
                        <option></option>
                        <option>#024560000890 - Cuenta Corriente</option>
                        <option>#024545888812 - Cuenta de Ahorros</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div ng-class="{'col-sm-6':authType=='standard', 'col-sm-12':authType=='hierarchy'}">
                  <div class="form-group">
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" ng-model="allTransactions" /> Todas las transacciones
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="authType=='standard'">
                  <div class="form-group">
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" ng-model="allAccounts" /> Todas las cuentas
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Canal</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control" ng-model="product">
                        <option></option>
                        <option>Internet Banking</option>
                        <option>Banca Móvil</option>
                        <option>Chatbot</option>
                        <option>Cash Management</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Vigencia</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control" ng-model="expire">
                        <option></option>
                        <option value="no">Indefinida</option>
                        <option value="yes">Rango de fechas</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-if="expire == 'yes'">
                  <div class="form-group">
                    <div class="control-label">Fecha desde</div>
                    <div class="cb-control">
                      <input type="date" kendo-datepicker />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-if="expire == 'yes'">
                  <div class="form-group">
                    <div class="control-label">Fecha hasta</div>
                    <div class="cb-control">
                      <input type="date" kendo-datepicker />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="authType=='standard'">
                  <div class="form-group">
                    <div class="control-label">Monto mínimo</div>
                    <div class="cb-control">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="authType=='standard'">
                  <div class="form-group">
                    <div class="control-label">Monto máximo</div>
                    <div class="cb-control">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-show="authType=='hierarchy'">
                  <div class="form-group">
                    <div class="control-label">Moneda</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control">
                        <option></option>
                        <option>BOB - Bolivianos</option>
                        <option>USD - Dólares Estadounidenses</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Tipo de ejecución</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control">
                        <option></option>
                        <option>No ejecuta</option>
                        <option>Con autorización</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Estado</div>
                    <div class="cb-control">
                      <select kendo-drop-down-list class="form-control">
                        <option></option>
                        <option>Vigente</option>
                        <option>No vigente</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple" ng-show="authMode == 'detail' && authType=='standard'">
          <legend style="margin-bottom: -1px;">Reglas de autorización</legend>
          <kendo-grid options="condicionesReglas2" style="min-height:0;"></kendo-grid>
        </fieldset>
        <fieldset class="cb-group cb-group-simple" ng-show="authMode == 'detail' && authType=='hierarchy'">
          <legend style="margin-bottom: -1px;">Reglas de autorización</legend>
          <kendo-grid options="condicionesReglas3" style="min-height:0;"></kendo-grid>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-show="authMode != 'detail'">Cerrar</button>
            <button class="btn btn-primary navbar-btn" ng-click="cancelAuthCondition()" ng-show="authMode == 'detail'">Aceptar</button>
            <button class="btn btn-default navbar-btn" ng-click="cancelAuthCondition()" ng-show="authMode == 'detail'">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="massive-services" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Servicios masivos</h4>
      </div>
      <div class="modal-body">
        <kendo-grid options="massiveServices"></kendo-grid>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="upload-massive" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Carga masivos</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <kendo-grid class="cb-grid-no-header" options="massiveServices2"></kendo-grid>
          </div>
          <div class="col-sm-9">
            <fieldset class="cb-group cb-group-simple cb-group-flex">
              <div>
                <div class="form-vertical">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Login</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option value="undefined">ncastaneda (Activo)</option>
                            <option value="days">pmorales (Bloqueado)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Cuenta</div>
                        <div class="cb-control">
                          <select class="form-control">
                            <option ng-repeat="account in accounts">{{ account.code }} - {{ account.alias }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Fecha aplicación</div>
                        <div class="cb-control">
                          <input kendo-datepicker />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" ng-if="service == 'cobros'">
                      <div class="form-group">
                        <div class="control-label">Recurrencia</div>
                        <div class="cb-control">
                          <input class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" ng-if="service == 'cobros'">
                      <div class="form-group">
                        <div class="control-label">Intentos</div>
                        <div class="cb-control">
                          <input class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" ng-if="service == 'afiliaciones'">
                      <div class="form-group">
                        <div class="control-label">Afiliaciones</div>
                        <div class="cb-control">
                          <select class="form-control" ng-model="service">
                            <option>Nómina</option>
                            <option>Pago masivo</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" ng-if="service == 'domiciliados'">
                      <div class="form-group">
                        <div class="control-label">Afiliaciones</div>
                        <div class="cb-control">
                          <select class="form-control" ng-model="service">
                            <option>Pago masivo</option>
                            <option>Cobros</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Concepto</div>
                        <div class="cb-control">
                          <input class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="control-label">Archivo</div>
                        <div class="cb-control">
                          <input type="file" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <kendo-grid options="massiveUpload"></kendo-grid>
          </div>
        </div>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="card" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Características de la tarjeta</h4>
      </div>
      <div class="modal-body">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Tipo</div>
                    <div class="cb-control">
                      <div style="display: grid; gap: 15px; grid-template-columns: repeat(3, 1fr);">
                        <div class="panel panel-default cb-selectable cb-flex cb-middle" ng-click="setCard(card)" ng-repeat="card in cardOptions" ng-class="{'cb-selected':currentCard == card}" style="margin:0; position: relative;">
                          <div class="cb-btn-checkbox">
                            <div class="cb-icon">
                              <svg><use  ng-href="../../images/factoricons-regular.svg#check" xlink:href=""></use></svg>
                            </div>
                          </div>
                          <div class="panel-body text-center cb-grow">
                            <img src="{{ card.imageUrl }}" style="width: 100%;" />
                            <div style="margin-top: 15px;">{{ card.name }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Id</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Tipo</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option>Principal</option>
                        <option>Adicional</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Convenio</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Período</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Transferir</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">ATM Nacional</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">ATM Internacional</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">POS Nacional</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">POS Internacional</div>
                    <div class="cb-control">
                      <select class="form-control"></select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Afiliación seguro de protección</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option>Sí</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Transacciones diarias</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Transacciones mensuales</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
          <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="block-cards" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bloqueo / desbloqueo de tarjetas</h4>
      </div>
      <div class="modal-body">
        <div ng-if="!blockCardDetail">
          <kendo-grid options="blockCards" k-scrollable="false" style="margin-bottom: 15px;"></kendo-grid>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px; margin-left: -15px; margin-right: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
        <div ng-if="blockCardDetail">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="control-label">Acción</div>
                      <div class="cb-control">
                        <select kendo-dropdownlist>
                          <option></option>
                          <option ng-if="currentCard.status === 'Entregada'">Bloqueo temporal</option>
                          <option>Bloqueo definitivo</option>
                          <option ng-if="currentCard.status === 'Bloqueada'">Desbloqueo</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="control-label">Motivo</div>
                      <div class="cb-control">
                        <select kendo-dropdownlist>
                          <option></option>
                          <option>Pérdida</option>
                          <option>Robo</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px; margin-left: -15px; margin-right: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" ng-click="setBlockCardDetail(false)">Regresar</button>
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="activate-cards" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Activación de tarjetas</h4>
      </div>
      <div class="modal-body">
        <div>
          <p>Seleccione la tarjeta que desea activar:</p>
          <kendo-grid options="activateCards" k-scrollable="false" style="margin-bottom: 15px;"></kendo-grid>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px; margin-left: -15px; margin-right: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
              <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-if="allowActivate">Activar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="request-activate-cards" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Activación de tarjetas</h4>
      </div>
      <div class="modal-body">
        <div>
          <p>Seleccione la tarjeta que desea solicitar la activación:</p>
          <kendo-grid options="requestActivateCards" k-scrollable="false" style="margin-bottom: 15px;"></kendo-grid>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px; margin-left: -15px; margin-right: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
              <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-if="allowRequest">Solicitar activación</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
