<div class="form-group" style="margin-bottom: 15px;">
  <div class="control-label">Usuario</div>
  <div class="cb-control">
    <select kendo-drop-down-list>
      <option value="undefined">ncastaneda (Activo)</option>
      <option value="days">pmorales (Bloqueado)</option>
    </select>
  </div>
</div>
<div class="cb-group cb-group-collapsible cb-group-collapsible-boxes">
  <ul kendo-panel-bar k-options="{expandMode:'single'}">
    <li class="k-state-active">
      <span>General</span>
      <div>
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Descripción</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" value="Nelson Castañeda" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Perfil</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option>PERFIL BASICO</option>
                        <option>PERFIL PERSONA</option>
                        <option>PERFIL PERSONA CONSULTA</option>
                        <option>PERFIL PERSONA OPERADOR</option>
                        <option>PERFIL PERSONA AUTORIZANTE</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Tipo de autenticación</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option value="undefined">OTP</option>
                        <option value="days">Tarjeta de coordenadas</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Nivel de autorización</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option value="undefined">Login Tipo A - Nivel I</option>
                        <option value="undefined">Login Tipo B -  Nivel II</option>
                        <option value="days">Titular</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Cultura</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option>Español Ecuador</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Vigencia</div>
                    <div class="cb-control">
                      <select class="form-control" ng-model="request.expiration">
                        <option></option>
                        <option value="undefined">Indefinido</option>
                        <option value="days">Específico</option>
                        <option value="general">General</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-if="request.expiration=='general'">
                  <div class="form-group">
                    <div class="control-label">Categoría</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option value="undefined">Días de vigencia del login (0 días)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" ng-if="request.expiration=='days'">
                  <div class="form-group">
                    <div class="control-label">Tiempo</div>
                    <div class="cb-control">
                      <div class="input-group">
                          <input type="text" class="form-control" />
                          <span class="input-group-addon">Días</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Estado</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option>Activo</option>
                        <option>Bloqueado</option>
                        <option>Cancelado</option>
                        <option>Inactivo</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" /> Se obliga a cambiar la contraseña cuando termine la vigencia del login
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom">
          <nav class="navbar navbar-default">
            <button class="btn btn-primary navbar-btn">Guardar</button>
          </nav>
        </div>
      </div>
    </li>
    <li>
      <span>Preferencias</span>
      <div>
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Imagen</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control" readonly />
                        <span class="input-group-btn">
                        <button class="btn btn-default"><span class="fa fa-paperclip"></span></button>
                        <button class="btn btn-default"><span class="fa fa-times-circle-o"></span></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Saludo al ingresar</div>
                    <div class="cb-control">
                        <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Ultimo acceso</div>
                    <div class="cb-control">
                        <input type="text" class="form-control" value="12/12/2017" readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="cb-navbar cb-navbar-bottom">
          <nav class="navbar navbar-default">
            <button class="btn btn-primary navbar-btn">Guardar</button>
          </nav>
        </div>
      </div>
    </li>
    <li>
      <span>Productos</span>
      <div style="padding:0; margin:-1px;">
        <fieldset class="cb-group cb-group-simple cb-no-margin">
          <div>
            <kendo-grid options="products"></kendo-grid>
          </div>
        </fieldset>
      </div>
    </li>
    <li>
      <span>Medios de envío</span>
      <div style="padding:0; margin:-1px;">
        <fieldset class="cb-group cb-group-simple cb-no-margin">
          <div>
            <kendo-grid options="deliveryTypes2"></kendo-grid>
          </div>
        </fieldset>
      </div>
    </li>
    <li>
      <span>Beneficiarios</span>
      <div style="padding:0; margin:-1px;">
        <fieldset class="cb-group cb-group-simple cb-no-margin">
          <div>
            <kendo-grid options="thirdParty"></kendo-grid>
          </div>
        </fieldset>
      </div>
    </li>
  </ul>
</div>
