<fieldset class="cb-group cb-group-simple">
    <legend>Domicilio Particular</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Calle</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">No. Exterior</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">No. Interior</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Código postal</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Colonia/Barrio</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Municipio./Del.</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Ciudad</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Estado</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">País</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Teléfono fijo</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
    </div>
</fieldset>