{{ formType }}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Apellido Paterno</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Apellido Materno</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Nombres</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Profesión, giro o Actividad económica</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Estado Civil</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Ciudad de Nacimiento</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Estado de Nacimiento</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">País de Nacimiento</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Fecha de Nacimiento</div>
            <div class="cb-control">
                <input type="date" kendo-datepicker required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Edad</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Género</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Identificación</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Folio de Identificación</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Forma Migratoria (Extranjeros)</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Nacionalidad (especificar)</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">R.F.C. (Homoclave)</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">C.U.R.P.</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Teléfono Oficina</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Teléfono Celular</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Correo electrónico</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
</div>
<div ng-include="'includes/address.html'"></div>
<fieldset class="cb-group cb-group-simple" ng-if="formType !== 'legal'">
    <legend>Información adicional</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Nivel de Estudio</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Tiempo de radicar en el domicilio actual</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Antigüedad en el empleo y/o negocio</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Ingreso mensual</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Cuál es el importe inical que será depositado en esta
                    inversión?</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">Origen de los recursos</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Usted ha ocupado un cargo político durante los últimos 12
                    meses?</div>
                <div class="cb-control">
                    <select kendo-combo-box>
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Qué cargo?</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Tiene relación de parentesco con algún político activo o que
                    haya ejercido en los últimos 12 meses?</div>
                <div class="cb-control">
                    <select kendo-combo-box>
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">Nombre de funcionario</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">Parentesco</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Es residente de otro país, contribuyente o accionista en una
                    empresa de otro país?</div>
                <div class="cb-control">
                    <select kendo-combo-box>
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">En caso de responder Si, ¿Cuál es su número de identificación
                    fiscal?</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">País o países que lo asignaron</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Es usted el propietario real de los recursos?</div>
                <div class="cb-control">
                    <select kendo-combo-box>
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Relación con el dueño de los recursos</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">¿Es usted el proveedor de los recursos?</div>
                <div class="cb-control">
                    <select kendo-combo-box>
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Relación con el Proveedor de los Recursos</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Destino de los Recursos</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Piensa Incrementar su Inversión en forma Mensual?, Monto
                </div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">¿Piensa Realizar Retiros Mensuales?</div>
                <div class="cb-control">
                    <select kendo-combo-box>
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Monto</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
    </div>
</fieldset>