<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Apellido Paterno</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Apellido Materno</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Nombres</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Personalidad jurídica</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option>Persona física</option>
                    <option>Persona modal</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Identificación</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Folio de Identificación</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Fecha de Nacimiento</div>
            <div class="cb-control">
                <input type="date" kendo-datepicker required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Calidad migratoria</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Nacionalidad</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
</div>
<fieldset class="cb-group cb-group-simple">
    <legend>Información poder</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Tipo de Poder</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Nombre de Notario</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Número de escritura para otogamiento de poderes</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="control-label">Fecha de Otorgamiento</div>
                <div class="cb-control">
                    <input type="date" kendo-datepicker required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">¿Es residente de otro país, contribuyente o accionista de una empresa en otro país?</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">En caso de responder que sí ¿Cuál es su número de ID. fiscal?</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="control-label">País o Paises que lo asignaron</div>
                <div class="cb-control">
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div ng-include="'includes/address.html'"></div>