<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Apellido Paterno</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Apellido Materno</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Nombres</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Identificación</div>
            <div class="cb-control">
                <select kendo-combo-box>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Folio de Identificación</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="control-label">Porcentaje de participación</div>
            <div class="cb-control">
                <input type="text" class="form-control" required />
            </div>
        </div>
    </div>
</div>