.cb-disabled {
    pointer-events: none;
    opacity: .5;
}
.cb-btn {
    border: 0;
    background-color: transparent;
    font-size: 12px;
    position: relative;
    &:focus,
    &:active {
        outline: none;
    }

    &--icon {
        &:hover {
            .cb-wrapper {
                box-shadow: inset 0 0 0 3px #093e7c36;
                ;
            }

            .cb-label {
                color: @brand-2;
            }
        }

        .cb-wrapper {
            background-color: #FF7827;
            color: #FFF;
            display: inline-block;
            padding: 8px;
            border-radius: 100vh;
        }

        .cb-label {
            margin-top: 8px;
            font-weight: 500;
        }

        .cb-toggle {
            position: absolute;
            top: 14px;
            background: @brand-2;
            color: #FFF;
            border-radius: 100vh;
            margin-left: -7px;
            font-size: 14px;
        }
        .cb-counter {
            position: absolute;
            top: 14px;
            background: @brand-2;
            color: #FFF;
            border-radius: 100vh;
            margin-left: -7px;
            font-size: 14px;
        }
    }
}

.cb-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;

    &--size-1 {
        font-size: 1rem;
    }

    &--size-2 {
        font-size: 1.5rem;
    }

    &--size-3 {
        font-size: 2rem;
    }

    &--size-4 {
        font-size: 3rem;
    }

    &--size-5 {
        font-size: 4.5rem;
    }

    &--toggle {
        transform: rotate(90deg);
    }
}

.cb-avatar {
    --default-size: var(--size, 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: @brand-2;
    border-radius: 100vh;
    padding: .25rem;
    font-size: calc(var(--default-size) - (var(--default-size) * .6));
    min-width: var(--default-size);
    min-height: var(--default-size);
    user-select: none;

    &__item {
        .cb-label {
            font-size: 1rem;
            font-weight: 500;
        }

        .cb-toggle {
            position: relative;
            background: @brand-3;
            color: #FFF;
            border-radius: 100vh;
            margin-left: -14px;
            font-size: 14px;
        }
    }

    >div {
        font-size: 1em;
        line-height: 1em;
    }
}

.cb-list {
    &__item {
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: 1px solid @body-bg;
        }
    }
}

.cb-card {
    border-radius: .5rem;
    background-color: #FFF;
    overflow: hidden;

    &.cb-open {
        .cb-card__list {
            display: block;
        }
    }

    &,
    &__link {

        &:hover,
        &:active,
        &:focus {
            text-decoration: none !important;
            border-color: @brand-2;
        }
    }

    a& {
        padding: 1rem;
    }

    &__link {
        border: 0;
        background-color: transparent;
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        color: @brand-2;

        .cb-icon--toggle {
            transition: transform .2s;
        }

        &:active,
        &:focus {
            outline: none;
            background-color: rgba(0, 0, 0, .02);
        }
    }

    &__actions {
        display: flex;
        border-top: 1px solid #F6F1EB;

        a,
        button {
            flex-grow: 1;
            text-transform: uppercase;
            border: 0;
            background-color: transparent;
            font-size: 0.75rem;
            color: @brand-3;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;

            &:active,
            &:focus {
                outline: none;
                background-color: rgba(0, 0, 0, .02);
            }

            &:not(:last-child) {
                border-right: 1px solid #F6F1EB;
            }
        }
    }


    &__list {
        &.cb-collapsible {
            display: none;
        }

        >a {
            padding: 1rem;

            &:first-child {
                border-top: 2px solid @body-bg;
            }

            &:not(:last-child) {
                border-bottom: 2px solid @body-bg;
            }
        }
    }

    &--ticket {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        max-width: 80vw;
        position: relative;
        overflow: visible;

        &::after {
            background: linear-gradient(-20deg, transparent 10px, #ffffff 0), linear-gradient(20deg, transparent 10px, #ffffff 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 26px 20px;
            content: "";
            display: block;
            width: 100%;
            height: 13px;
            position: absolute;
            bottom: -13px;
            left: 0px
        }
    }
}

.cb-backdrop {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: saturate(50%) blur(2px);
    background-color: rgba(0, 0, 0, .4);
}