.ib-mobile-nowrap {white-space: nowrap;}
.ib-mobile-minWidth200 {min-width: 200px;}
.ib-mobile-minWidth150 {min-width: 150px;}
.ib-mobile-minWidth100 {min-width: 100px;}
.k-grid[k-scrollable=false]{overflow-x:auto !important;}
/*
.k-pager-wrap.k-pager-md .k-pager-info, .k-pager-wrap.k-pager-sm .k-pager-info
{ display : flex !important;
}
*/
.ib-mobile-hidden { 
	display:none !important
}
.k-grid::after {
	display: none !important;
}

.modal {
    text-align: center !important;
    padding: 0!important;
  }
  
  .modal::before {
    content: '' !important;
    display: inline-block !important;
    height: 100% !important;
    vertical-align: middle !important;
    margin-right: -4px !important;
  }
  
  .modal-dialog {
    display: inline-block !important;
    text-align: left !important;
    vertical-align: middle !important;
  }