<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip="tabs" class="cb-flex cb-column cb-grow">
          <ul>
            <li class="k-state-active" ng-show="!editable">
              <a href="#">Resumen</a>
            </li>
            <li id="tab-deudores">
              <a href="#">Clientes</a>
            </li>
            <li>
              <a href="#">Operación</a>
            </li>
            <li>
              <a href="#">Condiciones</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Rubros</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Abonos</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Garantías</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Tasas</a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div kendo-chart k-options="resumen" style="height: 350px;"></div>
                </div>
                <div class="col-sm-6">
                  <h4 style="color: #8e8e8e; font-size: 16px; font-weight: normal; text-align: center; margin-bottom:22px;">Sumario</h4>
                  <ul class="list-group">
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Saldo precancelar</div>
                      <div>34,567.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Saldo vencido</div>
                      <div>0.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Valor mora</div>
                      <div>0.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Monto cancelado</div>
                      <div>800.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Próximo pago</div>
                      <div>2018-03-12</div>
                    </li>
                  </ul>
                </div>
              </div>
              <h4 style="color: #8e8e8e; font-size: 16px; font-weight: normal; text-align: center; margin-bottom:22px;">Amortización</h4>
              <fieldset class="cb-group cb-group-simple">
                <div>
                  <kendo-grid options="amortizacionView"></kendo-grid>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="deudores"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container-fluid">
              <div ng-include="'includes/operacion.html'"></div>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <div ng-include="'includes/negociacion.html'"></div>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container-fluid">
              <kendo-grid options="rubros"></kendo-grid>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">

          </div>
          <div class="cb-grow cb-scrollable">

          </div>
          <div class="cb-grow cb-scrollable">

          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="edit()">Guardar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="editable=false">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="proyeccion-cuota" class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Proyección cuota a pagar</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <fieldset class="cb-group cb-group-simple cb-group-flex">
                <div>
                  <div class="form-vertical">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group cb-required">
                          <div class="control-label">Tipo</div>
                          <div class="cb-control">
                            <select class="form-control" ng-model="request.type">
                              <option value="date">Fecha</option>
                              <option value="days">Número de días</option>
                              <option value="row">Dividendos</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12" ng-if="request.type=='date'">
                        <div class="form-group cb-required">
                          <div class="cb-control">
                            <input type="date" kendo-datepicker />
                          </div>
                          </div>
                        </div>
                        <div class="col-sm-12" ng-if="request.type=='days'">
                          <div class="form-group cb-required">
                            <div class="cb-control">
                              <div class="input-group">
                                <input type="number" class="form-control" />
                                <span class="input-group-addon">
                                Días
                              </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12" ng-if="request.type=='row'">
                          <div class="form-group cb-required">
                            <div class="cb-control cb-flex cb-gutters">
                              <div>
                                <input type="number" class="form-control" placeholder="Desde" />
                            </div>
                                <div>
                                  <input type="number" class="form-control" placeholder="Hasta" />
                            </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <div class="cb-control">
                                  <div class="checkbox">
                                    <label>
                              <input type="checkbox" /> Precancelación
                              </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                              <input type="checkbox" /> Sin intereses
                              </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                              <input type="checkbox" /> COGEP
                              </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </fieldset>
            </div>
            <div class="col-sm-6">
              <div ng-if="!showEstimatedFee" class="panel panel-default cb-flex cb-middle cb-center text-center text-muted" style="height: 200px; margin: 0;">
                Ingrese los criterios para el calculo.
              </div>
              <kendo-grid options="cuota" ng-if="showEstimatedFee"></kendo-grid>
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" ng-click="showEstimatedFee=true">Calcular</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="simulacion-abono" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Simulación abono</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group cb-required">
                      <div class="control-label">Monto abono</div>
                      <div class="cb-control cb-flex cb-gutters">
                        <input type="number" class="form-control" />
                      </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group cb-required">
                        <div class="control-label">Monto nuevo dividendo</div>
                        <div class="cb-control cb-flex cb-gutters">
                          <input type="number" class="form-control" readonly />
                      </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="imprimir" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Impresión de reportes</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="control-label">Seleccione los reportes que desea imprimir</div>
                      <div class="cb-control">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" /> Información general
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Tabla de amortización
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Tabla de amortización COGEP
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Tabla de vencimiento
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Tabla de vencimiento COGEP
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Recibo de pago
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Liquidación DEALER
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Liquidación factory comercial
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Liquidación / desembolso parcial
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Estado de cuenta
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Estado actual
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Orden de desembolso
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" /> Cupones factor
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Imprimir</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="prestamos" src="../../lib/require/require.js"></script>
</body>

</html>
