<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="state='selection'">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
      <div class="cb-breadcrumb">
        <ul class="breadcrumb" ng-show="state=='flow'">
          <li><a href="#" ng-click="state='selection'">Selección de operaciones</a></li>
          <li>Flujo</li>
        </ul>
        <ul class="breadcrumb" ng-show="state=='selection'">
          <li>Selección de operaciones</li>
        </ul>
      </div>
      <div class="cb-scrollable cb-grow" style="padding:30px;">
        <div class="container" ng-show="state=='selection'">
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <legend>Operaciones precanceladas</legend>
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Tipo</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label"># Tramo</div>
                      <div class="cb-control">
                        <input type="text" class="form-control" />
                      </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <div class="control-label">Desde</div>
                        <div class="cb-control">
                          <input type="text" kendo-datepicker />
                      </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <div class="control-label">Hasta</div>
                          <div class="cb-control">
                            <input type="text" kendo-datepicker />
                      </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="fideicomisosPrecanceladas2"></kendo-grid>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <legend>Operaciones a canjear</legend>
            <div>
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Tipo</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Todas</option>
                          <option>Prendarias</option>
                          <option>No prendarias</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="fideicomisosCanjear2"></kendo-grid>
            </div>
          </fieldset>
        </div>
        <div class="container" ng-show="state=='flow'">
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="fideicomisosFlujo2"></kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <button class="btn btn-primary navbar-btn" ng-show="state=='flow'" ng-click="submit()">Guardar</button>
          <button class="btn btn-default navbar-btn" ng-show="state=='flow'" ng-click="state='selection'">Regresar</button>
          <button class="btn btn-default navbar-btn" ng-show="state=='selection'" ng-click="state='flow'">Ver flujo</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="proyeccion-cuota" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Proyección cuota a pagar</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <fieldset class="cb-group cb-group-simple cb-group-flex">
                <div>
                  <div class="form-vertical">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group cb-required">
                          <div class="control-label">Tipo</div>
                          <div class="cb-control">
                            <select class="form-control" ng-model="request.type">
                              <option value="date">Fecha</option>
                              <option value="days">Número de días</option>
                              <option value="row">Dividendos</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12" ng-if="request.type=='date'">
                        <div class="form-group cb-required">
                          <div class="cb-control">
                            <input type="date" kendo-datepicker />
                          </div>
                          </div>
                        </div>
                        <div class="col-sm-12" ng-if="request.type=='days'">
                          <div class="form-group cb-required">
                            <div class="cb-control">
                              <div class="input-group">
                                <input type="number" class="form-control" />
                                <span class="input-group-addon">
                                Días
                              </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12" ng-if="request.type=='row'">
                          <div class="form-group cb-required">
                            <div class="cb-control cb-flex cb-gutters">
                              <div>
                                <input type="number" class="form-control" placeholder="Desde" />
                            </div>
                                <div>
                                  <input type="number" class="form-control" placeholder="Hasta" />
                            </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <div class="cb-control">
                                  <div class="checkbox">
                                    <label>
                              <input type="checkbox" /> Precancelación
                              </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                              <input type="checkbox" /> Sin intereses
                              </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                              <input type="checkbox" /> COGEP
                              </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </fieldset>
            </div>
            <div class="col-sm-6">
              <div ng-if="!showEstimatedFee" class="panel panel-default cb-flex cb-middle cb-center text-center text-muted" style="height: 200px; margin: 0;">
                Ingrese los criterios para el calculo.
              </div>
              <kendo-grid options="cuota" ng-if="showEstimatedFee"></kendo-grid>
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" ng-click="showEstimatedFee=true">Calcular</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="prestamos" src="../../lib/require/require.js"></script>
</body>

</html>
