<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="cb-view">
        <div class="cb-breadcrumb">
            <ol class="breadcrumb">
                <li>Apertura de caja (Moneda: PESO COLOMBIANO, Filial: BANCO AGRARIO DE COLOMBIA, C&oacute;digo: 9, Id:15)</li>
            </ol>
        </div>
        <div class="cb-view-container cb-group-layout container" style="padding-top: 30px;max-width: 400px;">
            <div class="cb-group cb-group-simple">
                <div class="form-vertical">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <div class="control-label">Efectivo</div>
                                <div class="cb-control">
                                    <input type="number" kendo-numeric-text-box k-format="c0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="control-label">&nbsp;</div>
                                <div class="cb-control">
                                    <button class="btn btn-primary btn-block" ng-click="apertura()">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>
