<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
	<div class="cb-view">
		<div class="cb-breadcrumb">
			<ol class="breadcrumb">
				<li>Cajas por rol</li>
			</ol>
		</div>
		<div class="cb-view-container-root container">
            <fieldset class="cb-group cb-group-simple">
                <div class="cb-group cb-group-simple">
                    <div class="form-vertical">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="control-label">Rol</div>
                                    <div class="cb-control">
                                        <div class="cb-flex cb-gutters">
                                            <div class="cb-grow">
                                               <select class="form-control">
                                                   <option>MENU POR PROCESOS</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <kendo-grid options="tiposCaja"></kendo-grid>    
                </div>
            </fieldset>
		</div>
	</div>
	
	<div id="historial" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Historial</h4>
		  </div>
		  <div class="modal-body">
			<div class="cb-group cb-group-simple">
                    <div class="form-vertical">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="control-label">Rol</div>
                                    <div class="cb-control">
                                        <div class="cb-flex cb-gutters">
                                            <div class="cb-grow">
                                               <select class="form-control">
                                                   <option>MENU POR PROCESOS</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="control-label">Caja</div>
                                    <div class="cb-control">
                                        <div class="cb-flex cb-gutters">
                                            <div class="cb-grow">
                                               <select class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="control-label">Mostrar</div>
                                    <div class="cb-control">
                                        <div class="cb-flex cb-gutters">
                                            <div class="cb-grow">
                                               <select class="form-control">
                                                   <option>Cajas por rol</option>
                                                    <option>Roles por caja</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="control-label">&nbsp;</div>
                                    <div class="cb-control">
                                        <div class="cb-flex cb-gutters">
                                            <div class="cb-grow">
                                               <button class="btn btn-default btn-block">Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <kendo-grid options="tiposCajaHistoria"></kendo-grid>    
                </div>	
			<div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
				<nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
					<button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
					<button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
				</nav>
			</div>
		  </div>
		</div>
      </div>
    </div>
    
    <div id="caja" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Tipo de caja</h4>
		  </div>
		  <div class="modal-body">
			<div class="cb-group cb-group-simple">
                <kendo-grid options="tiposCajaVista"></kendo-grid>    
            </div>	
			<div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
				<nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
					<button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
					<button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
				</nav>
			</div>
		  </div>
		</div>
      </div>
    </div>

    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>