<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="cb-view">
        <div class="cb-viewport cb-flex cb-column">
            <div class="cb-form-header cb-no-margin">
                <div class="cb-flex cb-middle">
                    <div class="cb-grow">
                        <div class="cb-flex cb-gutters cb-wrap">
                            <div>
                                <div class="small control-label">Usuario</div>
                                <div>admuser</div>
                            </div>
                            <div>
                                <div class="small control-label">Oficina</div>
                                <div>AVENIDA JIMENEZ</div>
                            </div>
                            <div>
                                <div class="small control-label">Caja</div>
                                <div>#09 - Normal</div>
                            </div>
                            <div>
                                <div class="small control-label">Moneda</div>
                                <div>PESO COLOMBIANO</div>
                            </div>
                            <div>
                                <div class="small control-label">Tipo de total</div>
                                <div>CENTRALES</div>
                            </div>
                            <div ng-if="closed">
                                <div class="small control-label">Ultimo cierre</div>
                                <div>03/06/2017</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="btn-group">
                        <button id="more-info" class="btn btn-default" ng-if="!closed" data-toggle="modal" data-target="#amount-form"><span class="fa fa-play-circle"></span> Procesar cierre</button>
                        <button id="more-info" class="btn btn-default" ng-show="closed" ng-click="closed=false"><span class="fa fa-undo"></span> Eliminar cierre</button>
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-angle-down"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-show="!closed"><a href="javascript://">Transferir</a></li>
                            <li><a href="javascript://">Imprimir</a></li>
                            <li ng-show="closed"><a href="javascript://">Reporte resumido</a></li>
                            <li><a href="javascript://">Reporte todas las cajas</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="k-tabstrip-wrapper cb-flex cb-grow" ng-show="processed">
                <div kendo-tab-strip class="cb-flex cb-column cb-grow">
                    <ul>
                        <li class="k-state-active">
                            <a href="#">Totales</a>
                        </li>
                        <li>
                            <a href="#">Pendientes entre cajeros</a>
                        </li>
                        <li>
                            <a href="#">Pendientes entre oficinas</a>
                        </li>
                        <li>
                            <a href="#">Efectivo</a>
                        </li>
                        <li>
                            <a href="#">Transacciones</a>
                        </li>
                    </ul>
                    <div class="cb-grow cb-scrollable">
                        <kendo-grid options="cuadre"></kendo-grid>
                        <div class="list-group" style="margin-top:30px; width:500px; margin-left:auto;">
                            <div class="list-group-item">
                                <div class="cb-flex">
                                    <div class="cb-grow" style="font-weight:bold;">Efectivo final</div>
                                    <div>$105,622,580,929.66</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="cb-flex">
                                    <div class="cb-grow" style="font-weight:bold;">Cheques propios</div>
                                    <div>$854,894,520.56</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="cb-flex">
                                    <div class="cb-grow" style="font-weight:bold;">Cheques locales</div>
                                    <div>$8,895,959.57</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="cb-flex">
                                    <div class="cb-grow" style="font-weight:bold;">Cheques otras plazas</div>
                                    <div>$1,518,448.60</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cb-grow cb-scrollable">
                        <kendo-grid options="transferencias"></kendo-grid>
                    </div>
                    <div class="cb-grow cb-scrollable">
                        <kendo-grid options="transferencias"></kendo-grid>
                    </div>
                    <div class="cb-grow cb-scrollable">
                        <kendo-grid options="efectivo"></kendo-grid>
                    </div>
                    <div class="cb-grow cb-scrollable">
                        <fieldset class="cb-group cb-group-simple cb-group-flex" style="width:400px;">
                            <div>
                                <div class="form-vertical">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group cb-required">
                                                <div class="control-label">Hora de inicio</div>
                                                <div class="cb-control">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group cb-required">
                                                <div class="control-label">Hora de inicio</div>
                                                <div class="cb-control">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <div class="control-label">&nbsp;</div>
                                                <div class="cb-control">
                                                    <button class="btn btn-primary btn-block">Filtrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </fieldset>
                        <kendo-grid options="detalleTransacciones"></kendo-grid>
                    </div>
                </div>
            </div>
            <div class="cb-navbar cb-navbar-bottom" ng-show="processed && !closed">
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <button class="btn btn-primary navbar-btn" ng-click="closed=true">Cerrar</button>
                </nav>
            </div>
        </div>
    </div>
    
    <div id="amount-form" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Procesar Cierre</h4>
                </div>
                <div class="modal-body">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                        <div>
                            <div class="form-vertical">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group cb-required">
                                            <div class="control-label">Monto</div>
                                            <div class="cb-control">
                                                <input type="number" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="cb-control small text-muted">
                                                Ingrese el monto con el que va a cerrar la caja
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group cb-required">
                                            <div class="control-label">Tipo de total</div>
                                            <div class="cb-control">
                                                <select class="form-control">
                                                    <option>CENTRALES</option>
                                                    <option>LOCAL</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group cb-required">
                                            <div class="control-label">Caja</div>
                                            <div class="cb-control">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>1-07</option>
                                                    <option>2-08</option>
                                                    <option>3-09</option>
                                                    <option>4-10</option>
                                                    <option>5-11</option>
                                                    <option>6-12</option>
                                                    <option>7-13</option>
                                                    <option>8-14</option>
                                                    <option>9-15</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </fieldset>
                    <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
                        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="processed=true">Aceptar</button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/x-kendo-template" id="detail-template">
        <kendo-grid options="detalleEfectivo"></kendo-grid>
    </script>
    
    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>