<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="cb-view">
        <div class="cb-viewport cb-flex cb-column">
            <div class="cb-form-header cb-no-margin">
                <div class="cb-flex cb-bottom">
                    <div class="cb-grow">
                        <div class="cb-view-container cb-group-layout container">
                            <div class="cb-group cb-group-simple cb-group-flex">
                                <div>
                                    <div class="form-vertical cb-no-margin">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group cb-no-margin">
                                                    <div class="control-label">Reporte</div>
                                                    <div class="cb-control">
                                                        <select kendo-drop-down-list ng-model="type"
                                                            class="form-control">
                                                            <option value="status">Estado de cajas</option>
                                                            <option value="missing">Faltantes de efectivo</option>
                                                            <option value="surplus">Sobrantes de efectivo</option>
                                                            <option value="transactions">Transacciones por estado
                                                            </option>
                                                            <option value="balance">Saldos po tipo de oficina</option>
                                                            <option value="offices">Oficinas con exceso de efectivo
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group cb-no-margin">
                                                    <div class="control-label">Fecha</div>
                                                    <div class="cb-control">
                                                        <input type="date" kendo-datepicker />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group cb-no-margin">
                                                    <div class="control-label">Moneda</div>
                                                    <div class="cb-control">
                                                        <select kendo-drop-down-list class="form-control">
                                                            <option></option>
                                                            <option>Soles - PEN</option>
                                                            <option>Dólares - USD</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group cb-no-margin">
                                                    <div class="control-label">Oficina</div>
                                                    <div class="cb-control">
                                                        <select kendo-combo-box class="form-control">
                                                            <option></option>
                                                            <option>Matriz</option>
                                                            <option>Sucursal</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button id="more-info" class="btn btn-default" ng-if="!closed" data-toggle="modal"
                            data-target="#amount-form"><span class="fa fa-search"></span> Consultar</button>
                    </div>
                </div>
            </div>
            <div class="cb-view cb-grow cb-scrollable">
                <div class="cb-view-container-root container">
                    <div class="row" ng-if="type === 'status'">
                        <div class="col-sm-6">
                            <div kendo-chart options="statusChart" style="height: 320px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <kendo-grid options="statusGrid"></kendo-grid>
                        </div>
                    </div>
                    <div class="row" ng-if="type === 'missing'">
                        <div class="col-sm-6">
                            <div kendo-chart options="missingChart" style="height: 500px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <kendo-grid options="missingGrid"></kendo-grid>
                        </div>
                    </div>
                    <div class="row" ng-if="type === 'surplus'">
                        <div class="col-sm-6">
                            <div kendo-chart options="missingChart" style="height: 500px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <kendo-grid options="missingGrid"></kendo-grid>
                        </div>
                    </div>
                    <div ng-if="type === 'transactions'"
                        style="background-color: #FFF; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2); margin-bottom: 30px;">
                        <div style="padding: 15px;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div kendo-chart options="transactionsChart3" style="height: 350px;"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div kendo-chart options="transactionsChart2" style="height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                        <kendo-grid options="transactionsGrid"></kendo-grid>
                    </div>
                    <div class="row" ng-if="type === 'balance'">
                        <div class="col-sm-6">
                            <div kendo-chart options="balanceChart" style="height: 320px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <kendo-grid options="balanceGrid"></kendo-grid>
                        </div>
                    </div>
                    <div ng-if="type === 'offices'"
                        style="background-color: #FFF; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2); margin-bottom: 30px;">
                        <div style="padding: 15px;">
                            <div kendo-chart options="officesChart" style="height: 350px;"></div>
                        </div>
                        <kendo-grid options="officesGrid"></kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-template" id="detail-template">
        <kendo-grid options="detalleEfectivo"></kendo-grid>
    </script>

    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>