<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">

    <div class="container" style="width:500px; margin-top:100px;">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="control-label">Fecha de proceso</div>
                    <div class="cb-control">
                        <input type="text" class="form-control" value="12/12/2016" readonly />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group has-success">
                    <div class="control-label">Estado</div>
                    <div class="cb-control">
                        <div class="cb-semaphore cb-flex" style="
                            display: flex;
                            padding: 4px;
                            height: 34px;
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            background-color: #FFF;
                            margin-bottom: 30px;
                        ">
                            <div class="cb-semophore-red cb-grow" style="
                                border-radius: 2px;
                                background-color: #F44336;
                                box-shadow: 0 0 1px inset;
                                margin-right: 4px;
                                margin-left: 2px;
                                margin-top: 2px;
                                margin-bottom: 2px;
                            "></div>
                            <div class="cb-semophore-yellow cb-grow" style="
                                border-radius: 2px;
                                background-color: #FFC107;
                                box-shadow: 0 0 1px inset;
                                margin-right: 4px;
                                margin-top: 2px;
                                margin-bottom: 2px;                                            
                            "></div>
                            <div class="cb-semophore-green cb-grow" style="
                                border-radius: 2px;
                                background-color: #4CAF50;
                                box-shadow: 0 0 1px inset;
                                color: #FFF;
                                text-align: center;
                                line-height: 24px;
                                font-size: 12px;
                                font-weight: bold;
                            ">OK</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="control-label">&nbsp;</div>
                    <div class="cb-control">
                        <button class="btn btn-primary btn-block" ng-click="submitInicio()">Iniciar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>