<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="cb-view">
        <div class="cb-breadcrumb">
            <ol class="breadcrumb">
                <li>351 - Pago cheque Cuenta Corriente (Moneda: PESO COLOMBIANO, Filial: BANCO AGRARIO DE COLOMBIA, Caja: 9, Id: 15)</li>
            </ol>
        </div>
        <div class="cb-view-container cb-group-layout container" style="padding-top: 30px;max-width: 500px;">
            <div class="cb-group cb-group-simple">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Titular</div>
                                <div class="col-sm-8 cb-control">
                                    <select class="form-control">
                                        <option></option>
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Validó cheque</div>
                                <div class="col-sm-8 cb-control">
                                    <select class="form-control">
                                        <option></option>
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label"># Cuenta</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" kendo-masked-text-box k-mask="'0-000-00-00000-0'" ng-model="checkPayment.accountNumber" ng-blur="fillName(checkPayment)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Nombre</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="form-control" disabled ng-model="checkPayment.accountName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label"># Cheque</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" kendo-masked-text-box k-mask="'0000000'" ng-model="checkPayment.checkNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Valor cheque</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="text-right" kendo-numeric-text-box k-ng-model="checkPayment.value" k-format="c0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Comisión</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="text-right" kendo-numeric-text-box value="0" k-format="c0" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">IVA</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="text-right" kendo-numeric-text-box k-ng-model="checkPayment.value*0.19" k-format="c0" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Valor a pagar</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="text-right" kendo-numeric-text-box k-ng-model="checkPayment.value" k-format="c0" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Valor cajero</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="text-right" kendo-numeric-text-box k-ng-model="checkPayment.value" k-format="c0" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">Valor dispensador</div>
                                <div class="col-sm-8 cb-control">
                                    <input type="text" class="text-right" kendo-numeric-text-box value="0" k-format="c0" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                <button class="btn btn-primary navbar-btn" ng-click="submitSaveDeposit()">Guardar</button>
                <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#sign">Firmas</button>
                
                <button class="btn btn-default navbar-btn" ng-click="resetSaveDeposit()">Limpiar</button>
            </nav>
        </div>
    </div>
    
    <div id="sign" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Firmas</h4>
                </div>
                <div class="modal-body">
                    <fieldset class="cb-group cb-group-simple cb-group-flex">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-7">
                                    <img src="../images/sign.jpg" class="img-responsive" />
                                </div>
                                <div class="col-sm-5">
                                    <fieldset style="margin-bottom:30px;">
                                        <legend>Condiciones</legend>
                                        <kendo-grid k-options="firmaCondiciones"></kendo-grid>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Información adicional</legend>
                                        <kendo-grid k-options="firmaAdicional"></kendo-grid>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
                        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                            <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/x-kendo-template" id="detail-template">
        <kendo-grid options="reversosParametros"></kendo-grid>
    </script>

    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>