<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column" style="background:transparent;">
    <div class="cb-scrollable cb-grow">
      <div class="cb-view-container cb-group-layout container" style="padding-top: 30px; max-width: 500px;">
      <div class="cb-group cb-group-simple">
        <div class="form-vertical">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="control-label">Convenio</div>
                <div class="cb-control">
                  <input type="text" kendo-combo-box options="convenios" placeholder="'Seleccione un convenio'" />
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <div class="control-label">Cliente</div>
                <div class="cb-control">
                  <div class="input-group">
                    <input type="text" class="form-control" readonly placeholder="Seleccione un cliente" />
                    <span class="input-group-btn">
      								<button class="btn btn-default" data-toggle="modal" data-target="#cliente"><span class="fa fa-bars"></span></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <fieldset class="cb-group cb-group-simple">
            <legend>Rubros</legend>
            <div>
              <div kendo-grid="gridRubros" options="rubros"></div>
            </div>
          </fieldset>
          <div class="text-right lead" style="padding: .4em .6em;">
            Total: $235.00
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="cb-navbar cb-navbar-bottom">
      <nav class="navbar navbar-default">
        <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#payment">Pagar</button>
      </nav>
    </div>
  </div>

  <div id="cliente" class="modal fade" ng-cloak>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cliente</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid" style="max-width:600px;">
            <div class="cb-flex cb-gutters">
              <div class="cb-grow">
                <div class="cb-flex cb-gutters">
                  <div class="cb-grow form-group" style="margin-bottom:0;">
                    <input type="text" class="form-control input-lg" placeholder="Ingrese {{ selectedField.label }}" />
                  </div>
                  <div ng-if="!isAdvanced">
                    <button class="btn btn-primary btn-lg" ng-click="find()" title="Buscar"><span class="fa fa-search"></span></button>
                  </div>
                </div>
                <div id="filters" class="cb-flex cb-gutters" ng-class="{'cb-gap-bottom':!isAdvanced}">
                  <div class="form-control-static">Buscar por:</div>
                  <div>
                    <div class="dropdown">
                      <button class="btn btn-link" data-toggle="dropdown">
                        {{ selectedField.label }} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-class="{'active':selectedField==item}" ng-repeat="item in filters.field"><a href="#" ng-click="setField(item)">{{ item.label }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <fieldset class="cb-group cb-group-simple cb-group-flex">
            <div>
              <kendo-grid class="cb-grid-no-header" options="clientes"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="payment" class="modal fade" ng-cloak>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Pago</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Cuenta</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control" readonly placeholder="Seleccione una cuenta" />
                        <span class="input-group-btn">
          								<button class="btn btn-default"><span class="fa fa-bars"></span></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="control-label">Total a debitar</div>
                    <div class="cb-control">
                      <input type="text" class="form-control text-right" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12"><hr /></div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Efectivo</div>
                    <div class="cb-control">
                      <input type="text" class="form-control text-right" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Cheques bancos locales</div>
                    <div class="cb-control">
                      <input type="text" class="form-control text-right" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Cheques otras plazas</div>
                    <div class="cb-control">
                      <input type="text" class="form-control text-right" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Total depositado</div>
                    <div class="cb-control">
                      <input type="text" class="form-control text-right" readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-kendo-template" id="customer">
    <div class="cb-flex">
      <div class="cb-grow">
        <div><span title="Número">\\##: data.documentNumber # (Identificación)</span> - <span title="Nombre">#: data.name #</span></div>
        <div class="small text-muted"><span title="Código">#: data.documentNumber #</span></div>
      </div>
    </div>
  </script>

  <script>
    var librariesUrl = '../../lib/',
      pinpad = true;
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>
