<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="cb-view">
        <div class="cb-breadcrumb">
            <ol class="breadcrumb">
                <li>Apertura de caja (Moneda: PESO COLOMBIANO, Filial: BANCO AGRARIO DE COLOMBIA)</li>
            </ol>
        </div>
        <div class="cb-view-container-root cb-view-container cb-group-layout container">
            <div class="cb-group cb-group-simple cb-group-flex">
                <div>
                    <div class="form-vertical">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="cb-control">
                                        Escoja la caja con la cual transaccionar&aacute;:
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="cb-view-container cb-group-simple">
                <kendo-grid options="cajas2"></kendo-grid>
            </div>
        </div>
        <div class="cb-view-loading cb-hidden">
            <div class="cb-view-loading-icon"></div>
        </div>
    </div>
    
    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>