<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
    <div class="cb-view">
        <div class="cb-breadcrumb">
            <ol class="breadcrumb">
                <li>Transacciones monetarias</li>
            </ol>
        </div>
        <div class="cb-view-container cb-group-layout container" style="padding-top:50px;">
            <div class="cb-group cb-group-simple">
                <div class="form-vertical">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group cb-required">
                                <div class="control-label">Filial</div>
                                <div class="cb-control">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group cb-required">
                                <div class="control-label">Oficina</div>
                                <div class="cb-control">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="control-label">Producto</div>
                                <div class="cb-control">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="control-label">Usuario</div>
                                <div class="cb-control">
                                    <div class="input-group">
                                        <input type="text" class="form-control" />
                                        <span class="input-group-btn">
                                    <button class="btn btn-default" style="line-height:20px;"><span class="fa fa-bars"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Tipo</div>
                                <div class="cb-control">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Estado</div>
                                <div class="cb-control">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Caja</div>
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-btn">
                                <button class="btn btn-default" style="line-height:20px;"><span class="fa fa-bars"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Moneda</div>
                                <div class="cb-control">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Nem&oacute;nico</div>
                                <div class="cb-control">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Hist&oacute;rico (Desde - Hasta)</div>
                                <div class="cb-control">
                                    <div class="cb-flex cb-gutters">
                                        <div>
                                            <input type="date" kendo-datepicker />
                                        </div>
                                        <div>
                                            <input type="date" kendo-datepicker />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="advanced">
                            <div class="form-group">
                                <div class="control-label">Reversos</div>
                                <div class="cb-control">
                                    <select class="form-control">
                                        <option>Si</option>
                                        <option selected>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr />
                        </div>
                        <div class="col-sm-3 col-sm-offset-3 text-center">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="advanced" /> Campos secundarios
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="cb-control">
                                    <button class="btn btn-primary btn-block" ng-click="results=true">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cb-group cb-group-simple">
                <div>
                    <kendo-grid options="transaccionesMonetarias"></kendo-grid>
                </div>
            </div>
        </div>
    </div>

    <script>
        var librariesUrl = '../../lib/';
    </script>
    <script src="../../lib/require.config.js"></script>
    <script data-main="caja" src="../../lib/require/require.js"></script>
</body>

</html>