<fieldset class="cb-group cb-group-simple cb-group-flex">
  <div>
    <div class="form-vertical">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Nombre</div>
            <div class="cb-control">
              <input type="text" class="form-control" ng-disabled="!editable" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Usuario</div>
            <div class="cb-control">
              <input type="text" class="form-control" ng-disabled="!create" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Contraseña</div>
            <div class="cb-control">
              <input type="password" class="form-control" ng-disabled="!editable" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Género</div>
            <div class="cb-control">
              <select class="form-control" ng-disabled="!editable">
                <option></option>
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Cédula</div>
            <div class="cb-control">
              <input type="text" class="form-control" ng-disabled="!editable" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label"># de empleado</div>
            <div class="cb-control">
              <input type="text" class="form-control" ng-disabled="!editable" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Oficina</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-disabled="!editable"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Departamento</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-disabled="!editable"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Cargo</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-disabled="!editable"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Funcionario inmediato superior</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-disabled="!editable"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="control-label">Estado</div>
            <div class="cb-control">
              <select class="form-control" ng-model="request.status" ng-disabled="!editable">
                <option></option>
                <option>Activo</option>
                <option value="inactive">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4" ng-if="request.status=='inactive'" ng-disabled="!editable">
          <div class="form-group">
            <div class="control-label">Causa de bloqueo</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" readonly />
                <span class="input-group-btn">
                  <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
