<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
    [role="grid"][data-role="draggable"]>tbody>tr:hover>td {
      background-color: #eaeaea;
      cursor: move;
    }

    .cb-draggable {
      cursor: move;
    }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-viewport">
    <div kendo-splitter k-panes="[{size:'250px', collapsible:true}, {}]">
      <div>
        <kendo-tree-view k-data-source="productos" />
      </div>
      <div>
        <div class="cb-view-container-root container-fluid">
          <div class="alert alert-info">Arrastre los registros para reordenar</div>
          <div kendo-grid="diccionariosGrid" options="diccionarios"></div>
        </div>
        <div class="cb-navbar-placeholder cb-navbar-bottom">
          <nav class="navbar navbar-default navbar-fixed-bottom">
            <button class="btn btn-primary navbar-btn" ng-click="submitCaja()">Aceptar</button>
            <button class="btn btn-default navbar-btn" ng-click="view='cajas'">Cancelar</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
