<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-view-container cb-group-layout container" style="padding-top:30px;">
      <fieldset class="cb-group cb-group-simple">
        <div class="form-vertical">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Entrega correspondencia a</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option>Apartado postal</option>
                    <option>Dirección</option>
                    <option>Retención en el banco</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Autorizado por</div>
                <div class="cb-control">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Referido por</div>
                <div class="cb-control">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="cb-wizard">
      <div class="cb-wizard-content">
        <div class="container-fluid">
          <div class="cb-flex">
            <div class="cb-wizard-dropdown btn-group dropup cb-grow hidden-sm hidden-md hidden-lg">
              <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
								<span>Operación</span> <span class="caret"></span>
							</button>
              <ul class="dropdown-menu">
                <li><a href="apertura-step1.html">Titulares</a></li>
                <li><a href="apertura-step2.html">Operación</a></li>
                <li><a href="apertura-step3.html">Recepción de fondos</a></li>
                <li><a href="apertura-step4.html">Formas de pago</a></li>
                <li><a href="#">Adicionales</a></li>
              </ul>
            </div>
            <div class="cb-wizard-nav cb-flex cb-bottom cb-grow hidden-xs">
              <div ng-show="wizardScrollLeft">
                <a href="#" class="btn btn-link" data-slide="prev"><span class="fa fa-angle-left"></span></a>
              </div>
              <div class="cb-flex cb-grow cb-bottom cb-wizard-steps">
                <div class="cb-wizard-step"><a href="apertura-step1.html" class="btn btn-default btn-block">Titulares</a></div>
                <div class="cb-wizard-step"><a href="apertura-step2.html" class="btn btn-default btn-block">Operación</a></div>
                <div class="cb-wizard-step"><a href="apertura-step3.html" class="btn btn-default btn-block">Recepción de fondos</a></div>
                <div class="cb-wizard-step"><a href="apertura-step4.html" class="btn btn-default btn-block">Formas de pago</a></div>
                <div class="cb-wizard-step cb-active"><button class="btn btn-default btn-block">Adicionales</button></div>
              </div>
							<div ng-show="wizardScrollRight">
								<a href="#" class="btn btn-link" data-slide="next"><span class="fa fa-angle-right"></span></a>
							</div>
						</div>
						<div class="cb-actions cb-grow-sm-down">
              <button style="min-width:200px;" class="btn btn-primary btn-block" ng-click="finish()">Finalizar</button>
						</div>
          </div>
        </div>
      </div>
      <div class="cb-view-loading cb-hidden">
        <div class="cb-view-loading-icon"></div>
      </div>
    </div>
  </div>

  <div id="payment" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Recepción</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Forma de pago</div>
              <div class="cb-control">
                <select class="form-control" ng-model="paymentMethod">
                    <option></option>
                    <option value="cash">Efectivo</option>
                    <option value="debit">Nota de débito</option>
                    <option value="check">Cheque</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Monto</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div class="cb-grow">
                    <input type="text" kendo-numeric-text-box k-min="1" k-ng-model="amount" />
                  </div>
                  <div>
                    <select class="form-control">
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                  </div>
                </div>
                <div class="text-muted small" style="margin-top:5px;">Conversión: $234.00 USD, Cotización: 1.34</div>
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label"># Cheque</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Banco</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Retención</div>
              <div class="cb-control">
                <input type="text" kendo-numeric-text-box />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='debit'">
              <div class="control-label">Referencia</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Notas</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="simulate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Simulación</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>Total de interés a ganar</th>
              <td class="text-right">8.73</td>
            </tr>
            <tr>
              <th>Impuestos a retener</th>
              <td class="text-right">0.17</td>
            </tr>
            <tr>
              <th>Interés neto a pagar</th>
              <td class="text-right">8.73</td>
            </tr>
          </table>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="conditions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Condición de retiro</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Tipo</div>
              <div class="cb-control">
                <select class="form-control">
                    <option></option>
                    <option value="cash">Conjunta</option>
                    <option value="debit">Solidaria</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Beneficiarios</div>
              <div class="cb-control">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> José Morales
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> Martín Morales
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="dpf" src="../../lib/require/require.js"></script>
</body>

</html>
