<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-group cb-group-collapsible container" style="padding-top:30px;">
      <ul kendo-panel-bar k-options="{expandMode:'single'}">
        <li class="k-state-active">
          <span>Titulares</span>
          <div>
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="owners"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <legend>Condiciones de retiro</legend>
              <div>
                <kendo-grid options="conditions"></kendo-grid>
              </div>
            </fieldset>
          </div>
        </li>
        <li>
          <span>Operación</span>
          <div>
            <fieldset class="cb-group cb-group-simple">
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Producto</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Certificado al vencimiento</option>
                          <option>Depósito a plazo fijo</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Moneda</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Dólares</option>
                          <option>Euros</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Categoría</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option></option>
                          <option>Nominativos</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Periodicidad</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option>Ninguna</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <hr />
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Monto</div>
                      <div class="cb-control">
                        <input type="number" ng-model="amount" kendo-numeric-text-box k-format="c0" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Plazo</div>
                      <div class="cb-control">
                        <input type="number" ng-model="term" kendo-numeric-text-box k-format="c0" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Tasa</div>
                      <div class="cb-control">
                        <input type="number" ng-model="rate" kendo-numeric-text-box k-format="c0" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Fecha de ingreso</div>
                      <div class="cb-control">
                        <input type="date" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">Fecha de vencimiento</div>
                      <div class="cb-control">
                        <input type="date" kendo-datepicker />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="control-label">&nbsp;</div>
                      <div class="cb-control">
                        <button class="btn btn-default btn-block" ng-click="simulate()">Simular</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </li>
        <li>
          <span>Recepción de fondos</span>
          <div>
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="reception2"></kendo-grid>
              </div>
            </fieldset>
          </div>
        </li>
        <li>
          <span>Forma de pago</span>
          <div>
            <fieldset class="cb-group cb-group-simple">
              <legend>Instrucción de cancelación</legend>
              <div>
                <kendo-grid options="capitalPayment"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <legend>Pago de interés</legend>
              <div>
                <kendo-grid options="interestPayment"></kendo-grid>
              </div>
            </fieldset>
          </div>
        </li>
      </ul>
    </div>
    <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
      <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="finish()">Guardar</button>
        <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="resetSaveDeposit()">Limpiar</button>
      </nav>
    </div>
  </div>

  <div id="payment" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Recepción</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Forma de pago</div>
              <div class="cb-control">
                <select class="form-control" ng-model="paymentMethod">
                    <option></option>
                    <option value="cash">Efectivo</option>
                    <option value="debit">Nota de débito</option>
                    <option value="check">Cheque</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Monto</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div class="cb-grow">
                    <input type="text" kendo-numeric-text-box k-min="1" k-ng-model="amount" />
                  </div>
                  <div>
                    <select class="form-control">
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                  </div>
                </div>
                <div class="text-muted small" style="margin-top:5px;">Conversión: $234.00 USD, Cotización: 1.34</div>
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label"># Cheque</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Banco</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Retención</div>
              <div class="cb-control">
                <input type="text" kendo-numeric-text-box />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='debit'">
              <div class="control-label">Referencia</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Notas</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="simulate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Simulación</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>Total de interés a ganar</th><td class="text-right">8.73</td>
            </tr>
            <tr>
              <th>Impuestos a retener</th><td class="text-right">0.17</td>
            </tr>
            <tr>
              <th>Interés neto a pagar</th><td class="text-right">8.73</td>
            </tr>
          </table>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="conditions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Condición de retiro</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Tipo</div>
              <div class="cb-control">
                <select class="form-control">
                    <option></option>
                    <option value="cash">Conjunta</option>
                    <option value="debit">Solidaria</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Beneficiarios</div>
              <div class="cb-control">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> José Morales
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> Martín Morales
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="dpf" src="../../lib/require/require.js"></script>
</body>

</html>
