<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="editable=true; create=true;">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-toolbar cb-toolbar-top">
          <div class="cb-toolbar-content">
              <div id="task-title" class="cb-grow cb-text-ellipsis">
                  <span id="task-badge" class="label label-default cb-text-sm">234523452444</span> CREACION DE DPF / {{ params.type=='spread'? 'AUTORIZACION SPREAD': '' }} {{ params.type=='anticipada'? 'AUTORIZACION CANCELACION ANTICIPADA' : '' }} {{ params.type=='dias-vencidos'? 'AUTORIZACION DIAS VENCIDOS' : ''}} {{ params.type=='fecha'? 'AUTORIZACION FECHA VALOR' : ''}}
              </div>
              <div>
                  <button class="btn btn-default">Observaciones</button>
                  <button class="btn btn-default">Requerimientos</button>
                  <div class="btn-group">
                      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Acciones <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#">Autorizar</a></li>
                          <li><a href="#">Rechazar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="container cb-grow cb-scrollable" style="padding:30px;">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row" ng-if="params.type=='spread'">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Operación</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option></option>
                        <option>+</option>
                        <option selected>-</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Puntos adicionales a la tasa</div>
                    <div class="cb-control">
                      <div class="cb-flex cb-gutters">
                        <div class="input-group">
                          <input type="text" class="form-control text-right" value="1.25" ng-model="rate" />
                          <span class="input-group-addon">
                            %
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Nueva Tasa</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control text-right" ng-value="rate+8.5" readonly />
                        <span class="input-group-addon">
                          %
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="params.type=='anticipada'">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Operación</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option></option>
                        <option>+</option>
                        <option selected>-</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" ng-if="params.type=='anticipada'">
                  <div class="form-group">
                    <div class="control-label">Tasa de pizarra</div>
                    <div class="cb-control">
                      <select class="form-control" ng-model="board">
                        <option></option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Valor penalización</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-disabled="board=='Si'" />
                        <span class="input-group-addon">
                          USD
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Interés ganado</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control" />
                        <span class="input-group-addon">
                          USD
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Nueva Tasa</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control text-right" />
                        <span class="input-group-addon">
                          %
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="params.type=='dias-vencidos'">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Nueva Tasa</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control text-right" value="4.2" />
                        <span class="input-group-addon">
                          %
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Plazo por días vencidos</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" value="7" readonly />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Interés ganado</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control" value="25" readonly />
                        <span class="input-group-addon">
                          USD
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="params.type=='fecha'">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Fecha valor</div>
                    <div class="cb-control">
                      <input type="date" kendo-datepicker ng-model="date" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Días de diferencia</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="text" class="form-control text-right" ng-value="2" readonly />
                        <span class="input-group-addon">
                          Días
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </fieldset>
      </div>
      <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="create=false;editable=false">Autorizar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="create=false;editable=false">Rechazar</button>
        </nav>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="dpf" src="../../lib/require/require.js"></script>
</body>

</html>
