<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip="tabs" class="cb-flex cb-column cb-grow">
          <ul>
            <li class="k-state-active" ng-show="!editable">
              <a href="#">Resumen</a>
            </li>
            <li id="tab-clientes">
              <a href="#">Clientes</a>
            </li>
            <li>
              <a href="#">Operación</a>
            </li>
            <li>
              <a href="#">Recepción de fondos</a>
            </li>
            <li>
              <a href="#">Forma de pago</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Movimientos monetarios</a>
            </li>
            <li ng-show="!editable">
              <a href="#">Historia</a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div kendo-chart k-options="summary" style="height: 350px;"></div>
                </div>
                <div class="col-sm-6">
                  <h4 style="color: #8e8e8e; font-size: 16px; font-weight: normal; text-align: center;">Sumario</h4>
                  <ul class="list-group">
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Saldo capital</div>
                      <div>20,000.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Saldo interés</div>
                      <div>300.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Bloqueos</div>
                      <div>800.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Garantías</div>
                      <div>400.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Disponible</div>
                      <div>18,800.00 USD</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Numero de pagos</div>
                      <div>1/10</div>
                    </li>
                    <li class="list-group-item cb-flex">
                      <div class="cb-grow" style="font-weight:bold;">Fecha de proximo pago de interés</div>
                      <div>2018-03-12</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Tipo de cuenta</div>
                      <div class="cb-control">
                        <select class="form-control" disabled>
                          <option value="postal">Solidaria</option>
                          <option value="address">Conjunta</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="owners"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div ng-include="'includes/operacion.html'"></div>
              <fieldset class="cb-group cb-group-simple">
                <legend>Adicionales</legend>
                <div class="form-vertical">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="control-label">Entrega correspondencia a</div>
                        <div class="cb-control">
                          <select class="form-control" ng-model="shipping">
                            <option value="postal">Apartado postal</option>
                            <option value="address">Dirección</option>
                            <option value="bank">Retención en el banco</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="control-label">Autorizado por</div>
                        <div class="cb-control">
                          <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="control-label">Referido por</div>
                        <div class="cb-control">
                          <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4" ng-if="shipping=='postal'">
                      <div class="form-group">
                        <div class="control-label">Número Apartado postal</div>
                        <div class="cb-control">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8" ng-if="shipping=='address'">
                      <div class="form-group">
                        <div class="control-label">Dirección</div>
                        <div class="cb-control">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="reception"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <legend>Instrucción de cancelación</legend>
              <div>
                <kendo-grid options="capitalPayment"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <legend>Pago de interés</legend>
              <div>
                <kendo-grid options="interestPayment"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="moneyActivity"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">

          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="edit()">Guardar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="editable=false">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="reverse" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Reversar</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Operación</div>
                    <div class="cb-control">
                      <select class="form-control">
                          <option></option>
                          <option>Activación</option>
                          <option>Renovación</option>
                          <option>Cancelación</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Observaciones</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cancelación {{ params.id=='0456880001'? 'anticipada' : 'normal' }}</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Solicitante</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option></option>
                        <option>José Morales</option>
                        <option>Martín Morales</option>
                        <option>Marta Villavicencio</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" ng-if="params.id!='0456880001'">
                  <div class="form-group">
                    <div class="control-label">Días vencidos</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" value="5" readonly />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Observaciones</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <fieldset class="cb-group cb-group-simple">
                    <div>
                      <kendo-grid options="cancelacion"></kendo-grid>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="retention" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Bloqueos</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="retention" class="cb-no-margin"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="guarantee" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Garantías</h4>
        </div>
        <div class="modal-body">
          <fieldset class="cb-group cb-group-simple">
            <div>
              <kendo-grid options="guarantee" class="cb-no-margin"></kendo-grid>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="payment" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Recepción</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Forma de pago</div>
              <div class="cb-control">
                <select class="form-control" ng-model="paymentMethod">
                    <option></option>
                    <option value="cash">Efectivo</option>
                    <option value="debit">Nota de débito</option>
                    <option value="check">Cheque</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Monto</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div>
                    <select class="form-control">
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                  </div>
                  <div class="cb-grow">
                    <input type="text" kendo-numeric-text-box k-spinners="false" k-format="c0" k-ng-model="amount" />
                  </div>
                </div>
                <div class="text-muted small" style="margin-top:5px;">Conversión: $234.00 USD, Cotización: 1.34</div>
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label"># Cheque</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Banco</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Retención</div>
              <div class="cb-control">
                <input type="text" kendo-numeric-text-box />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='debit'">
              <div class="control-label">Referencia</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Notas</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="conditions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Condición de retiro</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Tipo</div>
              <div class="cb-control">
                <select class="form-control">
                    <option></option>
                    <option value="cash">Conjunta</option>
                    <option value="debit">Solidaria</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Beneficiarios</div>
              <div class="cb-control">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> José Morales
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> Martín Morales
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="simulate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Simulación</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>Total de interés a ganar</th>
              <td class="text-right">8.73</td>
            </tr>
            <tr>
              <th>Impuestos a retener</th>
              <td class="text-right">0.17</td>
            </tr>
            <tr>
              <th>Interés neto a pagar</th>
              <td class="text-right">8.73</td>
            </tr>
          </table>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="dpf" src="../../lib/require/require.js"></script>
</body>

</html>
