<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="header.collapsed=true; editable=true; renovation=true;">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin">
        <div class="cb-flex" ng-class="{'cb-collapsed':header.collapsed}">
            <div class="cb-grow">
                <div class="cb-secondary-text" title="# de prestamo">{{ header.secondaryText }}</div>
                <div class="cb-primary-text cb-text-xl"><button class="btn btn-default cb-caret" ng-click="header.collapsed=!header.collapsed" style="padding:5px; margin-left:-26px; margin-right:5px;"><span class="fa fa-angle-down"></span></button>{{ header.collapsed? header.secondaryText+' - '+header.primaryText : header.primaryText }}</div>
                <div class="cb-fields cb-flex cb-gutters">
                    <div ng-repeat="field in header.fields | filter:{opened:true}">
                        <div>{{ field.value }}</div>
                        <div class="small control-label">{{ field.label }}</div>
                    </div>
                </div>
            </div>
            <div class="cb-actions cb-flex cb-top">
                <div class="btn-group">
                    <button id="more-info" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Más información"><span class="fa fa-info-circle"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" style="color:#333; max-height:300px; overflow: auto;">
                        <table class="table">
                            <thead>
                              <tr><th colspan="2">Más información</th></tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in header.fields | filter:{opened:false}">
                                    <th class="cb-no-wrap">{{ field.label }}</th>
                                    <td>{{ field.value }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip class="cb-flex cb-column cb-grow">
          <ul>
            <li class="k-state-active">
              <a href="#">
                <span class="cb-title">Clientes</span>
                <span class="cb-validation-success">0</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="cb-title">Operación</span>
                <span class="cb-validation-fail">2</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="cb-title">Recepción de fondos</span>
                <span class="cb-validation-success">0</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="cb-title">Forma de pago</span>
                <span class="cb-validation-success">0</span>
              </a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div class="form-vertical">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="control-label">Tipo de cuenta</div>
                      <div class="cb-control">
                        <select class="form-control">
                          <option value="postal">Solidaria</option>
                          <option value="address">Conjunta</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="owners"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container">
              <div ng-include="'includes/operacion.html'"></div>
            </div>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="reception"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <legend>Instrucción de cancelación</legend>
              <div>
                <kendo-grid options="capitalPayment"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <legend>Pago de interés</legend>
              <div>
                <kendo-grid options="interestPayment"></kendo-grid>
              </div>
            </fieldset>
            <fieldset class="cb-group cb-group-simple">
              <legend>Pago reinversión</legend>
              <div>
                <kendo-grid options="interestPayment"></kendo-grid>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <button class="btn btn-primary navbar-btn">Guardar</button>
          <a href="detalle.html" class="btn btn-default navbar-btn">Cancelar</a>
        </nav>
      </div>
    </div>
  </div>

  <div id="payment" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Recepción</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Forma de pago</div>
              <div class="cb-control">
                <select class="form-control" ng-model="paymentMethod">
                    <option></option>
                    <option value="cash">Efectivo</option>
                    <option value="debit">Nota de débito</option>
                    <option value="check">Cheque</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Monto</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div>
                    <select class="form-control">
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                  </div>
                  <div class="cb-grow">
                    <input type="text" kendo-numeric-text-box k-spinners="false" k-format="c0" k-ng-model="amount" />
                  </div>
                </div>
                <div class="text-muted small" style="margin-top:5px;">Conversión: $234.00 USD, Cotización: 1.34</div>
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label"># Cheque</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Banco</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='check'">
              <div class="control-label">Retención</div>
              <div class="cb-control">
                <input type="text" kendo-numeric-text-box />
              </div>
            </div>
            <div class="form-group" ng-show="paymentMethod=='debit'">
              <div class="control-label">Referencia</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Notas</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="simulate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Simulación</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>Total de interés a ganar</th>
              <td class="text-right">8.73</td>
            </tr>
            <tr>
              <th>Impuestos a retener</th>
              <td class="text-right">0.17</td>
            </tr>
            <tr>
              <th>Interés neto a pagar</th>
              <td class="text-right">8.73</td>
            </tr>
          </table>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="conditions" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Condición de retiro</h4>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <div class="control-label">Tipo</div>
              <div class="cb-control">
                <select class="form-control">
                    <option></option>
                    <option value="cash">Conjunta</option>
                    <option value="debit">Solidaria</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Beneficiarios</div>
              <div class="cb-control">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> José Morales
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                      <input type="checkbox" /> Martín Morales
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="dpf" src="../../lib/require/require.js"></script>
</body>

</html>
