<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-view-container cb-group-layout container" style="padding-top:30px;">
      <fieldset class="cb-group cb-group-simple">
        <div class="form-vertical">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Producto</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Certificado al vencimiento</option>
                    <option>Depósito a plazo fijo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Periodicidad</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option>Ninguna</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Categoría</div>
                <div class="cb-control">
                  <select class="form-control">
                    <option></option>
                    <option>Nominativos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <hr />
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Monto</div>
                <div class="cb-control cb-flex cb-gutters">
                  <div>
                    <select class="form-control">
                        <option>USD</option>
                        <option>EUR</option>
                      </select>
                  </div>
                  <div class="cb-grow">
                    <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Plazo</div>
                <div class="cb-control">
                  <div class="input-group">
                    <input type="text" ng-model="term" class="form-control" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                    <span class="input-group-addon">Días</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Tasa</div>
                <div class="cb-control">
                  <div class="input-group">
                    <input type="text" ng-model="rate" class="form-control" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Fecha de ingreso</div>
                <div class="cb-control">
                  <input type="date" kendo-datepicker />
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">Fecha de vencimiento</div>
                <div class="cb-control">
                  <input type="date" kendo-datepicker />
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="control-label">&nbsp;</div>
                <div class="cb-control">
                  <button class="btn btn-default btn-block" ng-click="simulate()">Simular</button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="cb-control">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" /> Retiene impuestos
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div id="simulate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Simulación</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>Total de interés a ganar</th>
              <td class="text-right">8.73</td>
            </tr>
            <tr>
              <th>Impuestos a retener</th>
              <td class="text-right">0.17</td>
            </tr>
            <tr>
              <th>Interés neto a pagar</th>
              <td class="text-right">8.73</td>
            </tr>
          </table>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <a class="btn btn-primary navbar-btn" href="apertura.html">Aperturar</a>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cerrar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="dpf" src="../../lib/require/require.js"></script>
</body>

</html>
