<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view" ng-init="editable=true; create=true;">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin">
        <div class="cb-flex">
          <div class="cb-grow">
            <div class="cb-text-xl">Tapia Andrade Viviana María (Principal)</div>
          </div>
        </div>
      </div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip class="cb-flex cb-column cb-grow">
          <ul>
            <li class="k-state-active">
              <a href="#">
                <span class="cb-title">Clientes</span>
                <span class="cb-validation-success">0</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="cb-title">Operación</span>
                <span class="cb-validation-fail">2</span>
              </a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">
            <fieldset class="cb-group cb-group-simple">
              <div>
                <kendo-grid options="clientes"></kendo-grid>
              </div>
            </fieldset>
          </div>
          <div class="cb-grow cb-scrollable">
            <div class="container-fluid">
              <div ng-include="'includes/general.html'"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="finish()">Guardar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="resetSaveDeposit()">Limpiar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="garantia-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Tipo de garantía</h4>
        </div>
        <div class="modal-body" style="max-height:350px; overflow:auto;">
          <div kendo-tree-view="treeGarantias" k-options="garantiasOptions"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="garantias" src="../../lib/require/require.js"></script>
</body>

</html>
