* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #320000;
  background-color: #EAE6DD;
}
a {
  color: #083E7C;
  text-decoration: none;
}
a,
.ui-page-theme-a a {
  text-shadow: 0 0 0;
  color: #083E7C;
  font-weight: 500;
}
a:hover,
.ui-page-theme-a a:hover {
  color: #083E7C;
}
a:active,
.ui-page-theme-a a:active,
a:focus,
.ui-page-theme-a a:focus {
  outline: none;
  text-decoration: underline;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
  color: #083E7C;
}
.ui-btn,
.ui-page-theme-a .ui-btn {
  border-radius: 100vh;
  background-color: transparent;
  border: 1px solid #083E7C;
  color: #083E7C;
  cursor: pointer;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0.5em 0;
  padding: 0.7em 1em;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
.ui-btn:active,
.ui-page-theme-a .ui-btn:active,
.ui-btn:focus,
.ui-page-theme-a .ui-btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}
.ui-btn.ui-btn-b,
.ui-page-theme-a .ui-btn.ui-btn-b {
  background-color: #083E7C;
  color: #FFF;
}
.ui-btn.ui-btn--brand-1,
.ui-page-theme-a .ui-btn.ui-btn--brand-1 {
  border-color: #320000;
  color: #320000;
}
.ui-btn.ui-btn--brand-1.ui-btn-b,
.ui-page-theme-a .ui-btn.ui-btn--brand-1.ui-btn-b {
  background-color: #320000;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.ui-btn.ui-btn--brand-2,
.ui-page-theme-a .ui-btn.ui-btn--brand-2 {
  border-color: #083E7C;
  color: #083E7C;
}
.ui-btn.ui-btn--brand-2.ui-btn-b,
.ui-page-theme-a .ui-btn.ui-btn--brand-2.ui-btn-b {
  background-color: #083E7C;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.ui-btn.ui-btn--brand-3,
.ui-page-theme-a .ui-btn.ui-btn--brand-3 {
  border-color: #FF7827;
  color: #FF7827;
}
.ui-btn.ui-btn--brand-3.ui-btn-c,
.ui-page-theme-a .ui-btn.ui-btn--brand-3.ui-btn-c {
  color: #FF7827;
  background-color: transparent;
  border-color: transparent;
}
.ui-mobile .ui-page-active {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  color: #320000;
  text-shadow: 0 0 0;
}
.ui-header,
.ui-footer {
  border: 0;
}
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit,
.ui-header {
  background-color: #FF7827;
  min-height: 3.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit,
.ui-header,
.ui-bar-a a,
.ui-page-theme-a .ui-bar-inherit a,
html .ui-bar-a .ui-bar-inherit a,
html .ui-body-a .ui-bar-inherit a,
html body .ui-group-theme-a .ui-bar-inherit a,
.ui-header a,
.ui-bar-a a:hover,
.ui-page-theme-a .ui-bar-inherit a:hover,
html .ui-bar-a .ui-bar-inherit a:hover,
html .ui-body-a .ui-bar-inherit a:hover,
html body .ui-group-theme-a .ui-bar-inherit a:hover,
.ui-header a:hover {
  color: #FFF;
  text-decoration: none;
}
.ui-bar-a > .ui-btn,
.ui-page-theme-a .ui-bar-inherit > .ui-btn,
html .ui-bar-a .ui-bar-inherit > .ui-btn,
html .ui-body-a .ui-bar-inherit > .ui-btn,
html body .ui-group-theme-a .ui-bar-inherit > .ui-btn,
.ui-header > .ui-btn {
  margin: 0;
  height: 3rem;
  width: 3rem;
  top: 0.25rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  border: 0;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  box-shadow: 0 0;
  text-shadow: 0 0 0;
}
.ui-bar-a > .ui-btn:hover,
.ui-page-theme-a .ui-bar-inherit > .ui-btn:hover,
html .ui-bar-a .ui-bar-inherit > .ui-btn:hover,
html .ui-body-a .ui-bar-inherit > .ui-btn:hover,
html body .ui-group-theme-a .ui-bar-inherit > .ui-btn:hover,
.ui-header > .ui-btn:hover {
  background-color: unset;
  border: 0;
  box-shadow: 0 0;
}
.ui-bar-a > .ui-btn.ui-btn-left,
.ui-page-theme-a .ui-bar-inherit > .ui-btn.ui-btn-left,
html .ui-bar-a .ui-bar-inherit > .ui-btn.ui-btn-left,
html .ui-body-a .ui-bar-inherit > .ui-btn.ui-btn-left,
html body .ui-group-theme-a .ui-bar-inherit > .ui-btn.ui-btn-left,
.ui-header > .ui-btn.ui-btn-left {
  left: 0.25rem;
}
.ui-bar-a > .ui-btn.ui-btn-right,
.ui-page-theme-a .ui-bar-inherit > .ui-btn.ui-btn-right,
html .ui-bar-a .ui-bar-inherit > .ui-btn.ui-btn-right,
html .ui-body-a .ui-bar-inherit > .ui-btn.ui-btn-right,
html body .ui-group-theme-a .ui-bar-inherit > .ui-btn.ui-btn-right,
.ui-header > .ui-btn.ui-btn-right {
  right: 0.25rem;
}
.ui-bar-a > .ui-btn.ui-btn-right .cb-badge,
.ui-page-theme-a .ui-bar-inherit > .ui-btn.ui-btn-right .cb-badge,
html .ui-bar-a .ui-bar-inherit > .ui-btn.ui-btn-right .cb-badge,
html .ui-body-a .ui-bar-inherit > .ui-btn.ui-btn-right .cb-badge,
html body .ui-group-theme-a .ui-bar-inherit > .ui-btn.ui-btn-right .cb-badge,
.ui-header > .ui-btn.ui-btn-right .cb-badge {
  background-color: #320000;
  font-size: 0.6875rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vh;
  margin-left: -0.25rem;
}
.ui-bar-a .ui-title,
.ui-page-theme-a .ui-bar-inherit .ui-title,
html .ui-bar-a .ui-bar-inherit .ui-title,
html .ui-body-a .ui-bar-inherit .ui-title,
html body .ui-group-theme-a .ui-bar-inherit .ui-title,
.ui-header .ui-title {
  text-shadow: 0 0 0;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background-color: #EAE6DD;
}
.ui-content {
  padding: 1rem;
  flex-grow: 1;
}
.ui-footer .ui-btn {
  margin: 0;
}
.ui-field-contain--fill {
  background-color: #FFF;
  border: 0;
  border-radius: 4px;
  padding: 0;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.07), inset 1px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  transition: box-shadow 0.2s;
}
.ui-field-contain--fill:focus-within {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.07), inset 1px 2px 4px rgba(0, 0, 0, 0.25), inset 0 -3px 0 #320000;
}
.ui-field-contain--fill:focus-within > label,
.ui-field-contain--fill:focus-within > span {
  font-size: 11px;
  top: 8px;
}
.ui-field-contain--fill:focus-within > input {
  padding-top: 21px;
  padding-bottom: 8px;
}
.ui-field-contain--fill > label,
.ui-field-contain--fill > span {
  font-size: 14px;
  position: absolute;
  top: 1rem;
  left: 14px;
  margin: 0;
  transition: font-size 0.2s, top 0.2s;
  color: #B6B6B6;
  pointer-events: none;
}
.ui-field-contain--fill > input {
  background: transparent;
  border-radius: 4px;
  border: 0;
  padding: 16px 14px;
  padding-bottom: 13px;
  width: 100%;
}
.ui-field-contain--fill > input:focus {
  outline: none;
}
.ui-field-contain--fill > input:not(:placeholder-shown) {
  padding-top: 21px;
  padding-bottom: 8px;
}
.ui-field-contain--fill > input:not(:placeholder-shown) + label,
.ui-field-contain--fill > input:not(:placeholder-shown) + span {
  font-size: 11px;
  top: 8px;
}
.ui-field-contain--fill > input::placeholder {
  color: transparent;
}
.ui-field-contain--fill .ui-select a {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0;
  padding: 16px 14px;
  padding-top: 21px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  color: #320000;
}
.ui-field-contain--list-item {
  box-shadow: 0 0;
  margin: 0;
  color: #320000;
}
.ui-field-contain--list-item:not(:last-child) {
  border-bottom: 1px solid #EAE6DD;
}
.ui-field-contain--list-item > input {
  padding-top: 24px !important;
  font-size: 16px;
  color: #320000;
}
.ui-collapsible {
  border-radius: 0.5rem;
  background-color: #FFF;
}
.ui-collapsible-heading-toggle {
  border: 0;
  text-align: left;
}
.ui-collapsible-content {
  border: 0;
  padding: 0;
}
.ui-collapsible-content .ui-listview {
  margin: 0;
}
.ui-collapsible-content .ui-listview > li {
  padding: 0;
}
.ui-collapsible-content .ui-listview > li:first-child {
  border-top: 2px solid #EAE6DD;
}
.ui-collapsible-content .ui-listview > li:not(:last-child) {
  border-bottom: 2px solid #EAE6DD;
}
.ui-collapsible-content .ui-listview > li > a {
  padding: 1rem;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.m-auto {
  margin: auto !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.mb-n1 {
  margin-bottom: -0.25rem !important;
}
.mb-n2 {
  margin-bottom: -0.5rem !important;
}
.mb-n3 {
  margin-bottom: -1rem !important;
}
.mb-n4 {
  margin-bottom: -1.5rem !important;
}
.mb-n5 {
  margin-bottom: -3rem !important;
}
.ml-auto {
  margin-left: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.gap-0 {
  gap: 0 !important;
}
.gap-1 {
  gap: 0.25rem !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.gap-3 {
  gap: 1rem !important;
}
.gap-4 {
  gap: 1.5rem !important;
}
.gap-5 {
  gap: 3rem !important;
}
.vh-100 {
  height: 100vh !important;
}
.vw-100 {
  width: 100vw !important;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
.text-center {
  text-align: center !important;
}
.text-brand-1 {
  color: #320000;
}
.text-brand-2 {
  color: #083E7C;
}
.text-brand-3 {
  color: #FF7827;
}
.text-success {
  color: #76B82A;
}
.text-danger {
  color: #D90000;
}
.text-subtitle {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.text-medium {
  font-size: 1.125rem;
}
.text-small {
  font-size: 80%;
}
.text-highlight {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
}
.text-muted {
  color: #99958D;
}
.cb-cover-bg {
  background-image: url(images/bg.svg);
  background-size: cover;
}
.cb-logo {
  margin: auto;
  background-image: url(images/logo-trafalgar.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#page-splash .cb-logo {
  width: 244px;
  height: 244px;
}
#page-login .cb-logo {
  width: 150px;
  height: 150px;
}
.cb-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}
.cb-icon--size-1 {
  font-size: 1rem;
}
.cb-icon--size-2 {
  font-size: 1.5rem;
}
.cb-icon--size-3 {
  font-size: 2rem;
}
.cb-icon--size-4 {
  font-size: 3rem;
}
.cb-icon--size-5 {
  font-size: 4.5rem;
}
.cb-icon--toggle {
  transform: rotate(90deg);
}
.cb-page-header {
  background-color: #ff7827;
  color: #FFF;
  text-align: center;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  border-bottom-right-radius: 100vh;
}
.cb-page-header .cb-label {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.cb-list__item {
  padding: 1rem;
}
.cb-list__item:not(:last-child) {
  border-bottom: 1px solid #EAE6DD;
}
.cb-card {
  border-radius: 0.5rem;
  background-color: #FFF;
  overflow: hidden;
}
.cb-card.cb-open .cb-card__list {
  display: block;
}
.cb-card:hover,
.cb-card__link:hover,
.cb-card:active,
.cb-card__link:active,
.cb-card:focus,
.cb-card__link:focus {
  text-decoration: none !important;
  border-color: #083E7C;
}
a.cb-card {
  padding: 1rem;
}
.cb-card__link {
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #083E7C;
}
.cb-card__link .cb-icon--toggle {
  transition: transform 0.2s;
}
.cb-card__link:active,
.cb-card__link:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.02);
}
.cb-card__actions {
  display: flex;
  border-top: 1px solid #F6F1EB;
}
.cb-card__actions a,
.cb-card__actions button {
  flex-grow: 1;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  font-size: 0.75rem;
  color: #FF7827;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.cb-card__actions a:active,
.cb-card__actions button:active,
.cb-card__actions a:focus,
.cb-card__actions button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.02);
}
.cb-card__actions a:not(:last-child),
.cb-card__actions button:not(:last-child) {
  border-right: 1px solid #F6F1EB;
}
.cb-card__list.cb-collapsible {
  display: none;
}
.cb-card__list > a {
  padding: 1rem;
}
.cb-card__list > a:first-child {
  border-top: 2px solid #EAE6DD;
}
.cb-card__list > a:not(:last-child) {
  border-bottom: 2px solid #EAE6DD;
}
.cb-card--ticket {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  max-width: 80vw;
  position: relative;
  overflow: visible;
}
.cb-card--ticket::after {
  background: linear-gradient(-20deg, transparent 10px, #ffffff 0), linear-gradient(20deg, transparent 10px, #ffffff 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 26px 20px;
  content: "";
  display: block;
  width: 100%;
  height: 13px;
  position: absolute;
  bottom: -13px;
  left: 0px;
}
.cb-nav {
  display: flex;
  background-color: #FFF;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.cb-nav > a {
  flex-grow: 1;
  font-size: 0.6875rem;
}
.cb-nav > a:hover {
  text-decoration: none;
}
.cb-nav > a.active {
  color: #FF7827;
}
.cb-nav > a > div {
  align-items: center;
  height: 72px;
  justify-content: center;
}
.cb-nav > a .cb-icon {
  font-size: 1.5rem;
}
.cb-backdrop {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: saturate(50%) blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}
.cb-navbar-top .ui-navbar ul {
  display: flex;
}
.cb-navbar-top .ui-navbar ul li {
  flex-grow: 1;
}
.cb-navbar-top .ui-navbar ul li .ui-btn {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  transition: box-shadow 0.2s;
  text-shadow: 0 0 0;
  color: #320000;
}
.cb-navbar-top .ui-navbar ul li .ui-btn.ui-btn-active {
  box-shadow: inset 0 -3px 0 0 #083E7C;
  color: #083E7C;
  font-weight: 600;
}
.cb-login {
  width: 100%;
  max-width: 300px;
}
