<fieldset class="cb-group cb-group-tabbed-v" ng-disabled="!editable">
  <div class="row">
    <div class="col-tab-items col-sm-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#amortizacion" data-toggle="tab">Amortización</a></li>
        <li><a href="#pago" data-toggle="tab">Pago</a></li>
      </ul>
    </div>
    <div class="cb-tab-content col-sm-10 tab-content">
      <div id="amortizacion" class="tab-pane active">
        <fieldset class="cb-group cb-group-simple cb-group-flex">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Monto aprobado</div>
                    <div class="cb-control cb-flex cb-gutters">
                      <div class="cb-grow">
                        <input type="number" kendo-numeric-text-box k-spinners="false" />
                      </div>
                      <div>
                        <select class="form-control" ng-model="selectedCurrency">
                            <option>USD</option>
                            <option>EUR</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Monto de desembolso</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="number" class="form-control text-right" value="1000" />
                        <span class="input-group-addon">{{ selectedCurrency }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Fecha valor inicio</div>
                    <div class="cb-control">
                      <input type="date" kendo-datepicker />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Fecha vencimiento 1ra. cuota</div>
                    <div class="cb-control">
                      <input type="date" kendo-datepicker />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Tasa</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="number" readonly class="form-control text-right" value="10" />
                        <span class="input-group-addon">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label"><abbr title="Tasa efectiva anual">TEA</abbr></div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="number" class="form-control text-right" readonly value="10.25" />
                        <span class="input-group-addon">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Cuota</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="number" readonly class="form-control text-right" />
                        <span class="input-group-addon">{{ selectedCurrency }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Tipo de cuota</div>
                    <div class="cb-control">
                      <select class="form-control">
                          <option></option>
                          <option>Fija (francesa)</option>
                          <option>Variable (Alemana)</option>
                          <option>Manual</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Plazo</div>
                    <div class="cb-control cb-flex cb-gutters">
                      <div class="cb-grow">
                        <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                      </div>
                      <div>
                        <select class="form-control">
                            <option>Días</option>
                            <option>Meses</option>
                            <option>Trimestres</option>
                            <option>Semestres</option>
                            <option>Años</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Fecha de pago fija</div>
                    <div class="cb-control">
                      <select class="form-control" ng-model="staticDate">
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4" ng-show="staticDate=='1'">
                  <div class="form-group cb-required">
                    <div class="control-label">Día de pago</div>
                    <div class="cb-control">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4" ng-show="staticDate=='1'">
                  <div class="form-group cb-required">
                    <div class="control-label">Mes de pago</div>
                    <div class="cb-control">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Período capital</div>
                    <div class="cb-control cb-flex cb-gutters">
                      <div class="cb-grow">
                        <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                      </div>
                      <div>
                        <select class="form-control">
                            <option>Días</option>
                            <option>Meses</option>
                            <option>Trimestres</option>
                            <option>Semestres</option>
                            <option>Años</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group cb-required">
                    <div class="control-label">Período de gracia capital</div>
                    <div class="cb-control cb-flex cb-gutters">
                      <div class="cb-grow">
                        <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                      </div>
                      <div>
                        <select class="form-control">
                            <option>Días</option>
                            <option>Meses</option>
                            <option>Trimestres</option>
                            <option>Semestres</option>
                            <option>Años</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Período interés</div>
                    <div class="cb-control cb-flex cb-gutters">
                      <div class="cb-grow">
                        <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                      </div>
                      <div>
                        <select class="form-control">
                            <option>Días</option>
                            <option>Meses</option>
                            <option>Trimestres</option>
                            <option>Semestres</option>
                            <option>Años</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group cb-required">
                    <div class="control-label">Período de gracia interés</div>
                    <div class="cb-control cb-flex cb-gutters">
                      <div class="cb-grow">
                        <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                      </div>
                      <div>
                        <select class="form-control">
                            <option>Días</option>
                            <option>Meses</option>
                            <option>Trimestres</option>
                            <option>Semestres</option>
                            <option>Años</option>
                          </select>
                      </div>
                    </div>
                    <div class="radio">
                      <label>
                      <input type="radio" name="en-cuota" checked> En primera cuota
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                      <input type="radio" name="en-cuota"> En cuotas restantes
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group cb-required">
                    <div class="control-label">Días de gracia de mora</div>
                    <div class="cb-control">
                      <div class="input-group">
                        <input type="number" class="form-control" />
                        <span class="input-group-addon">Días</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group cb-required">
                    <div class="control-label">Evitar feriados</div>
                    <div class="cb-control">
                      <select class="form-control">
                        <option></option>
                        <option>Si</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="cb-group cb-group-simple" ng-show="editable || create">
          <legend>Amortización</legend>
          <div>
            <kendo-grid options="amortizacion"></kendo-grid>
          </div>
        </fieldset>
      </div>
      <div id="pago" class="tab-pane">
        <fieldset class="cb-group cb-group-simple">
          <div>
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-4">
                  <fieldset class="cb-group cb-group-simple">
                    <div>
                      <div class="form-vertical">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="control-label">Tipo de pago</div>
                              <div class="cb-control">
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="tipo-pago"> Cuota
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="tipo-pago"> Rubro
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="control-label">Tipo de pago interés</div>
                              <div class="cb-control">
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="interes"> Acumulado
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="interes"> Proyectado
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="control-label">Débito a cuenta</div>
                              <div class="cb-control">
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="debit" value="1" ng-model="debit"> Sí
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="debit" value="0" ng-model="debit"> No
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group" ng-show="debit=='1'">
                              <div class="control-label">Cuenta a debitar</div>
                              <div class="cb-control">
                                <select class="form-control">
                                  <option>Ahorros #0245676598</option>
                                  <option>Corriente #0200002398</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="control-label">Tipo de abono (cuota actual)</div>
                    <div class="cb-control">
                      <div class="radio">
                        <label>
                        <input type="radio" name="fee"> Disminuye
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="fee"> Mantiene
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="control-label">Crédito</div>
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox"> Permite renovación
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox"> Permite precancelar
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" ng-model="transaction.additional"> Permite pagos adicionales
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox"> Permite solo pagos de cuota completa
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-show="transaction.additional">
                    <div class="control-label">Pagos adicionales</div>
                    <div class="cb-control">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" checked> Aplica solo al capital
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="adicional" ng-model="transaction.capital" value="normal"> Pago normal/adelantado
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="adicional" ng-model="transaction.capital" value="extraordinary"> Pago extraordinario
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-show="transaction.additional && transaction.capital == 'extraordinary'">
                    <div class="control-label">Pagos extraordinarios</div>
                    <div class="cb-control">
                      <div class="radio">
                        <label>
                        <input type="radio" name="extraordinarios"> Reducción de cuota
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="extraordinarios"> Reducción de tiempo
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <fieldset class="cb-group cb-group-simple">
                    <div>
                      <div class="form-vertical">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="control-label">Cambio de tasa</div>
                              <div class="cb-control">
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="exchange" ng-model="transaction.exchange" value="0"> Flotante
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="exchange" ng-model="transaction.exchange" value="1"> No reajustable
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                  <input type="radio" name="exchange" ng-model="transaction.exchange" value="2"> Períodico
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" ng-show="transaction.exchange == 2">
                            <div class="form-group">
                              <div class="control-label">Periodicidad</div>
                              <div class="cb-control cb-flex cb-gutters">
                                <div class="cb-grow">
                                  <input type="number" ng-model="amount" kendo-numeric-text-box k-spinners="false" k-format="c0" />
                                </div>
                                <div>
                                  <select class="form-control">
                                      <option>Días</option>
                                      <option>Meses</option>
                                      <option>Trimestres</option>
                                      <option>Semestres</option>
                                      <option>Años</option>
                                    </select>
                                </div>
                              </div>
                              <div class="radio">
                                <label>
                                <input type="radio" name="periodic"> Mantener cuota
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                <input type="radio" name="periodic"> Mantener plazo
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                <input type="radio" name="periodic"> Cuota final
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</fieldset>
