<fieldset class="cb-group cb-group-simple">
  <div>
    <div class="form-vertical">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Producto</div>
            <div class="cb-control">
              <select class="form-control"></select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Oficina</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" disabled />
                <span class="input-group-btn">
									<button class="btn btn-default" disabled><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Oficial</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" disabled />
                <span class="input-group-btn">
								    <button class="btn btn-default" disabled><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Destino Financiero</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" disabled />
                <span class="input-group-btn">
																			<button class="btn btn-default" disabled><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Destino Económico</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
																			<button class="btn btn-default"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Destino Geográfico</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
																			<button class="btn btn-default"><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Línea de crédito</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" disabled />
                <span class="input-group-btn">
																			<button class="btn btn-default" disabled><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Sector del Crédito</div>
            <div class="cb-control">
              <div class="input-group">
                <input type="text" class="form-control" disabled />
                <span class="input-group-btn">
								     <button class="btn btn-default" disabled><span class="fa fa-bars"></span></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group cb-required">
            <div class="control-label">Doble alícuota</div>
            <div class="cb-control">
              <div class="radio">
                <label>
								          <input type="radio" name="alicuota" value="1" ng-model="info.alicuota" class="ng-valid ng-dirty"> Si
							  </label>
              </div>
              <div class="radio">
                <label>
								          <input type="radio" name="alicuota" value="-1" checked ng-model="info.alicuota" class="ng-valid ng-dirty"> No
							  </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-8">
          <!-- ngIf: info.alicuota && info.alicuota!=-1 -->
          <div class="row ng-scope" ng-if="info.alicuota &amp;&amp; info.alicuota!=-1">
            <div class="col-sm-6 col-md-6">
              <div class="form-group cb-required">
                <div class="control-label">Cuenta Certificados</div>
                <div class="cb-control">
                  <select class="form-control"></select>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group cb-required">
                <div class="control-label">Alicuota Certificados</div>
                <div class="cb-control">
                  <select class="form-control"></select>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group cb-required">
                <div class="control-label">Cuenta de Ahorros</div>
                <div class="cb-control">
                  <select class="form-control"></select>
                </div>
              </div>
            </div>
            <!-- ngIf: info.alicuota!=0 -->
          </div>
          <!-- end ngIf: info.alicuota && info.alicuota!=-1 -->
        </div>
      </div>
    </div>
  </div>
</fieldset>
