<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme-terrabank.css" rel="stylesheet" />
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-toolbar cb-toolbar-top">
        <div class="cb-toolbar-content">
          <div id="task-title" class="cb-grow cb-text-ellipsis">
            <span id="task-badge" class="label label-default cb-text-sm" title="Codigo">ALOAN.1.08.003688</span>
            <span title="Proceso">AGILE LOAN</span>
            <span title="Version">(Version 10) / </span>
            <span title="Tarea">{{ title }}</span>
          </div>
          <div class="hidden-xs">
            <button class="btn btn-default"><span>Observations</span></button>
            <button class="btn btn-default"><span>Requirements</span></button>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span>Actions</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li ng-if="['1','3','5','7','9','9.5','10','12','13','14','15','16'].indexOf(step)!==-1"><a href="#">Continue</a></li>
                <li ng-if="['11'].indexOf(step)!==-1"><a href="#">Approve</a></li>
                <li ng-if="['1','3','5','7','9','9.5','10','11', '12'].indexOf(step)!==-1"><a href="#">Reject</a></li>
                <li ng-if="['2','4','6','8'].indexOf(step)!==-1"><a href="#">Retry</a></li>
              </ul>
            </div>
          </div>
          <div class="hidden-sm hidden-md hidden-lg">
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">More information</li>
                <li><a href="#">Observations</a></li>
                <li><a href="#">Requirements</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Actions</li>
                <li ng-if="['1','3','5','7','9','9.5','10','12','13','14','15','16'].indexOf(step)!==-1"><a href="#">Continue</a></li>
                <li ng-if="['11'].indexOf(step)!==-1"><a href="#">Approve</a></li>
                <li ng-if="['1','3','5','7','9','9.5','10','11', '12'].indexOf(step)!==-1"><a href="#">Reject</a></li>
                <li ng-if="['2','4','6','8'].indexOf(step)!==-1"><a href="#">Retry</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        Core Link
      </div>
    </div>
  </div>

  <div ng-include="'includes/popups.html'"></div>
  <div ng-include="'includes/templates.html'"></div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>
