<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../styles/theme.css" rel="stylesheet" />
  <style>
        .cb-notifications {
            width: 320px;
            max-height: 80vh;
        }
        .cb-notifications > li > a {
            padding: 16px;
            white-space: normal;
        }
        .cb-notifications-header {
            color: #333333;
            padding: 0 16px;
        }
        .cb-notifications-header h5 {
            font-weight: bold;
        }
        .cb-notifications-header a {
            color: #3071a9;
        }
        .cb-notification.cb-unread .cb-title {
            font-weight: bold;
        }
        .cb-notification.cb-unread .cb-status {
            width: 6px;
            min-width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: #ef7926;
            margin-left: 8px;
        }
        .cb-form-header .cb-notification .btn:not(.btn-primary) {
            background-color: #FFF;
            border-color: #3071a9;
            color: #3071a9;
        }
        .cb-form-header .cb-notification .btn.btn-primary {
            background-color: #3071a9;
            border-color: #193c5a;
            color: #FFF;
        }
        .cb-item-icon {
            border: 2px solid #FFF;
            border-radius: 20px;
            width: 40px;
            min-width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
      }
  </style>
</head>

<body ng-controller="controller">
  <div class="cb-view">
    <div class="cb-viewport cb-flex cb-column">
      <div class="cb-form-header cb-no-margin" ng-include="'../shared/header.html'"></div>
      <div class="k-tabstrip-wrapper cb-flex cb-grow">
        <div kendo-tab-strip="tabs" class="cb-flex cb-column cb-grow">
          <ul>
            <li class="k-state-active" ng-show="!editable">
              <a href="#">Resumen</a>
            </li>
            <li>
              <a href="#">Productos</a>
            </li>
            <li>
              <a href="#">Información</a>
            </li>
          </ul>
          <div class="cb-grow cb-scrollable">

          </div>
          <div class="cb-grow cb-scrollable">

          </div>
          <div class="cb-grow cb-scrollable">

          </div>
        </div>
      </div>
      <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;" ng-show="editable">
        <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <button class="btn btn-primary navbar-btn" data-dismiss="modal" ng-click="edit()">Guardar</button>
          <button class="btn btn-default navbar-btn" data-dismiss="modal" ng-click="editable=false">Cancelar</button>
        </nav>
      </div>
    </div>
  </div>

  <div id="captura-huella" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Captura de huellas digitales</h4>
        </div>
        <div class="modal-body">
          <div ng-if="!excepcionado && !capturing">
            <div class="form-group">
              <div class="control-label">Mano izquierda</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">1. Meñique</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">2. Anular</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">3. Corazón</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">4. Indice</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">5. Pulgar</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Mano derecha</div>
              <div class="cb-control">
                <div class="cb-flex cb-gutters">
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">6. Meñique</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">7. Anular</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">8. Corazón</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">9. Indice</div>
                  </div>
                  <div class="panel panel-default">
                    <img src="../../images/huella-digital.jpg" class="img-responsive" />
                    <div class="panel-footer small text-center">10. Pulgar</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!excepcionado && capturing">
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; left: 75px; top: 94px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; left: 107px; top: 44px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; left: 146px; top: 25px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; left: 186px; top: 34px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-danger" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; left: 258px; top: 108px; padding: 0;"><span class="fa fa-times"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; right: 75px; top: 94px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; right: 107px; top: 44px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; right: 146px; top: 25px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-success" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; right: 186px; top: 34px; padding: 0;"><span class="fa fa-check"></span></button>
            <button class="btn btn-danger" style="width: 26px; height: 26px; border-radius: 100px; box-sizing: border-box; position: absolute; right: 258px; top: 108px; padding: 0;"><span class="fa fa-times"></span></button>
            <img src="../../images/hands.svg" class="img-responsive" style="width: 500px; margin: auto; padding: 40px;" />
          </div>
          <div ng-show="excepcionado">
            <div class="form-group">
              <div class="control-label">Motivo de excepción</div>
              <div class="cb-control">
                <div class="input-group">
                  <input type="text" class="form-control" readonly />
                  <span class="input-group-btn">
                    <button class="btn btn-default"><span class="fa fa-bars"></span></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label">Observaciones</div>
              <div class="cb-control">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="cb-control">
              <div class="checkbox">
                <label>
                <input type="checkbox" checked ng-model="excepcionado"> Excepcionado
                </label>
              </div>
            </div>
          </div>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" ng-show="excepcionado" data-dismiss="modal">Aceptar</button>
              <button class="btn btn-primary navbar-btn" ng-show="!excepcionado && !capturing" ng-click="capturing=true">Capturar</button>
              <button class="btn btn-primary navbar-btn" ng-show="!excepcionado && capturing" ng-click="capturing=false">Finalizar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="huella" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Autorización</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="cb-flex cb-middle cb-center" style="min-height:150px; border:2px dashed #CCC; border-radius:5px;">
              <button ng-show="!captured" class="btn btn-primary" ng-click="captured=true">Capturar</button>
              <img ng-show="captured" src="../../images/huella-digital.jpg" class="img-responsive" />
            </div>
          </div>
          <fieldset class="cb-group cb-group-simple">
            <div class="form-vertical">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Login supervisor</div>
                    <div class="cb-control">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="control-label">Observaciones</div>
                    <div class="cb-control">
                      <textarea class="form-control"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="cb-navbar cb-navbar-bottom" style="margin-bottom: -15px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <button class="btn btn-primary navbar-btn" ng-click="authorize()">Aceptar</button>
              <button class="btn btn-default navbar-btn" data-dismiss="modal">Cancelar</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = '../../lib/';
  </script>
  <script src="../../lib/require.config.js"></script>
  <script data-main="controller" src="../../lib/require/require.js"></script>
</body>

</html>